<table class="uniform">
<tr>
<th>備品名</th>
<th colspan="2">品番</th>
<th width="50px">単価(税別)</th>
<th width="100">数量</th>
<th>画像</th>
<tr>
<th class="w200">応接セット</th>
<th colspan="2">AS-5</th>
<th>42,000</th>
<td><div align="center">
<input type="text" id="{$units['AS-5']}" name="{$units['AS-5']}" size="8" maxlength="8" value="{$foreign[$units['AS-5']] nocache}">
{if isset($message[$units['AS-5']])}<span class="linewarn">{$message[$units['AS-5']] nocache}</span>{/if}</div></td> 
<td><a href="/form/12/as-5.html" rel="shadowbox[group];"><img src="/images/common/ico_camera.png" alt="[画像]" /></a></td> 
</tr>
 
<tr>
<th rowspan="2" class="w200">応接セット</th>
<th colspan="2">AS-29(白)W</th>
<th rowspan="2">10,000</th>
<td><div align="center">
<input type="text" id="{$units['AS-29A']}" name="{$units['AS-29A']}" size="8" maxlength="8" value="{$foreign[$units['AS-29A']] nocache}">
{if isset($message[$units['AS-29A']])}<span class="linewarn">{$message[$units['AS-29A']] nocache}</span>{/if}</div></td>    
<td rowspan="2"><a href="/form/12/as-29.html" rel="shadowbox[group];"><img src="/images/common/ico_camera.png" alt="[画像]" /></a></td> 
</tr>
<tr>
<th colspan="2">AS-29(黒)BK</th>
<td><div align="center">
<input type="text" id="{$units['AS-29C']}" name="{$units['AS-29C']}" size="8" maxlength="8" value="{$foreign[$units['AS-29C']] nocache}">
{if isset($message[$units['AS-29C']])}<span class="linewarn">{$message[$units['AS-29C']] nocache}</span>{/if}</div></td>    
</tr>
<tr>
<th class="w200">ティーレストセット</th>
<th colspan="2">AS-38</th> 
<th>18,000</th>
<td><div align="center">
<input type="text" id="{$units['AS-38']}" name="{$units['AS-38']}" size="8" maxlength="8" value="{$foreign[$units['AS-38']] nocache}">
{if isset($message[$units['AS-38']])}<span class="linewarn">{$message[$units['AS-38']] nocache}</span>{/if}</div></td> 
<td><a href="/form/12/as-38.html" rel="shadowbox[group];"><img src="/images/common/ico_camera.png" alt="[画像]" /></a></td> 
<tr>
<th rowspan="2" class="w200">ティーレストセット</th>
<th colspan="2">AS-111(白) W</th>
<th rowspan="2">13,000</th>
<td><div align="center">
<input type="text" id="{$units['AS-111W']}" name="{$units['AS-111W']}" size="8" maxlength="8" value="{$foreign[$units['AS-111W']] nocache}">
{if isset($message[$units['AS-111W']])}<span class="linewarn">{$message[$units['AS-111W']] nocache}</span>{/if}</div></td> 
<td rowspan="2"><a href="/form/12/as-111.html" rel="shadowbox[group];"><img src="/images/common/ico_camera.png" alt="[画像]" /></a></td> 
<tr>
<th colspan="2">AS-111(黒) BK</th>
<td><div align="center">
<input type="text" id="{$units['AS-111BK']}" name="{$units['AS-111BK']}" size="8" maxlength="8" value="{$foreign[$units['AS-111BK']] nocache}">
{if isset($message[$units['AS-111BK']])}<span class="linewarn">{$message[$units['AS-111BK']] nocache}</span>{/if}</div></td> 
<tr>
<th class="w200">ハイカウンターセット</th>
<th colspan="2" class="w200">TS-960</th>
<th class="w200">16,000</th>
<td><div align="center">
<input type="text" id="{$units['TS-960']}" name="{$units['TS-960']}" size="8" maxlength="8" value="{$foreign[$units['TS-960']] nocache}">
{if isset($message[$units['TS-960']])}<span class="linewarn">{$message[$units['TS-960']] nocache}</span>{/if}</div></td> 
<td><a href="/form/12/as-960.html" rel="shadowbox[group];"><img src="/images/common/ico_camera.png" alt="[画像]" /></a></td> 
</tr>
<tr>
<th rowspan="8" class="w200">スタンド椅子</th>
<th rowspan="2" >BC-38 A(H450)</th>
<th>W(白)</th>
<th rowspan="8"><span class="style5">3,500</span></th>
<td><div align="center">
<input type="text" id="{$units['BC-38-AW']}" name="{$units['BC-38-AW']}" size="8" maxlength="8" value="{$foreign[$units['BC-38-AW']] nocache}">
{if isset($message[$units['BC-38-AW']])}<span class="linewarn">{$message[$units['BC-38-AW']] nocache}</span>{/if}</div></td> 
<td rowspan="8"><a href="/form/12/bc-38.html" rel="shadowbox[group];"><img src="/images/common/ico_camera.png" alt="[画像]" /></a></td> 
</tr>
<tr>
<th>BK(黒)</th>
<td><div align="center">
  <input type="text" id="{$units['BC-38-ABK']}" name="{$units['BC-38-ABK']}" size="8" maxlength="8" value="{$foreign[$units['BC-38-ABK']] nocache}">
  {if isset($message[$units['BC-38-ABK']])}<span class="linewarn">{$message[$units['BC-38-ABK']] nocache}</span>{/if}</div></td> 
</tr>
<tr>
<th rowspan="2" class="w200">BC-38 B(H500)</th>
<th>W(白)</th>
<td><div align="center">
<input type="text" id="{$units['BC-38-BW']}" name="{$units['BC-38-BW']}" size="8" maxlength="8" value="{$foreign[$units['BC-38-BW']] nocache}">
{if isset($message[$units['BC-38-BW']])}<span class="linewarn">{$message[$units['BC-38-BW']] nocache}</span>{/if}</div></td> 
</tr>
<tr>
<th>BK(黒)</th>
<td><div align="center">
<input type="text" id="{$units['BC-38-BBK']}" name="{$units['BC-38-BBK']}" size="8" maxlength="8" value="{$foreign[$units['BC-38-BBK']] nocache}">
{if isset($message[$units['BC-38-BBK']])}<span class="linewarn">{$message[$units['BC-38-BBK']] nocache}</span>{/if}</div></td> 
</tr>
<tr>
<th rowspan="2" class="w200">BC-38 C(H600)</th>
<th>W(白)</th>
<td><div align="center">
<input type="text" id="{$units['BC-38-CW']}" name="{$units['BC-38-CW']}" size="8" maxlength="8" value="{$foreign[$units['BC-38-CW']] nocache}">
{if isset($message[$units['BC-38-CW']])}<span class="linewarn">{$message[$units['BC-38-CW']] nocache}</span>{/if}</div></td> 
</tr>
<tr>
<th>BK(黒)</th>
<td><div align="center">
<input type="text" id="{$units['BC-38-CBK']}" name="{$units['BC-38-CBK']}" size="8" maxlength="8" value="{$foreign[$units['BC-38-CBK']] nocache}">
{if isset($message[$units['BC-38-CBK']])}<span class="linewarn">{$message[$units['BC-38-CBK']] nocache}</span>{/if}</div></td> 
</tr>
<tr>
<th rowspan="2" class="w200">BC-38 D(H750)</th>
<th>W(白)</th>
<td><div align="center">
<input type="text" id="{$units['BC-38-DW']}" name="{$units['BC-38-DW']}" size="8" maxlength="8" value="{$foreign[$units['BC-38-DW']] nocache}">
{if isset($message[$units['BC-38-DW']])}<span class="linewarn">{$message[$units['BC-38-DW']] nocache}</span>{/if}</div></td> 
</tr>
<tr>
<th>BK(黒)</th>
<td><div align="center">
<input type="text" id="{$units['BC-38-DBK']}" name="{$units['BC-38-DBK']}" size="8" maxlength="8" value="{$foreign[$units['BC-38-DBK']] nocache}">
{if isset($message[$units['BC-38-DBK']])}<span class="linewarn">{$message[$units['BC-38-DBK']] nocache}</span>{/if}</div></td> 
</tr>   

<tr>
<th rowspan="3" class="w200">パイプ椅子</th>
<th colspan="2">BC-107(茶)BR</th>
<th rowspan="3">600</th>
<td><div align="center">
<input type="text" id="{$units['BC-107-BR']}" name="{$units['BC-107-BR']}" size="8" maxlength="8" value="{$foreign[$units['BC-107-BR']] nocache}">
{if isset($message[$units['BC-107-BR']])}<span class="linewarn">{$message[$units['BC-107-BR']] nocache}</span>{/if}</div></td> 
<td rowspan="3"><a href="/form/12/bc-107.html" rel="shadowbox[group];"><img src="/images/common/ico_camera.png" alt="[画像]" /></a></td> 
</tr>
<tr>
<th colspan="2">BC-107(青)BL</th>
<td><div align="center">
<input type="text" id="{$units['BC-107-BL']}" name="{$units['BC-107-BL']}" size="8" maxlength="8" value="{$foreign[$units['BC-107-BL']] nocache}">
{if isset($message[$units['BC-107-BL']])}<span class="linewarn">{$message[$units['BC-107-BL']] nocache}</span>{/if}</div></td> 
</tr>    
<tr>
<th colspan="2">BC-107(白)W</th>
<td><div align="center">
<input type="text" id="{$units['BC-107-W']}" name="{$units['BC-107-W']}" size="8" maxlength="8" value="{$foreign[$units['BC-107-W']] nocache}">
{if isset($message[$units['BC-107-W']])}<span class="linewarn">{$message[$units['BC-107-W']] nocache}</span>{/if}</div></td> 
</tr> 
<tr>
<th rowspan="2" class="w200">受付カウンター(黒)</th>
<th colspan="2">GR-633-A</th>
<th rowspan="1">9,000</th>
<td><div align="center">
<input type="text" id="{$units['GR-633-A']}" name="{$units['GR-633-A']}" size="8" maxlength="8" value="{$foreign[$units['GR-633-A']] nocache}">
{if isset($message[$units['GR-633-A']])}<span class="linewarn">{$message[$units['GR-633-A']] nocache}</span>{/if}</div></td> 
<td rowspan="2"><a href="/form/12/gr-633.html" rel="shadowbox[group];"><img src="/images/common/ico_camera.png" alt="[画像]" /></a></td> 
</tr>
<tr>
<th colspan="2">GR-633-B</th>
<th rowspan="1">10,000</th>
<td><div align="center">
<input type="text" id="{$units['GR-633-B']}" name="{$units['GR-633-B']}" size="8" maxlength="8" value="{$foreign[$units['GR-633-B']] nocache}">
{if isset($message[$units['GR-633-B']])}<span class="linewarn">{$message[$units['GR-633-B']] nocache}</span>{/if}</div></td> 
</tr>    
<tr>
<th rowspan="2" class="w200">受付カウンター</th>
<th colspan="2">GR-601-A</th>
<th rowspan="1">6,000</th>
<td><div align="center">
<input type="text" id="{$units['GR-601-A']}" name="{$units['GR-601-A']}" size="8" maxlength="8" value="{$foreign[$units['GR-601-A']] nocache}">
{if isset($message[$units['GR-601-A']])}<span class="linewarn">{$message[$units['GR-601-A']] nocache}</span>{/if}</div></td> 
<td rowspan="2"><a href="/form/12/gr-601.html" rel="shadowbox[group];"><img src="/images/common/ico_camera.png" alt="[画像]" /></a></td> 
</tr>
<tr>
<th colspan="2">GR-601-B</th>
<th rowspan="1">7,000</th>
<td><div align="center">
<input type="text" id="{$units['GR-601-B']}" name="{$units['GR-601-B']}" size="8" maxlength="8" value="{$foreign[$units['GR-601-B']] nocache}">
{if isset($message[$units['GR-601-B']])}<span class="linewarn">{$message[$units['GR-601-B']] nocache}</span>{/if}</div></td> 
</tr>    
<tr>
<th rowspan="4" class="w200">ユニットカウンター</th>
<th colspan="2">GR-602-A</th>
<th rowspan="2">12,000</th>
<td><div align="center">
<input type="text" id="{$units['GR-602-A']}" name="{$units['GR-602-A']}" size="8" maxlength="8" value="{$foreign[$units['GR-602-A']] nocache}">
{if isset($message[$units['GR-602-A']])}<span class="linewarn">{$message[$units['GR-602-A']] nocache}</span>{/if}</div></td> 
<td rowspan="4"><a href="/form/12/gr-602.html" rel="shadowbox[group];"><img src="/images/common/ico_camera.png" alt="[画像]" /></a></td> 
</tr>
<tr>
<th colspan="2">GR-602-B</th>
<td><div align="center">
<input type="text" id="{$units['GR-602-B']}" name="{$units['GR-602-B']}" size="8" maxlength="8" value="{$foreign[$units['GR-602-B']] nocache}">
{if isset($message[$units['GR-602-B']])}<span class="linewarn">{$message[$units['GR-602-B']] nocache}</span>{/if}</div></td> 
</tr>    
<tr>
<th colspan="2">GR-635-A</th>
<th rowspan="2">13,000</th>
<td><div align="center">
<input type="text" id="{$units['GR-635-A']}" name="{$units['GR-635-A']}" size="8" maxlength="8" value="{$foreign[$units['GR-635-A']] nocache}">
{if isset($message[$units['GR-635-A']])}<span class="linewarn">{$message[$units['GR-635-A']] nocache}</span>{/if}</div></td> 
</tr>    
<tr>
<th colspan="2">GR-635-B</th>
<td><div align="center">
<input type="text" id="{$units['GR-635-B']}" name="{$units['GR-635-B']}" size="8" maxlength="8" value="{$foreign[$units['GR-635-B']] nocache}">
{if isset($message[$units['GR-635-B']])}<span class="linewarn">{$message[$units['GR-635-B']] nocache}</span>{/if}</div></td> 
</tr>    
<tr>
<th rowspan="3" class="w200">会議用テーブル</th>
<th colspan="2">DT-332</th>
<th rowspan="3">3,500</th>
<td><div align="center">
<input type="text" id="{$units['DT-332']}" name="{$units['DT-332']}" size="8" maxlength="8" value="{$foreign[$units['DT-332']] nocache}">
{if isset($message[$units['DT-332']])}<span class="linewarn">{$message[$units['DT-332']] nocache}</span>{/if}</div></td> 
<td rowspan="3"><a href="/form/12/dt-332.html" rel="shadowbox[group];"><img src="/images/common/ico_camera.png" alt="[画像]" /></a></td> 
</tr>
<tr>
<th colspan="2">DT-334</th>
<td><div align="center">
<input type="text" id="{$units['DT-334']}" name="{$units['DT-334']}" size="8" maxlength="8" value="{$foreign[$units['DT-334']] nocache}">
{if isset($message[$units['DT-334']])}<span class="linewarn">{$message[$units['DT-334']] nocache}</span>{/if}</div></td> 
</tr>    
<tr>
<th colspan="2">DT-335</th>
<td><div align="center">
<input type="text" id="{$units['DT-335']}" name="{$units['DT-335']}" size="8" maxlength="8" value="{$foreign[$units['DT-335']] nocache}">
{if isset($message[$units['DT-335']])}<span class="linewarn">{$message[$units['DT-335']] nocache}</span>{/if}</div></td> 
</tr>    
<tr>
<th rowspan="3" class="w200">丸テーブル(白)</th>
<th colspan="2">DT-330-S</th>
<th rowspan="3">4,000</th>
<td><div align="center">
<input type="text" id="{$units['DT-330-S']}" name="{$units['DT-330-S']}" size="8" maxlength="8" value="{$foreign[$units['DT-330-S']] nocache}">
{if isset($message[$units['DT-330-S']])}<span class="linewarn">{$message[$units['DT-330-S']] nocache}</span>{/if}</div></td> 
<td rowspan="3"><a href="/form/12/dt-330.html" rel="shadowbox[group];"><img src="/images/common/ico_camera.png" alt="[画像]" /></a></td> 
</tr>
<tr>
<th colspan="2">DT-330-M</th>
<td><div align="center">
<input type="text" id="{$units['DT-330-M']}" name="{$units['DT-330-M']}" size="8" maxlength="8" value="{$foreign[$units['DT-330-M']] nocache}">
{if isset($message[$units['DT-330-M']])}<span class="linewarn">{$message[$units['DT-330-M']] nocache}</span>{/if}</div></td> 
</tr>    
<tr>
<th colspan="2">DT-330-L</th>
<td><div align="center">
<input type="text" id="{$units['DT-330-L']}" name="{$units['DT-330-L']}" size="8" maxlength="8" value="{$foreign[$units['DT-330-L']] nocache}">
{if isset($message[$units['DT-330-L']])}<span class="linewarn">{$message[$units['DT-330-L']] nocache}</span>{/if}</div></td> 
</tr>    
<tr>
<th class="w200">商談テーブル(白)</th>
<th colspan="2">DT-326</th>
<th >1,500</th>
<td><div align="center">
<input type="text" id="{$units['DT-326']}" name="{$units['DT-326']}" size="8" maxlength="8" value="{$foreign[$units['DT-326']] nocache}">
{if isset($message[$units['DT-326']])}<span class="linewarn">{$message[$units['DT-326']] nocache}</span>{/if}</div></td> 
<td><a href="/form/12/dt-326.html" rel="shadowbox[group];"><img src="/images/common/ico_camera.png" alt="[画像]" /></a></td> 
</tr>
<tr>
<th rowspan="2" class="w200">角テーブル(黒)</th>
<th colspan="2">GR-328-S</th>
<th rowspan="2">3,000</th>
<td><div align="center">
<input type="text" id="{$units['GR-328-S']}" name="{$units['GR-328-S']}" size="8" maxlength="8" value="{$foreign[$units['GR-328-S']] nocache}">
{if isset($message[$units['GR-328-S']])}<span class="linewarn">{$message[$units['GR-328-S']] nocache}</span>{/if}</div></td> 
<td rowspan="2"><a href="/form/12/gr-328.html" rel="shadowbox[group];"><img src="/images/common/ico_camera.png" alt="[画像]" /></a></td> 
</tr>
<tr>
<th colspan="2">GR-328-L</th>
<td><div align="center">
<input type="text" id="{$units['GR-328-L']}" name="{$units['GR-328-L']}" size="8" maxlength="8" value="{$foreign[$units['GR-328-L']] nocache}">
{if isset($message[$units['GR-328-L']])}<span class="linewarn">{$message[$units['GR-328-L']] nocache}</span>{/if}</div></td> 
</tr> 
   
<tr>
<th rowspan="3" class="w200">ベルトパーティーション</th>
<th colspan="2">EP-488-R(赤)</th>
<th rowspan="3">6,500</th>
<td><div align="center">
<input type="text" id="{$units['EP-488-R']}" name="{$units['EP-488-R']}" size="8" maxlength="8" value="{$foreign[$units['EP-488-R']] nocache}">
{if isset($message[$units['EP-488-R']])}<span class="linewarn">{$message[$units['EP-488-R']] nocache}</span>{/if}</div></td> 
<td rowspan="3"><a href="/form/12/ep-488.html" rel="shadowbox[group];"><img src="/images/common/ico_camera.png" alt="[画像]" /></a></td> 
</tr>
<tr>
<th colspan="2">EP-488-BL(青)</th>
<td><div align="center">
<input type="text" id="{$units['EP-488-BL']}" name="{$units['EP-488-BL']}" size="8" maxlength="8" value="{$foreign[$units['EP-488-BL']] nocache}">
{if isset($message[$units['EP-488-BL']])}<span class="linewarn">{$message[$units['EP-488-BL']] nocache}</span>{/if}</div></td>
</tr>
<tr>
<th colspan="2">EP-488-BR(黒)</th>
<td><div align="center">
<input type="text" id="{$units['EP-488-BR']}" name="{$units['EP-488-BR']}" size="8" maxlength="8" value="{$foreign[$units['EP-488-BR']] nocache}">
{if isset($message[$units['EP-488-BR']])}<span class="linewarn">{$message[$units['EP-488-BR']] nocache}</span>{/if}</div></td>
</tr>

<tr>
<th rowspan="3" class="w200">ローパーティーション</th>
<th colspan="2">EP-8488-R(赤)</th>
<th rowspan="3">6,500</th>
<td><div align="center">
<input type="text" id="{$units['EP-8488-R']}" name="{$units['EP-8488-R']}" size="8" maxlength="8" value="{$foreign[$units['EP-8488-R']] nocache}">
{if isset($message[$units['EP-8488-R']])}<span class="linewarn">{$message[$units['EP-8488-R']] nocache}</span>{/if}</div></td> 
<td rowspan="3"><a href="/form/12/ep-8488.html" rel="shadowbox[group];"><img src="/images/common/ico_camera.png" alt="[画像]" /></a></td> 
</tr>
<tr>
<th colspan="2">EP-8488-BL(青)</th>
<td><div align="center">
<input type="text" id="{$units['EP-8488-BL']}" name="{$units['EP-8488-BL']}" size="8" maxlength="8" value="{$foreign[$units['EP-8488-BL']] nocache}">
{if isset($message[$units['EP-8488-BL']])}<span class="linewarn">{$message[$units['EP-8488-BL']] nocache}</span>{/if}</div></td>
</tr>
<tr>
<th colspan="2">EP-8488-BR(黒)</th>
<td><div align="center">
<input type="text" id="{$units['EP-8488-BR']}" name="{$units['EP-8488-BR']}" size="8" maxlength="8" value="{$foreign[$units['EP-8488-BR']] nocache}">
{if isset($message[$units['EP-8488-BR']])}<span class="linewarn">{$message[$units['EP-8488-BR']] nocache}</span>{/if}</div></td>
</tr>

<tr>
<th class="w200">ポールパーティーション</th>
<th colspan="2">EP-421</th>
<th >2,000</th>
<td><div align="center">
<input type="text" id="{$units['EP-421']}" name="{$units['EP-421']}" size="8" maxlength="8" value="{$foreign[$units['EP-421']] nocache}">
{if isset($message[$units['EP-421']])}<span class="linewarn">{$message[$units['EP-421']] nocache}</span>{/if}</div></td>
<td><a href="/form/12/ep-421.html" rel="shadowbox[group];"><img src="/images/common/ico_camera.png" alt="[画像]" /></a></td> 
</tr>

<tr>
<th class="w200">ローパーティーション</th>
<th colspan="2">EP-422</th>
<th >2,000</th>
<td><div align="center">
<input type="text" id="{$units['EP-422']}" name="{$units['EP-422']}" size="8" maxlength="8" value="{$foreign[$units['EP-422']] nocache}">
{if isset($message[$units['EP-422']])}<span class="linewarn">{$message[$units['EP-422']] nocache}</span>{/if}</div></td>
<td><a href="/form/12/ep-422.html" rel="shadowbox[group];"><img src="/images/common/ico_camera.png" alt="[画像]" /></a></td> 
</tr>

<tr>
<th rowspan="6" class="w200">ポール用チェーン 1m</th>
<th colspan="2">EP-425-C</th>
<th rowspan="6">300</th>
<td><div align="center">
<input type="text" id="{$units['EP-425-C']}" name="{$units['EP-425-C']}" size="8" maxlength="8" value="{$foreign[$units['EP-425-C']] nocache}">
{if isset($message[$units['EP-425-C']])}<span class="linewarn">{$message[$units['EP-425-C']] nocache}</span>{/if}</div></td>
<td rowspan="6"><a href="/form/12/ep-425.html" rel="shadowbox[group];"><img src="/images/common/ico_camera.png" alt="[画像]" /></a></td> 
</tr>
<tr>
<th colspan="2">EP-425-D</th>
<td><div align="center">
<input type="text" id="{$units['EP-425-D']}" name="{$units['EP-425-D']}" size="8" maxlength="8" value="{$foreign[$units['EP-425-D']] nocache}">
{if isset($message[$units['EP-425-D']])}<span class="linewarn">{$message[$units['EP-425-D']] nocache}</span>{/if}</div></td>
</tr>    
<tr>
<th colspan="2">EP-425-E</th>
<td><div align="center">
<input type="text" id="{$units['EP-425-E']}" name="{$units['EP-425-E']}" size="8" maxlength="8" value="{$foreign[$units['EP-425-E']] nocache}">
{if isset($message[$units['EP-425-E']])}<span class="linewarn">{$message[$units['EP-425-E']] nocache}</span>{/if}</div></td>
</tr>    
<tr>
<th colspan="2">EP-425-F</th>
<td><div align="center">
<input type="text" id="{$units['EP-425-F']}" name="{$units['EP-425-F']}" size="8" maxlength="8" value="{$foreign[$units['EP-425-F']] nocache}">
{if isset($message[$units['EP-425-F']])}<span class="linewarn">{$message[$units['EP-425-F']] nocache}</span>{/if}</div></td>
</tr>    
<tr>
<th colspan="2">EP-425-G</th>
<td><div align="center">
<input type="text" id="{$units['EP-425-G']}" name="{$units['EP-425-G']}" size="8" maxlength="8" value="{$foreign[$units['EP-425-G']] nocache}">
{if isset($message[$units['EP-425-G']])}<span class="linewarn">{$message[$units['EP-425-G']] nocache}</span>{/if}</div></td>
</tr>    
<tr>
<th colspan="2">EP-425-H</th>
<td><div align="center">
<input type="text" id="{$units['EP-425-H']}" name="{$units['EP-425-H']}" size="8" maxlength="8" value="{$foreign[$units['EP-425-H']] nocache}">
{if isset($message[$units['EP-425-H']])}<span class="linewarn">{$message[$units['EP-425-H']] nocache}</span>{/if}</div></td>
</tr>

<tr>
<th rowspan="1" class="w200">姿見</th>
<th colspan="2">FF-559</th>
<th rowspan="1">4,500</th>
<td><div align="center">
<input type="text" id="{$units['FF-559']}" name="{$units['FF-559']}" size="8" maxlength="8" value="{$foreign[$units['FF-559']] nocache}">
{if isset($message[$units['FF-559']])}<span class="linewarn">{$message[$units['FF-559']] nocache}</span>{/if}</div></td>
<td><a href="/form/12/ff-559.html" rel="shadowbox[group];"><img src="/images/common/ico_camera.png" alt="[画像]" /></a></td> 
</tr>
<tr>
<th rowspan="1" class="w200">卓上鏡</th>
<th colspan="2">FF-549-A</th>
<th rowspan="1">2,000</th>
<td><div align="center">
<input type="text" id="{$units['FF-549-A']}" name="{$units['FF-549-A']}" size="8" maxlength="8" value="{$foreign[$units['FF-549-A']] nocache}">
{if isset($message[$units['FF-549-A']])}<span class="linewarn">{$message[$units['FF-549-A']] nocache}</span>{/if}</div></td>
<td><a href="/form/12/ff-549.html" rel="shadowbox[group];"><img src="/images/common/ico_camera.png" alt="[画像]" /></a></td> 
</tr>
<tr>
<th rowspan="2" class="w200">カタログスタンド</br>(A4用/B4用)</th>
<th colspan="2">ES-446-A</th>
<th rowspan="2">5,500</th>
<td><div align="center">
<input type="text" id="{$units['ES-446-A']}" name="{$units['ES-446-A']}" size="8" maxlength="8" value="{$foreign[$units['ES-446-A']] nocache}">
{if isset($message[$units['ES-446-A']])}<span class="linewarn">{$message[$units['ES-446-A']] nocache}</span>{/if}</div></td>
<td rowspan="2"><a href="/form/12/es-446.html" rel="shadowbox[group];"><img src="/images/common/ico_camera.png" alt="[画像]" /></a></td> 
</tr>
<tr>
<th colspan="2">ES-447</th>
<td><div align="center">
<input type="text" id="{$units['ES-447']}" name="{$units['ES-447']}" size="8" maxlength="8" value="{$foreign[$units['ES-447']] nocache}">
{if isset($message[$units['ES-447']])}<span class="linewarn">{$message[$units['ES-447']] nocache}</span>{/if}</div></td>
</tr>    
<tr>
<th rowspan="1" class="w200">卓上カタログスタンド</th>
<th colspan="2">ES-469-A</th>
<th rowspan="1">1,500</th>
<td><div align="center">
<input type="text" id="{$units['ES-469-A']}" name="{$units['ES-469-A']}" size="8" maxlength="8" value="{$foreign[$units['ES-469-A']] nocache}">
{if isset($message[$units['ES-469-A']])}<span class="linewarn">{$message[$units['ES-469-A']] nocache}</span>{/if}</div></td>
<td><a href="/form/12/es-469.html" rel="shadowbox[group];"><img src="/images/common/ico_camera.png" alt="[画像]" /></a></td> 
</tr>
<tr>
<th rowspan="2" class="w200">パネルスタンド</th>
<th colspan="2">ES-439-A</th>
<th rowspan="2">2,500</th>
<td><div align="center">
<input type="text" id="{$units['ES-439-A']}" name="{$units['ES-439-A']}" size="8" maxlength="8" value="{$foreign[$units['ES-439-A']] nocache}">
{if isset($message[$units['ES-439-A']])}<span class="linewarn">{$message[$units['ES-439-A']] nocache}</span>{/if}</div></td>
<td rowspan="2"><a href="/form/12/es-439.html" rel="shadowbox[group];"><img src="/images/common/ico_camera.png" alt="[画像]" /></a></td> 
</tr>
<tr>
<th colspan="2">ES-439-B</th>
<td><div align="center">
<input type="text" id="{$units['ES-439-B']}" name="{$units['ES-439-B']}" size="8" maxlength="8" value="{$foreign[$units['ES-439-B']] nocache}">
{if isset($message[$units['ES-439-B']])}<span class="linewarn">{$message[$units['ES-439-B']] nocache}</span>{/if}</div></td>
</tr>    
<tr>
<th rowspan="1" class="w200">シングルハンガー</th>
<th colspan="2">FF-553</th>
<th rowspan="1">4,500</th>
<td><div align="center">
<input type="text" id="{$units['FF-553']}" name="{$units['FF-553']}" size="8" maxlength="8" value="{$foreign[$units['FF-553']] nocache}">
{if isset($message[$units['FF-553']])}<span class="linewarn">{$message[$units['FF-553']] nocache}</span>{/if}</div></td>
<td><a href="/form/12/ff-553.html" rel="shadowbox[group];"><img src="/images/common/ico_camera.png" alt="[画像]" /></a></td> 
</tr>

<tr>
<th rowspan="2" class="w200">平台</th>
<th colspan="2">FF-502-M</th>
<th rowspan="1">6,500</th>
<td><div align="center">
<input type="text" id="{$units['FF-502-M']}" name="{$units['FF-502-M']}" size="8" maxlength="8" value="{$foreign[$units['FF-502-M']] nocache}">
{if isset($message[$units['FF-502-M']])}<span class="linewarn">{$message[$units['FF-502-M']] nocache}</span>{/if}</div></td>
<td rowspan="2"><a href="/form/12/ff-502.html" rel="shadowbox[group];"><img src="/images/common/ico_camera.png" alt="[画>像]" /></a></td>
</tr>
<tr>
<th colspan="2">FF-502-L</th>
<th rowspan="1">6,500</th>
<td><div align="center">
<input type="text" id="{$units['FF-502-L']}" name="{$units['FF-502-L']}" size="8" maxlength="8" value="{$foreign[$units['FF-502-L']] nocache}">
{if isset($message[$units['FF-502-L']])}<span class="linewarn">{$message[$units['FF-502-L']] nocache}</span>{/if}</div></td>
</tr>

<tr>
<th rowspan="2" class="w200">Gケース</th>
<th colspan="2">FF-510-M</th>
<th rowspan="1">16,000</th>
<td><div align="center">
<input type="text" id="{$units['FF-510-M']}" name="{$units['FF-510-M']}" size="8" maxlength="8" value="{$foreign[$units['FF-510-M']] nocache}">
{if isset($message[$units['FF-510-M']])}<span class="linewarn">{$message[$units['FF-510-M']] nocache}</span>{/if}</div></td>
<td rowspan="2"><a href="/form/12/ff-510.html" rel="shadowbox[group];"><img src="/images/common/ico_camera.png" alt="[画像]" /></a></td> 
</tr>
<tr>
<th colspan="2">FF-510-L</th>
<th rowspan="1">19,000</th>
<td><div align="center">
<input type="text" id="{$units['FF-510-L']}" name="{$units['FF-510-L']}" size="8" maxlength="8" value="{$foreign[$units['FF-510-L']] nocache}">
{if isset($message[$units['FF-510-L']])}<span class="linewarn">{$message[$units['FF-510-L']] nocache}</span>{/if}</div></td>
</tr>

<tr>
<th rowspan="1" class="w200">カウンターケース</th>
<th colspan="2">FF-508</th>
<th rowspan="1">23,000</th>
<td><div align="center">
<input type="text" id="{$units['FF-508']}" name="{$units['FF-508']}" size="8" maxlength="8" value="{$foreign[$units['FF-508']] nocache}">
{if isset($message[$units['FF-508']])}<span class="linewarn">{$message[$units['FF-508']] nocache}</span>{/if}</div></td>
<td><a href="/form/12/ff-508.html" rel="shadowbox[group];"><img src="/images/common/ico_camera.png" alt="[画像]" /></a></td>
</tr>
  
<tr>
<th rowspan="2" class="w200">スーパーエレクター</th>
<th colspan="2">FF-7538-A</th>
<th rowspan="1">5,000</th>
<td><div align="center">
<input type="text" id="{$units['FF-7538-A']}" name="{$units['FF-7538-A']}" size="8" maxlength="8" value="{$foreign[$units['FF-7538-A']] nocache}">
{if isset($message[$units['FF-7538-A']])}<span class="linewarn">{$message[$units['FF-7538-A']] nocache}</span>{/if}</div></td>
<td rowspan="2"><a href="/form/12/ff-7538.html" rel="shadowbox[group];"><img src="/images/common/ico_camera.png" alt="[画像]" /></a></td>
</tr>
<tr>
<th colspan="2">FF-7538-B</th>
<th rowspan="1">7,000</th>
<td><div align="center">
<input type="text" id="{$units['FF-7538-B']}" name="{$units['FF-7538-B']}" size="8" maxlength="8" value="{$foreign[$units['FF-7538-B']] nocache}">
{if isset($message[$units['FF-7538-B']])}<span class="linewarn">{$message[$units['FF-7538-B']] nocache}</span>{/if}</div></td>
</tr>

<tr>
<th rowspan="2" class="w200">メッシュパネル(S)</th>
<th colspan="2">FF-532-SW(白)</th>
<th rowspan="2">2,500</th>
<td><div align="center">
<input type="text" id="{$units['FF-532-SW']}" name="{$units['FF-532-SW']}" size="8" maxlength="8" value="{$foreign[$units['FF-532-SW']] nocache}">
{if isset($message[$units['FF-532-SW']])}<span class="linewarn">{$message[$units['FF-532-SW']] nocache}</span>{/if}</div></td>
<td rowspan="4"><a href="/form/12/ff-532.html" rel="shadowbox[group];"><img src="/images/common/ico_camera.png" alt="[画像]" /></a></td> 
</tr>
<tr>
<th colspan="2">FF-532-SBK(黒)</th>
<td><div align="center">
<input type="text" id="{$units['FF-532-SBK']}" name="{$units['FF-532-SBK']}" size="8" maxlength="8" value="{$foreign[$units['FF-532-SBK']] nocache}">
{if isset($message[$units['FF-532-SBK']])}<span class="linewarn">{$message[$units['FF-532-SBK']] nocache}</span>{/if}</div></td>
</tr>    

<tr>
<th rowspan="2" class="w200">メッシュパネル(L)</th>
<th colspan="2">FF-532-LW(白)</th>
<th rowspan="2">5,500</th>
<td><div align="center">
<input type="text" id="{$units['FF-532-LW']}" name="{$units['FF-532-LW']}" size="8" maxlength="8" value="{$foreign[$units['FF-532-LW']] nocache}">
{if isset($message[$units['FF-532-LW']])}<span class="linewarn">{$message[$units['FF-532-LW']] nocache}</span>{/if}</div></td>
</tr>    
<tr>
<th colspan="2">FF-532-LBK(黒)</th>
<td><div align="center">
<input type="text" id="{$units['FF-532-LBK']}" name="{$units['FF-532-LBK']}" size="8" maxlength="8" value="{$foreign[$units['FF-532-LBK']] nocache}">
{if isset($message[$units['FF-532-LBK']])}<span class="linewarn">{$message[$units['FF-532-LBK']] nocache}</span>{/if}</div></td>
</tr> 
   
<tr>
<th rowspan="1" class="w200">メッシュパネル用フックL150</th>
<th colspan="2">FF-555</th>
<th rowspan="1">200</th>
<td><div align="center">
<input type="text" id="{$units['FF-555']}" name="{$units['FF-555']}" size="8" maxlength="8" value="{$foreign[$units['FF-555']] nocache}">
{if isset($message[$units['FF-555']])}<span class="linewarn">{$message[$units['FF-555']] nocache}</span>{/if}</div></td>
<td><a href="/form/12/ff-555.html" rel="shadowbox[group];"><img src="/images/common/ico_camera.png" alt="[画像]" /></a></td>
</tr>

<tr>
<th rowspan="2" class="w200">スチール棚</th>
<th colspan="2">CO-230-S</th>
<th rowspan="2">6,500</th>
<td><div align="center">
<input type="text" id="{$units['CO-230-S']}" name="{$units['CO-230-S']}" size="8" maxlength="8" value="{$foreign[$units['CO-230-S']] nocache}">
{if isset($message[$units['CO-230-S']])}<span class="linewarn">{$message[$units['CO-230-S']] nocache}</span>{/if}</div></td>
<td rowspan="2"><a href="/form/12/co-230.html" rel="shadowbox[group];"><img src="/images/common/ico_camera.png" alt="[画像]" /></a></td> 
</tr>
<tr>
<th colspan="2">CO-230-L</th>
<td><div align="center">
<input type="text" id="{$units['CO-230-L']}" name="{$units['CO-230-L']}" size="8" maxlength="8" value="{$foreign[$units['CO-230-L']] nocache}">
{if isset($message[$units['CO-230-L']])}<span class="linewarn">{$message[$units['CO-230-L']] nocache}</span>{/if}</div></td>
</tr>

<tr>
<th rowspan="1" class="w200">ダストボックス</th>
<th colspan="2">JQ-856</th>
<th rowspan="1">2,500</th>
<td><div align="center">
<input type="text" id="{$units['JQ-856']}" name="{$units['JQ-856']}" size="8" maxlength="8" value="{$foreign[$units['JQ-856']] nocache}">
{if isset($message[$units['JQ-856']])}<span class="linewarn">{$message[$units['JQ-856']] nocache}</span>{/if}</div></td>
<td><a href="/form/12/jq-856.html" rel="shadowbox[group];"><img src="/images/common/ico_camera.png" alt="[画像]" /></a></td> 
</tr>

<tr>
<th rowspan="1" class="w200">貴名受け</th>
<th colspan="2">JQ-832</th>
<th rowspan="1">1,500</th>
<td><div align="center">
<input type="text" id="{$units['JQ-832']}" name="{$units['JQ-832']}" size="8" maxlength="8" value="{$foreign[$units['JQ-832']] nocache}">
{if isset($message[$units['JQ-832']])}<span class="linewarn">{$message[$units['JQ-832']] nocache}</span>{/if}</div></td>
<td><a href="/form/12/jq-832.html" rel="shadowbox[group];"><img src="/images/common/ico_camera.png" alt="[画像]" /></a></td> 
</tr>

<tr>
<th rowspan="1" class="w200">白布1350巾1m</th>
<th colspan="2">JQ-892</th>
<th rowspan="1">800</th>
<td><div align="center">
<input type="text" id="{$units['JQ-892']}" name="{$units['JQ-892']}" size="8" maxlength="8" value="{$foreign[$units['JQ-892']] nocache}">
{if isset($message[$units['JQ-892']])}<span class="linewarn">{$message[$units['JQ-892']] nocache}</span>{/if}</div></td>
<td><a href="/form/12/jq-892.html" rel="shadowbox[group];"><img src="/images/common/ico_camera.png" alt="[画像]" /></a></td>
</tr>

<tr><td colspan="7" bgcolor="#ffdab9">※商品サイズ、カラー、仕様等の詳細についてはお問い合わせください。<br />
※上記の商品以外にもご用意できますので、お気軽にご相談下さい。<br />
※万が一、商品の破損が発生した場合は、実費をご請求させて頂きます。予めご了承ください。<br />
</td></tr>
</table>
