<table class="uniform">
<thead>
<tr><th colspan="2">清掃内容</th></tr>
</thead>
<tbody>
<tr>
<th class="w200">清掃時間帯</th>
<td>
<p>以下の時間帯で順次清掃をおこないます。<br/>※時間外での清掃は行いませんので、あらかじめご注意ください。</p>
<ul>
<li><span class="red"><b>2020年01月09日(木)20:00～24:00</b></span></li>
<li><span class="red"><b>2020年01月10日(金)19:30～21:00</b></span></li>
<li><span class="red"><b>2020年01月11日(土)19:30～21:00</b></span></li>
</ul>
</td>
</tr>
<tr>
<th class="w200">清掃料金</th>
<td>
<p>2020年01月09日～2020年01月11日の期間1小間当たり<br/><span class="blue"><b>&yen;2,400-(税込)</b></span></p>
</td>
</tr>
<tr>
<th class="w200">清掃内容</th>
<td>床面の掃除機かけのみです。（展示物等の清掃は含まれません）</td>
</tr>
<tr>
<th class="w200">清掃希望小間数</th>
<td>
<input name="cleanbooth" id="cleanbooth"  type="text" value="{$foreign.cleanbooth nocache}" />小間<br/>
<p>施工撤去の際に出る廃材がある場合には別途料金にて承ります。</p>
<p>当日はお受けできませんので、事前にご相談ください。</p>
</td>
</tr>
</tbody>
</table>
