<table class="uniform">
<caption>表5-1. 1小間/1スペースあたりのパスの配布数</caption>
<thead>
<tr><th colspan="2" class="center">ブース種別</th><th class="center">出展者パス・搬入出リボン</th><th class="center">搬入出車両証</th></tr>
</thead>
<tbody>
<tr><td class="center">B・Fスペース</td><td class="center">1スペース</td><td class="center">5枚</td><td class="center">2枚</td></tr>
<tr><td class="center">A・Cスペース</td><td class="center">1～3小間</td><td class="center">7枚</td><td class="center">5枚</td></tr>
<tr><td class="center">A・Cスペース</td><td class="center">4〜5小間</td><td class="center">12枚</td><td class="center">10枚</td></tr>
<tr><td class="center">Dスペース</td><td class="center">6～9小間</td><td class="center">25枚</td><td class="center">15枚</td></tr>
<tr><td class="center">Dスペース</td><td class="center">10小間以上</td><td class="center">35枚</td><td class="center">20枚</td></tr>
<tr><td class="center">Eスペース</td><td class="center">1スペース</td><td class="center">5枚</td><td class="center">3枚</td></tr>
<tr><td class="center">Sスペース</td><td class="center">300㎡まで</td><td class="center">60枚</td><td class="center">50枚</td></tr>
<tr><td class="center">Sスペース</td><td class="center">450㎡以上</td><td class="center">100枚</td><td class="center">50枚</td></tr>
</tbody>
</table>

<table class="uniform">
<caption>表5-2. 1小間/1スペースあたりの招待券の配布数</caption>
<thead>
<th class="center">ブース種別</th><th class="center">特別招待券</th><th class="center">一般招待券</th></tr>
</thead>
<tbody>
<tr><td class="center">A・B・C・D・E・Fスペース</td><td class="center">1小間/1スペースあたり 10枚</td><td class="center">1小間/1スペースあたり 10枚</td></tr>
<tr><td class="center">Sスペース</td><td class="center">10㎡あたり 10枚</td><td class="center">10㎡あたり 10枚</td></tr>
</tbody>
</table>
<p>※小間展示スペース(A・C・D・E・Sスペース)と車両専用展示スペース(B・Fスペース)の双方にご出展される場合は、双方の合計枚数を配布いたします。</p>
