<ul class="mnav">

<!--
 <li class="lv1 n5"><h3><img src="/images/common/ico_08.png" width="20" height="20" alt="出展者特典" />出展者特典</h3><ul>
  <li class="lv3"><a href="{uri_folder_string()}/minkara"><img src="/images/common/btn_left_minkara.gif" alt="みんカラ×オートサロン" /></a><br />
  新しいPRツールをご活用下さい！</li>
  <li class="lv3"><a href="http://www.p-kit.com/hp/auto-culture/" target="_blank"><img src="/images/common/btn_left_labo.gif" alt="みんカラ×オートサロン" /></a><br />
  マーケティング・商品開発・広告・SP・PRに携わる方必携</li>
 </ul></li>
-->

 <li class="lv1 n5"><h3><img src="/images/common/ico_01.png" width="20" height="20" alt="出展者情報" />出展者情報</h3><ul>
  <li><a href="{uri_folder_string()}/">申込詳細</a></li>
  <li><a href="{uri_folder_string()}/billing">請求先追加登録</a></li>
 </ul></li>

 <li class="lv1 n5"><h3><img src="/images/common/ico_08.png" width="20" height="20" alt="各種手続" />各種手続</h3><ul>
  <li><a href="{uri_folder_string()}/e01car">１.展示車両登録</a><div style="float:right">★</div></li>
  <li class="lv2"><a href="{uri_folder_string()}/e02publicinfo">２.公開用出展者データ</a><div style="float:right">★</div></li>
  <li class="lv2"><a href="{uri_folder_string()}/e03present">３.アンケート回答プレゼント協賛</a></li>
  <li class="lv2"><a href="{uri_folder_string()}/e04construction">４.施工業者登録</a><div style="float:right">★</div></li>
  <li class="lv2"><a href="{uri_folder_string()}/e05passticket">５.パス類追加請求</a></li>
 <li class="lv2 fax"><a href="{uri_folder_string()}/e06_01electric">６-１.電気供給申込</a><div style="float:right">★<span class="labelcount">FAX</span></div></li>
 <li class="lv2 fax"><a href="{uri_folder_string()}/e06_02electric">６-２.通路側外壁照明申込</a><div style="float:right">★<span class="labelcount">FAX</span></div></li>
  <li class="lv2"><a href="{uri_folder_string()}/e07voucherticket">７.飲食共通利用券</a></li>
  <li class="lv2"><a href="{uri_folder_string()}/e08anchor">８.アンカー工事申請</a></li>
  <li class="lv2"><a href="{uri_folder_string()}/e09floor">９.天井・2階建工事申請</a></li>
  <li class="lv2 fax"><a href="{uri_folder_string()}/e10baloonrental">10.バルーン・レンタル申込</a><div style="float:right"><span class="labelcount">FAX</span></div></li>
  <li class="lv2"><a href="{uri_folder_string()}/e12lease">11.リース備品申込</a></li>
  <li class="lv2"><a href="{uri_folder_string()}/e13equipment">12.オプション備品申込</a></li>
  <li class="lv2"><a href="{uri_folder_string()}/e14cleaning">13.小間内清掃申込</a></li>
  <li class="lv2 fax"><a href="{uri_folder_string()}/e15lunchbox">14.弁当類申込</a><div style="float:right"><span class="labelcount">FAX</span></div></li>
  <li class="lv2 fax"><a href="{uri_folder_string()}/e16reservation">15.宿泊予約申込</a><div style="float:right"><span class="labelcount">FAX</span></div></li>
 </ul></li>

</ul>
