@charset "utf-8";
#wrapper {
	width:100%;
	background:url(/images/common/main_bg_01.gif) repeat-x #edf0f5;
	min-width:0px;
	text-align:center;
}
#rapper {
	width:800px;
	margin:0 auto;
	text-align:left;
}

#contents p {
	font-size:12px;
}
.col {
	margin: 0 20px 20px;
}
.col h3 {
	height: 30px;
	line-height: 33px;
	font-size: 14px;
	margin: 0 0 10px !important;
	padding: 0 10px;
	background: #014BA8;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	display: block;
}
.col h4 {
	font-size: 14px;
	font-weight: bold;
	padding: 0 10px;
}
.col h5 {
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	width: auto;
	display: inline-block;
	margin-top: 25px;
	margin-left: 10px;
	background: #FFE1A9;
	
}
.col dl, .col ul, .col p {
	margin: 20px 10px!important;
}
.col .attention {
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	font-weight: bold;
	margin: 0 10px 10px !important;
	padding: 0 10px;
	background: #F00;
	border-radius: 14px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	color: #fff;
	display: block;
	text-align: center;
}
.col table.input{
	margin: 10px;
	width:calc( 100% - 20px )!important;
}
.col table.input td, .col table.input th {
	padding: 5px 5px!important;
}
.col table strong {
	font-weight: bold;
}
#column1 {
	margin:0;
}
#column1 dl {
	margin:0 0 10px;
}
#column1 dl dt {
	margin:0 0 10px;
	font-weight:bold;
}
#column1 dl dd,
#column1 p {
	margin:0 0 0 2em;
}
#column1 ul.notfi {
	margin:0 0 0 2em;
}
#column1 ul.notfi li {
	margin:0;
}

#column1 .col .left {
	float:left;
	width:360px;
	margin:0 20px 0 0;
}
#column1 .col .right {
	float:left;
	width:300px;
}
#column2 {
	text-align:center;
}
#column2 .col2 {
	width:400px;
	margin:0 auto 10px;
	text-align:left;
	font-size:14px;
	font-weight:bold;
	padding:10px;
	border-radius: 5px;		/* CSS3草案 */
	-webkit-border-radius: 5px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 5px;	/* Firefox用 */
	border:1px solid #FF9900;
	background:#fff;
}
#column2 p.info{
	text-align:left;
	margin:0 auto;
	padding:5px 10px;
	height:auto;
	line-height:20px;
	width:400px;
	background:#FF9900;
	color:#fff;
}
#column2 #btn {
	width:300px;
	margin:10px auto 0;
}
#column2 #btn #agree {
	width:100px;
	float:left;
}
#column2 #btn a {
	width:100px;
	float:right;
	display:block;
}
.red {
	color:#c00;
}
.green {
	color:#063;
}
.blue {
	color:#06F;
}
.big {
	font-size:18px;
}
.last {
	margin:0;
}

/* ADDITIONAL MIKO */
#contents tr:nth-child(odd){
    background:#f8f8f8;
}
#contents table {
    width:100%;
}
#contents table.uniform {
    margin:0 0 20px;
}
#contents th {
    background-color:#eaeaea;
    height:33px;
    line-height:33px;
    border-bottom:1px solid #d6d6d6;
    margin:0;
    color:#000;
    font-weight:bold;
    line-height:1.3em;
    padding:0 5px;
}

