@charset "utf-8";
body {
	background:#edf0f5;
	font-weight:normal;
	font-size:12px;
}
/* 201107113 KOBAYASHI */


#wrapper {
	width:100%;
	background:url(/images/common/main_bg_01.gif) repeat-x #edf0f5;
	min-width:960px;
}
#wrapper a {
	text-decoration:none;
}
#header {
	width:100%;
	padding:25px 0 0;
	margin:0 auto 10px;
}
#header h1 img {
	width:264px;
	height:37px;
	float:left;
	margin-left:15px;
}
#header #headerNav {
	text-align:right;
	font-size:12px;
	height:37px;
	margin:0 15px 10px 0;
}
#header #headerNav a{
	text-decoration:none;
}
#header #pan {
	height:30px;
	line-height:30px;
	margin:0 15px;
	background:#333333;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
#header #pan p {
	display:block;
	float:left;
	width:auto;
}
#header #search {
	float:right;
	width:auto;
}
#header #search #q {
	width:300px;
	height:18px;
	border:none;
}
#header #search #action {
	vertical-align:middle;
	height:18px;
}
#header img {
	vertical-align:middle;
	margin:0 10px;
}
#header #pan p,
#header #pan a {
	font-weight:normal;
	font-size:12px;
	color:#fff;
	text-decoration:none;
}

#canvas {
	width:100%;
	position:relative;
}
#contents {
	margin:0 15px 20px 275px;
}

#contents .inner {
	padding:20px;
	background:#fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border:1px solid #999999;
}

* html #contents .inner {
 	margin:0 15px 20px;
	float:right;
}

#contents .inner #cnav {
	height:24px;
	line-height:24px;
}
#contents .inner #cnav a{
	width:200px;
	float:left;
}
#contents .inner #cnav .search{
	float:right;
	width:370px;
	text-align:right;
}
#contents .inner #cnav #action {
	width:60px;
	height:25px;
	float:right;
}
#contents .inner #cnav input#q {
	width:298px;
	height:23px;
	float:left;
	border:1px solid #ccc;
	margin:0;
	padding:0;
}

#contents .inner #regist-nav th,
#contents .inner #change-nav th,
#contents .inner #delete-nav th {
	width:100px;
	height:60px;
}
#contents .inner #regist-nav td,
#contents .inner #change-nav td,
#contents .inner #delete-nav td {
	text-align:left;
}
#contents .inner #regist-nav td input[type='text'],
#contents .inner #change-nav td input[type='text'],
#contents .inner #delete-nav td input[type='text'] {
	width:300px;
	height:24px;
	border:1px solid #ccc;
}

#nav{
	margin-left:15px;
	width:250px;
	padding:0;
	float:left;
	clear:both;
}
#nav ul{
	list-style:none;
}
#nav ul.mnav li.lv1{
	background:#fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border:1px solid #999999;
	width:224px;
	padding:10px 13px 8px;
	margin:0 0 10px;
}
#nav ul.mnav li.lv1 h3{
	font-size:11px;
	font-weight:normal;
	width:224px;
	height:25px;
	line-height:25px;
	color:#fff;
	margin:0 0 2px;
	background:#666;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#nav ul.mnav li.lv1 ul li{
	width:204px;
	height:25px;
	line-height:25px;
	margin:0 0 2px 20px;
	text-indent:10px;
	background:#eee;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
#nav ul.mnav li.lv1 ul li.lv3{
	width:214px;
	padding: 0;
	background:#FFF;
	height:auto;
	line-height:1.4em;
	padding:5px;	
	background:#eee;
	margin:0 0 2px;
	text-indent:0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
#nav ul.mnav li.lv1 ul li.lv3 img {
	margin:0;
	vertical-align:middle;
}
#nav ul.mnav li.sub ul li {
	margin:0 0 2px;
	padding:0;
	text-indent:0;
}

#nav ul.mnav li.lv1 img {
	margin:0 5px 2px;
	vertical-align:middle;
}

#nav ul.mnav a:hover {
	color: #99f;
}
#nav ul.mnav li.sub a {
	color: #fff;
}
#nav ul.mnav li.sub a:hover {
	color: #ffc;
}

#footer {
	margin:0 15px;
	padding:20px;
	background:url(/images/common/dot.gif) repeat-x top left;
}
#footer p {
	width:100%;
	margin:0 10px;
	text-align:center;
	color:#666666;
}

#contents h2 {
	width:100%;
	height:30px;
	line-height:33px;
	color:#fff;
	font-size:14px;
	text-indent:10px;
	margin:0 0 15px;
	background:#009c74;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
#contents h3 {
	margin:10px 0 0 5px;
	font-size:12px;
	font-weight:bold;
}

#contents .section,
#contents #article,
#contents .article{
	font-size:11px;
	margin:0 0 20px;
}
/* 20110713 KOBAYASHI */
#contents .section {
	padding:10px;
	background:#F0F0F0;
}
#contents .section ul {
	margin:5px 0 0 5px;
	font-size:12px;
	list-style:inside disc;
}
#contents .section h3 {
	margin:10px 0 0 5px;
	font-size:12px;
	font-weight:bold;
}

/* end 20110713 KOBAYASHI */
	/* 20110713 KOBAYASHI */
#contents .section p {
	font-size:13px;
	line-height:1.4em;
	font-weight:bold;
}
#contents .inner .inquiry {
	text-align: center;
	margin:15px 0;
	padding:20px;
	border:1px #CCC solid;
	background-color:#F3F3F3;
}
	/* end 20110713 KOBAYASHI */

#contents table.uniform tr:nth-child(odd){
	background:#f8f8f8;
}
#contents table{
	width:100%;
}
#contents table.uniform{
	margin:0 0 20px;
}
#contents table.uniform th {
	background-color:#eaeaea;
	height:33px;
	line-height:33px;
	border-bottom:1px solid #d6d6d6;
	margin:0;
	color:#000;
	font-weight:bold;
	line-height:1.3em;
	padding:0 5px;
}

#contents table.exhform tr:nth-child(odd){
	background:#f8f8f8;
}
#contents table.exhform{
	width:80%;
	margin:0 auto 20px;
}
#contents table.exhform th {
	background-color:#eaeaea;
	border-top:1px solid #d6d6d6;
	border-bottom:1px solid #d6d6d6;
	margin:0;
	font-weight:bold;
	margin:0;
	padding:0;
	line-height:100%;
}
#contents table.exhform td {
	border-top:1px solid #d6d6d6;
	border-bottom:1px solid #d6d6d6;
	line-height:100%;
}
/*
tr.tablesorter th, .reportform tr th,.reportform .headerSort {
	background-repeat:no-repeat;
	background-position:center right;
	background-image:url(jquery/tablesorter/bg.gif);
	padding:0 15px 0 5px;
}
*/

#contents colgroup.w200{
	padding:0 5px;
	width:200px;
}

#contents th.w200{
	padding:0 5px;
	width:200px;
}

#contents td{
	border-bottom:1px solid #d6d6d6;
	padding:5px;
}
#contents td .btn{
	padding:2px 5px;
	font-size:12px;
	font-weight:bold;
	cursor:pointer;
	margin:5px 0 0;
}
#contents td.tenki{
	font-weight:bold;
	margin:15px 0 10px;
}

* html #contents td .btn{
        padding:3px 0 3px;
}
.del-btn{
	float:right;
	width:150px;
	height:25px;
}
.pagenation{
	height:30px;
	line-height:30px;
}
.pagenation a{
	border:1px solid #014ba8;
	padding:0 5px;
	color:#014ba8;
}
.pagenation strong,.pagenation a:hover {
	padding:0 5px;
	border:1px solid #014ba8;
	background:#014ba8;
	color:#fff;
}

a img:hover,
input:hover {
	opacity:0.8;
	filter:alpha(opacity=80);
	-ms-filter: "alpha( opacity=80 )";
}
.notice {
	margin:40px 0;
}
.notice p {
	font-size:16px;
	color:#C00;
}
.bold {
	font-weight:bold;
}
span.red {
	color:#f00;
}
span.darkred {
	color:#C00;
}
span.example {
	display:block;
}
span.yellow {
	color:#ffcc00;
}
span.blue {
	color:#0068b7;
}
span.webmark {
	color:#009c74;
}
span.faxmark, p.faxmark {
	color:#cc0000;
}
span.linewarn {
	color:#c00;
	font-size:12px;
	font-weight:bold;
}
span.state {
	color:#fff;
	height:25px;
	line-height:25px;
	padding:0 5px;
	margin:0 5px 0 0;
	background:#009c74;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
* html #header #pan img {
	margin:5px 10px;
}
* html #m-nav ul.mainNav li.lv1 h3 {
	font-size:11px;
	font-weight:normal;
	width:214px;
	height:22px;
	line-height:22px;
	color:#fff;
	margin:0;
	padding:3px 5px 0 5px;
}
* html #m-nav ul.mainNav li.lv1 img {
	height:20px;
	width:20px;
}

.blockwarn {
	margin:0 0 20px;
}

.blockwarn p{
	color:red;
	line-height:110%;
}

.zipsearch,.revsearch {
	cursor:pointer;
	display:block;
	float:left;
	width:200px;
	width:auto; height:auto; border:none;
	padding:5px;
	margin:5px 15px 5px 0;
	background:#4d80c1;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color:#fff;
}
.zipsearch:hover,.revsearch:hover {
	opacity:0.8;
	filter: alpha(opacity=80);
	-ms-filter: "alpha( opacity=80 )";
}

/* extended 0901 */
#nav ul.mnav li.lv1 ul li.fax {
	background-color:#fff;
}
#nav ul.mnav li.lv1 ul li.ent {
	background-color:#cec;
}
input.numeric {
width:100%;
text-align:right;
font-family:'meiryo';
font-size:12px;
border:2px solid #ccc;
}
input.text {
width:100%;
font-family:'meiryo';
font-size:12px;
border:2px solid #ccc;
}
.grey{
color:#999;
}
.count {
	padding: 0 5px;
	font-size: 10px;
	font-weight: normal;
	line-height: 1;
	color: #fff;
	background-color: #777;
	border-radius: 2px;
	-moz-border-radius: 2px;
}
.countbutton {
	padding: 2px 5px;
	font-size: 12px;
	font-weight: normal;
	line-height: 1;
	color: #fff;
	background-color: #33f;
	border-radius: 2px;
	-moz-border-radius: 2px;
}
.countbutton:hover{
	background-color: #66f;
}

/* Shadowbox
 * ***************************************************************/

#sb-title-inner,#sb-info-inner,#sb-loading-inner,div.sb-message{font-family:"HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:200;color:#fff;}
#sb-container{position:fixed;margin:0;padding:0;top:0;left:0;z-index:999;text-align:left;visibility:hidden;display:none;}
#sb-overlay{position:relative;height:100%;width:100%;}
#sb-wrapper{position:absolute;visibility:hidden;width:100px;}
#sb-wrapper-inner{position:relative;border:1px solid #303030;overflow:hidden;height:100px;}
#sb-body{position:relative;height:100%;}
#sb-body-inner{position:absolute;height:100%;width:100%;}
#sb-player.html{height:100%;overflow:auto;}
#sb-body img{border:none;}
#sb-loading{position:relative;height:100%;}
#sb-loading-inner{position:absolute;font-size:14px;line-height:24px;height:24px;top:50%;margin-top:-12px;width:100%;text-align:center;}
#sb-loading-inner span{background:url(../img/shadowbox/loading.gif) no-repeat;padding-left:34px;display:inline-block;}
#sb-body,#sb-loading{background-color:#060606;}
#sb-title,#sb-info{position:relative;margin:0;padding:0;overflow:hidden;}
#sb-title,#sb-title-inner{height:26px;line-height:26px;}
#sb-title-inner{font-size:16px;}
#sb-info,#sb-info-inner{height:20px;line-height:20px;}
#sb-info-inner{font-size:12px;}
#sb-nav{float:right;height:16px;padding:2px 0;width:45%;}
#sb-nav a{display:block;float:right;height:16px;width:16px;margin-left:3px;cursor:pointer;background-repeat:no-repeat;}
#sb-nav-close{background-image:url(../img/shadowbox/close.png);}
#sb-nav-next{background-image:url(../img/shadowbox/next.png);}
#sb-nav-previous{background-image:url(../img/shadowbox/previous.png);}
#sb-nav-play{background-image:url(../img/shadowbox/play.png);}
#sb-nav-pause{background-image:url(../img/shadowbox/pause.png);}
#sb-counter{float:left;width:45%;}
#sb-counter a{padding:0 4px 0 0;text-decoration:none;cursor:pointer;color:#fff;}
#sb-counter a.sb-counter-current{text-decoration:underline;}
div.sb-message{font-size:12px;padding:10px;text-align:center;}
div.sb-message a:link,div.sb-message a:visited{color:#fff;text-decoration:underline;}

