<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link type="text/css" href="/css/reset.css" rel="stylesheet" />
<link type="text/css" href="/css/style.css" rel="stylesheet" />
<link type="text/css" href="/css/agreement.css" rel="stylesheet" />
<!--[if lt IE 9]>
<script type="text/javascript" src="http://ie7-js.googlecode.com/svn/trunk/lib/IE9.js"></script>
<![endif]-->
<!--<link rel="stylesheet" type="text/css" href="css/ie6.css" media="all">-->
<!--[if IE 6]>
<script type="text/javascript" src="/js/DD_belatedPNG_0.0.8a.js"></script>
<script>
    DD_belatedPNG.fix('a,img,div');
</script>
<![endif]-->
<title>TOKYO AUTO SALON 2017 出展申込</title>
</head>
<body>

<div id="wrapper">

<div id="header">
<h1 style="float:left;"><img src="/images/common/logo.gif" width="264" height="37" /></h1>
<div id="headerNav" style="margin:0 15px 20px;">
<!--<a href="#">開催概要</a> |-->
<a href="http://www.tokyoautosalon.jp/">トップページ</a><!--<br><a href="/en/">For foreign exhibitor</a>-->
</div>
</div>

<div id="rapper">

<div id="main" class="clearfix">
<div id="canvas" >


<div id="contents"  style="margin: 0px 15px 20px 15px;">
<div class="inner">

<h2>出展お申込み方法</h2>

<div id="column1">

{include file="core/a_cancel.html"}
<!--
<h2 style="background-color:#C33">既に出展手続きが完了している出展者様</h2>
<div class="col" style="margin-left:0;">
<p style="margin:0;text-align:center;">
<a href="https://cus.tokyoautosalon.jp/ex/login/"><img src="images/agreement/btn_required.gif" alt="既に出展手続きが>完了している出展者様はコチラより、各種申請を行ってください。" width="690" height="38"></a><br>
出展に際しての各種情報を申請して頂きます。</p>
</div>
-->
<!--
<h3 style="background-color:#C33;margin:0 0 15px; text-align:center;"><a href="/en/" style="color:#FFF; text-decoration:underline">English page(For foreign exhibitors)</a></h3>
-->

<div class="col">
<h3>お申込み方法</h3>
<h4>１）TOKYO AUTO SALON公式Webサイトよりお申込ください。</h4>
<p>URL → <span class="red">このページ下部のボタンから申込みフォームへお進みください。</span>
<p class="attention">紙の申込書は廃止させていただきました。 全てのスペースのお申込みは、公式Webサイトからお申込みください。</p>
<h5>お申込みにあたっての注意事項</h5>
<ul>
<li>※出展申込にあたっては、Webサイトの注意事項をよく読んでお申込みください。</li>
<li>※出展企業1社で表示名を複数使用する場合は、表示名ごとに申込みを行ってください。</li>
<li>※Web申し込み完了後に送信されるEメールを必ず保管してください。</li>
<li>※e-mailは、フリーメールおよび携帯・スマートフォンのメールアドレスは、ご遠慮ください。</li>
</ul>

<table>
<tr>
<th>出展会社名</th>
<td>出展会社名には、正式な法人名をご記入ください。<br>
出展会社名、所在地等には必ずフリガナを記入してください。</td>
</tr>
<tr>
<th>出展表示名</th>
<td>ショー会場内でのすべての表示（会場案内図等）およびWebサイト等での表示名となります。<br>
必ずフリガナを記入してください。 特に欧文表示の場合、数字等にもフリガナをお付けください。</td>
</tr>
<tr>
<th>出展責任者</th>
<td>出展の内容に関する責任者、受理書送付先となります。<br>
出展会社に所属している方に限定されます。</td>
</tr>
<tr>
<th>請求書送付先</th>
<td>出展料・出展者パス・招待券追加購入等のご請求先となります。</td>
</tr>
<tr>
<th>出展に関する<br>
全てのご連絡窓口</th>
<td>事務局からのご連絡は、ご記入頂いた窓口のみとさせて頂きます。</td>
</tr><tr>
<th>資料および配付物送付先</th>
<td>資料（出展要項等）及び配付物（パス類／招待券／ポスター等）の送付先となります。</td>
</tr>
</table>

<dl>
<dt>【推奨ブラウザについて】</dt>
<dd>当サイトでは快適に閲覧・ご利用していただくために、各ブラウザの最新バージョンの利用を推奨しています。</dd>
<dd>最新バージョンについての詳細は、各ブラウザのサイトでご確認ください。</dd>
<dd>なお、最新バージョンであっても、開発途上版（ベータ版）は動作しない可能性がありますので、ご注意ください。</dd>
</dl>
<dl>
<dt>【推奨ブラウザ】</dt>
<dd>Microsoft Internet Explorer 9.0以上</dd>
<dd>Mozilla Firefox 10以上</dd>
<dd>Google Chrome（最新版）</dd>
<dd>Safari 5.0以上<br>
※旧型ブラウザ、互換性のないブラウザ、JavaScript、クッキー、SSL、スタイルシートをサポートしていないブラウザを使用するとウェブサイトの機能が制限されることがあります。</dd>
</dl>
</div>

<div class="col">
<h3>出展受理書の送付をもって正式に出展受理とさせて頂きます。</h3>
<ul>
<li>出展の決定は先着順ではございません。</li>
<li>出展申込み受付期間内にお申込みを頂いた中から事務局にて決定し、出展受理書の送付をもって正式に出展受理とさせて頂きます。</li>
</ul>
<p>「出展申込みの流れ」を図にてご説明しております。<br>
	<a href="http://www.tokyoautosalon.jp/2017ex/procedure/" target="_blank">こちらをご覧ください。</a></p>
</div>

<div class="col">
<h3>お申込み期間</h3>
<p><span class="red big">2017年8月1日（火）から出展のお申込みを開始致します。</span>
<br>出展の締切はお申込みが募集スペース数に達し次第締切らせて頂きます。</p>
</div>
<!--
<div class="col">
<h3>お申込み送付先</h3>
<p>東京オートサロン事務局（株式会社サンズ内）宛
<br>
〒160-8463　東京都新宿区新宿6-27-30　新宿イーストサイドスクエア7F　株式会社サンズ内</p>
</div>
-->
<div class="col">
<h3>出展料のお支払い</h3>
<div class="clearfix">
<div class="left">
<p>出展料につきましては、必ず<span class="red">2018年11月25日（金）</span>までに、右記「東京オートサロン事務局」宛にお振込みください。</p>
<p class="red">※お振込み手数料は各社ご負担ください。</p>
</div>
<div class="right">
<table>
<tr>
<th align="left">りそな銀行</th>
<td align="left">新都心営業部</td>
<td align="left">（普通）3035135</td>
</tr>
<tr>
<th align="left">三井住友銀行</th>
<td align="left">新宿支店</td>
<td align="left">（普通）2345611</td>
</tr>
<tr>
<th align="left">みずほ銀行</th>
<td align="left">高田馬場支店</td>
<td align="left">（普通）1677741</td>
</tr>
<tr>
<th align="left">北陸銀行</th>
<td align="left">新宿支店</td>
<td align="left">（普通）4152310</td>
</tr>
</table>
</div>
</div>
</div>

<div class="col">
<h3>キャンセル料金</h3>
<p style="margin:0 0 10px 2em;">以下の期日を過ぎたキャンセルの場合は、理由の如何を問わず既定のキャンセル料を申し受けます。</p>
<ul class="notfi">
<li class="red">●受理書送付後のキャンセル/全出展料金の50％</li>
<li class="red">●10月28日（金）以降のキャンセル/全出展料金の100％</li>
</ul>
</div>

<div class="col">
<h3>特記事項</h3>
<ul class="notfi">
<li>
●事務局は以下に該当する場合、出展受理の取り消し、もしくは出展料受け取り後でも出展をお断りすることがあります。　
<ul class="blue" style="margin:10px 0 10px 1em;">
<li>1. 出展料が指定期日までに振込まれない場合</li>
<li>2. ショーの目的に合致しない企業もしくは物品の出展であると事務局が判断した場合</li>
<li>3. 理由の如何を問わず、事務局がその出展を不適当と判断した場合</li>
</ul>
</li>
<li>●指定期日以降のキャンセル、もしくは指定期日までに出展料金のお支払いがない場合は、翌年以降のお申込みは、お受け出来ない場合があります。</li>
</ul>
</div>

{if ((isset($soldout) && $soldout != '') || (isset($waiting) && $waiting != ''))}
<div class="col">
<h3>各スペース受付状況</h3>
<ul class="notfi bold">
{if (isset($soldout) && $soldout != '')}
    <li class="red big">{$soldout}は募集数に達した為、受付を終了いたしました。</li>
{/if}
{if (isset($waiting) && $waiting != '')}
	<li class="red big">{$waiting}は募集数に達した為、キャンセル待ちにて受付とさせて頂いております。</li>
{/if}
</ul>
</div>
{/if}

</div>

<div id="column2">
<h2>出展お申込みフォーム</h2>
<div class="col2">
<p>TOKYO AUTO SALON 2017に以降の申込フォームに入力するとおり、出展を申込みます。なお、出展にあたっては、出展要項の規定ならびに事務局の指導に従うことを誓約するとともに、これに違反した場合は、出展の取り消しもしくは中止を命じられてもこれに従います。</p>
</div>
<p class="info">以上の規定を同意頂ける方のみ、出展申込みを行ってください。</p>
<div id="btn" class="clearfix">
<a href="/entry/regist/" id="agree"><img src="/images/agreement/btn_yes.gif"></a>
<a href="http://www.tokyoautosalon.jp/" target="_top"><img src="/images/agreement/btn_no.gif" width="100" height="25" alt="同意しない"></a>
</div>
</div>
</div>

</div>
</div>
</div>

</div>

<div id="footer">
<p>COPYRIGHT &copy; 1983-2017 Tokyo autosalon association(TASA)</p>
</div>

</div><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(
  ['a._setAccount', 'UA-24139751-1'],
  ['a._setDomainName', '.tokyoautosalon.jp'],
  ['a._setAllowHash', false],
  ['a._trackPageview'],
  ['b._setAccount', 'UA-179236-27'],
  ['b._setDomainName', '.tokyoautosalon.jp'],
  ['b._setAllowHash', false],
  ['b._trackPageview']
  ['b._setAccount', 'UA-24139751-2'],
  ['b._setDomainName', '.tokyoautosalon.jp'],
  ['b._setAllowHash', false],
  ['b._trackPageview']
  );

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
