{extends file='core/member.html'}
{block name='title'}変更確認 &laquo; 追加請求先 &laquo; {$smarty.block.parent}{/block}

{block name='contents'}
<h2>追加請求先変更確認</h2>
<div class="article">
<p>入力した値はこれでよろしいですか？<br>
よろしければ「変更」ボタンを押してください。</p>
</div>
<form method="post" action="change_confirm_in">

<div id="tabbill">
<table class="uniform" summary="請求先">

<tr><th colspan="2" class="sub">請求先</th></tr>
<tr>
<th class="w200">会社名</th>
<td><div class="ruby">{$foreign.corpkana nocache}</div>{$foreign.corpname nocache}</td>
</tr>

<tr>
<th class="w200">所在地</th>
<td>
〒{$foreign.zip nocache}<br/>
{$foreign.prefecture nocache}
{$foreign.address1 nocache}
{$foreign.address2 nocache}
</td>
</tr>

<tr>
<th class="w200">担当者名</th>
<td>
{$foreign.division nocache} {$foreign.position nocache}<br/>
<div class="ruby">{$foreign.fullkana nocache}</div>{$foreign.fullname nocache}
</td>
</tr>

<tr>
<th class="w200">TEL</th>
<td>{$foreign.phone nocache}</td>
</tr>

<tr>
<th class="w200">FAX</th>
<td>{$foreign.fax nocache}</td>
</tr>

</table>
</div>

<a href="{uri_folder_string()}/billing/"><img src="/images/common/btn_cancel.gif" width="100" height="25" alt="キャンセル" style="float:right;" /></a>
<input type="image" src="/images/common/btn_change_02.gif" id="action" name="action" value="変更">
</form>
{/block}

{block name='headjs'}{$smarty.block.parent}
<style>#contents th.sub { background:#4D80C1; color:#fff; }</style>
{/block}

{block name='footjs'}{$smarty.block.parent}
<script type="text/javascript" src="/js/billing_change.js"></script>
{/block}

{block name='pan'}
{$smarty.block.parent}&nbsp;&gt;&nbsp;追加請求先&nbsp;&gt;&nbsp;変更確認
{/block}
