{extends file='core/member.html'}
{block name='title'}変更 &raquo; 小間形状 &raquo; {$smarty.block.parent}{/block}

{block name='contents'}
<h2>変更 &raquo; 小間形状</h2>
{if $message.__all != '' nocache}<div class="blockwarn">{$message.__all nocache}</div>{/if}
<div id="change-nav">
<form method="post" action="../change_in">
<table class="uniform">

<tr>
<th>小間形状コード</th>
<td>{$foreign.boothid nocache}
<input type="hidden" id="boothid" name="boothid" value="{$foreign.boothid nocache}">
</td>
</tr>
<tr>
 <th>イベント名</th>
 <td>
{form_dropdown('eventid',$event,$foreign.eventid,'id="eventid"')}
 </td>
</tr>
<tr>
 <th>小間形状番号</th>
 <td>
 <input type="text" id="boothno" name="boothno" maxlength="" value="{$foreign.boothno nocache}" />
{if $message.boothno != "" nocache}<span class="linewarn">{$message.boothno nocache}</span>{/if}
 <span class="example">例)3</span>
 </td>
</tr>
<tr>
 <th>小間種別</th>
 <td>
{form_dropdown('spaceid',$space,$foreign.spaceid,'id="spaceid"')}
 </td>
</tr>
<tr>
 <th>小間形状名</th>
 <td>
 <input type="text" id="boothname" name="boothname" maxlength="20" value="{$foreign.boothname nocache}" />
{if $message.boothname != "" nocache}<span class="linewarn">{$message.boothname nocache}</span>{/if}
 <span class="example">例)A1×1</span>
 </td>
</tr>
<tr>
 <th>小間形状略記</th>
 <td>
 <input type="text" id="boothabbr" name="boothabbr" maxlength="20" value="{$foreign.boothabbr nocache}" />
{if $message.boothabbr != "" nocache}<span class="linewarn">{$message.boothabbr nocache}</span>{/if}
 <span class="example">例)1×1</span>
 </td>
</tr>
<tr>
 <th>小間数</th>
 <td>
 <input type="text" id="boothcount" name="boothcount" maxlength="" value="{$foreign.boothcount nocache}" />
{if $message.boothcount != "" nocache}<span class="linewarn">{$message.boothcount nocache}</span>{/if}
 <span class="example">例)1</span>
 </td>
</tr>
<tr>
 <th>非表示</th>
 <td>
 <input type="hidden" name="allow" value="1" />
 <input type="checkbox" name="allow" value="0" style="width:auto;height:auto;"{if $foreign.allow == 0} checked="checked"{/if} />選択肢として表示しない
 <span class="example">非表示にする場合はチェック</span>
 </td>
</tr>

</table>
<div class="del-btn"><a href="../delete/{$foreign.boothid nocache}"><img src="/images/common/btn_delete.gif" width="150" height="25" alt="削除" /></a></div>
<input type="hidden" id="token" name="token" value="{$foreign.token}" />
<input type="image" src="/images/common/btn_change.gif" id="action" name="action" value="変更" />
</form>
</div>
{/block}

{block name='footjs'}{$smarty.block.parent}
<script type="text/javascript" src="/js/booth_change.js"></script>
{/block}

{block name='pan'}
{$smarty.block.parent}&nbsp;&gt;&nbsp;<a href="{uri_folder_string()}/booth/">小間形状</a>&nbsp;&gt;&nbsp;変更
{/block}
