{extends file='core/member.html'}
{block name='title'}カテゴリ &raquo; {$smarty.block.parent}{/block}

{block name='contents'}
<h2>カテゴリ</h2>
<div id="cnav" class="clearfix">
<a href="regist"><img src="/images/common/btn_regist.gif" width="100" height="25" alt="新規作成" /></a>
<div class="search">
<form id="search" method="post" action="search">
<input type="image" src="/images/common/btn_search_02.gif" id="action" name="action" value="検索">
<input type="text" id="q" name="q" value="{$q}" />
</form>
</div>
</div>{foreach from=$lists name=rec item=i}
{if $smarty.foreach.rec.first}
<table class="listform tablesorter">
<thead>
 <tr>
<th>カテゴリコード</th>
<th>並び順</th>
<th>カテゴリ名</th>
<th>カテゴリ略記</th>
<th>非表示</th>
 </tr>
</thead>
<tbody>
{/if}
 <tr>
<td><a href="change/{$i.categorycode}">{$i.categorycode}</a></td>
<td>{$i.seqno nocache}</td>
<td>{$i.categoryname nocache}</td>
<td>{$i.categoryabbr nocache}</td>
<td>{if $i.allow == 0}○{/if}</td>
 </tr>
{if $smarty.foreach.rec.last}
</tbody>
</table>
{/if}
{foreachelse}
<div class="notice">
<ul>
<li>データが見つかりません。</li>
</ul>
</div>
{/foreach}
{/block}
{block name='headjs'}{$smarty.block.parent}
<link type="text/css" href="/css/jquery/tablesorter/style.css" rel="stylesheet" />
{/block}
{block name='footjs'}{$smarty.block.parent}
<script type="text/javascript" src="/js/jquery/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="/js/list.js"></script>
{/block}

{block name='pan'}
{$smarty.block.parent}&nbsp;&gt;&nbsp;カテゴリ
{/block}
