{extends file='core/member.html'}
{block name='title'}削除 &raquo; 国名 &raquo; {$smarty.block.parent}{/block}

{block name='contents'}
<h2>削除 &raquo; 国名</h2>
<p class="faxmark">以下のデータを削除してよろしいですか？
<br />注意！削除すると元に戻せなくなります。</p>
{if $message.__all != '' nocache}<div class="blockwarn">{$message.__all nocache}</div>{/if}

<div id="delete-nav">
<form method="post" action="../delete_in">

<table class="uniform">

<tr>
<th>コード</th>
<td>{$foreign.countrycode nocache}</td>
</tr>

<tr>
<th>国名</th>
<td>{$foreign.countryname nocache}</td>
</tr>

</table>

<input type="hidden" name="countrycode" value="{$foreign.countrycode nocache}" />
<input type="image" src="/images/common/btn_delete.gif" id="action" name="action" value="削除">
</form>
</div>
{/block}

{block name='footjs'}{$smarty.block.parent}
<script type="text/javascript" src="/js/country_change.js"></script>
{/block}

{block name='pan'}
{$smarty.block.parent}&nbsp;&gt;&nbsp;<a href="{uri_folder_string()}/country/">国名</a>&nbsp;&gt;削除
{/block}
