{extends file='core/member.html'}
{block name='title'}国名 &raquo; {$smarty.block.parent}{/block}

{block name='contents'}
<h2>国名</h2>

<div id="cnav" class="clearfix">
<a href="regist"><img src="/images/common/btn_regist.gif" width="100" height="25" alt="新規作成" /></a>
<div class="search">
<form id="search" method="post" action="search">
<input type="image" src="/images/common/btn_search_02.gif" id="action" name="action" value="検索">
<input type="text" id="q" name="q" value="{$q}" />
</form>
</div>
</div>
{foreach from=$lists name=rec item=i}
{if $smarty.foreach.rec.first}
<table class="listform tablesorter" >
<thead>
<tr>
<th>コード</th>
<th>国名</th>
<th>非表示</th>
</tr>
</thead>
<tbody>
{/if}
<tr>
<td><a href="change/{$i.countrycode}">{$i.countrycode}</a></td>
<td>{$i.countryname nocache}</td>
<td>{if $i.allow == 0}○{/if}</td>
</tr>
{if $smarty.foreach.rec.last}
</tbody>
</table>
{/if}
{foreachelse}
<div class="notice">
<p>データが見つかりません.</p>
</div>
{/foreach}
{/block}

{block name='headjs'}{$smarty.block.parent}
<link type="text/css" href="/css/jquery/tablesorter/style.css" rel="stylesheet" />
{/block}

{block name='footjs'}{$smarty.block.parent}
<script type="text/javascript" src="/js/jquery/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="/js/list.js"></script>
{/block}

{block name='pan'}
{$smarty.block.parent}&nbsp;&gt;&nbsp;国名
{/block}
