{extends file='core/member.html'}
{block name='title'}削除 &raquo; 通貨 &raquo; {$smarty.block.parent}{/block}

{block name='contents'}
<h2>削除 &raquo; 通貨</h2>
<p class="faxmark">以下のデータを削除してよろしいですか？
<br />注意！削除すると元に戻せなくなります。</p>
<div id="delete-nav">
<form method="post" action="../delete_in">
<table class="uniform">

<tr>
<th>国コード</th>
<td>{$foreign.countrycode nocache}</td>
</tr>
<tr>
<th>通貨コード</th>
<td>{$foreign.currencycode nocache}</td>
</tr>
<tr>
<th>通貨記号</th>
<td>{$foreign.currencysymbol nocache}</td>
</tr>

</table>
<input type="hidden" name="countrycode" value="{$foreign.countrycode nocache}">
<input type="image" src="/images/common/btn_delete.gif" id="action" name="action" value="削除">
</form>
</div>
{/block}

{block name='pan'}
{$smarty.block.parent}&nbsp;&gt;&nbsp;<a href="{uri_folder_string()}/currency/">通貨</a>&nbsp;&gt;&nbsp;削除
{/block}
