{extends file='core/member.html'}
{block name='title'}削除 &raquo; 顧客 &raquo; {$smarty.block.parent}{/block}

{block name='contents'}
<h2>削除 &raquo; 顧客</h2>
<div class="article">
<p class="faxmark">以下のデータを削除してよろしいですか？
<br />注意！削除すると元に戻せなくなります。</p>
</div>
<div id="delete-nav">
<form method="post" action="../delete_in">
<table class="uniform">

<tr>
<th>顧客コード</th>
<td>{$foreign.customerid nocache}</td>
</tr>
<tr>
<th>企業名</th>
<td>{$foreign.corpname nocache}</td>
</tr>
<tr>
<th>企業名カナ</th>
<td>{$foreign.corpkana nocache}</td>
</tr>
<tr>
<th>郵便番号</th>
<td>{$foreign.zip nocache}</td>
</tr>
<tr>
<th>都道府県</th>
<td>{$foreign.address1 nocache}</td>
</tr>
<tr>
<th>町名番地</th>
<td>{$foreign.address2 nocache}</td>
</tr>
<tr>
<th>ビル名など</th>
<td>{$foreign.address3 nocache}</td>
</tr>
<tr>
<th>TEL</th>
<td>{$foreign.phone nocache}</td>
</tr>
<tr>
<th>FAX</th>
<td>{$foreign.fax nocache}</td>
</tr>
<tr>
<th>氏名</th>
<td>{$foreign.fullname nocache}</td>
</tr>
<tr>
<th>氏名カナ</th>
<td>{$foreign.fullkana nocache}</td>
</tr>
<tr>
<th>役職</th>
<td>{$foreign.position nocache}</td>
</tr>
<tr>
<th>ホームページ</th>
<td>{if $foreign.url != ''}<a href="http://{$foreign.url nocache}">http://{$foreign.url nocache}</a>{/if}</td>
</tr>
<tr>
<th>事務局メモ</th>
<td>{$foreign.comment nocache}</td>
</tr>
</table>
<input type="hidden" id="customerid" name="customerid" value="{$foreign.customerid nocache}">
<input type="image" src="/images/common/btn_delete.gif" id="action" name="action" value="削除">
<a href="./"><img src="/images/common/btn_back.gif" width="100" height="25" alt="一覧に戻る" /></a>
</form>
</div>
{/block}

{block name='pan'}
{$smarty.block.parent}&nbsp;&gt;&nbsp;<a href="{uri_folder_string()}/customer/">顧客</a>&nbsp;&gt;&nbsp;削除
{/block}
