{extends file='core/member.html'}
{block name='title'}(03)アンケート協賛登録 &raquo; 各種申請 &raquo; {$smarty.block.parent}{/block}

{block name='contents'}
<h2>(03)アンケート協賛登録</h2>
 
<div id="tabcorp"> 
<table class="uniform"> 
<tr> 
<thead> 
<tr>
	<th colspan="3">「協賛企業」としてご紹介させて頂く際の社名(ブランド名)、問合せ先(所在地、電話番号)は下記の通りです。</th></tr> 
</thead> 
<tbody> 
<th class="w200">協賛社名</th> 
<td colspan="2"> 
{$foreign.corpname nocache}
</td> 
</tr> 
 
<tr> 
<th rowspan="3">お問合せ先</th>
<td>所在地</td> 
<td> 
〒{$foreign.zip nocache}<br/>
{$foreign.prefecture nocache}
{$foreign.address1 nocache}
{$foreign.address2 nocache}
</td> 
</tr> 
 
<tr> 
<td>TEL</td> 
<td> 
{$foreign.phone nocache}
</td> 
</tr> 
 
<tr> 
<td>FAX</td> 
<td> 
{$foreign.fax nocache}
</td> 
</tr> 
 
</tbody> 
</table> 

<br>
<div id="tabcorp"> 
<table> 
<tbody> 
<tr> 
<td>
<b>○アンケート回答者プレゼント協賛商品（オリジナルパーツなど）</b><br/>
・ご協賛いただいた賞品を会期中アンケートにお答えいただいた来場者へのプレゼント賞品として活用させていただきます。<br/>
恒例のプレゼント企画は、楽しみにしておられる来場者も多く、注目度の高いものです。<br/>
ただし、協賛賞品はオリジナルパーツなどに限定させていただき、販促品・ノベルティグッズなどはご遠慮いただいております。<br/>
<strong>・協賛メリット：</strong>
<ol><br/>
<il>１、ショー会場内「アンケート投票所」にて、ご協賛社名、商品名、商品写真をパネルで展示。</il><br/>
<il>２、会期中「公式Webサイト」にて、ご協賛社名、商品名、商品写真を掲出。</il><br/>
<il>３、後援各誌内の告知広告」にてご協賛商品の写真と商品名およびご協賛社名を紹介。</il></ol>
<br><span style="color:#ff0000">
*協賛賞品の写真１点をご用意頂き、以下フォームよりご送信下さい</span><br>
・アンケート回答者プレゼントの抽選は２月中旬頃を予定しております。当選者が決定次第ご連絡
  させていただきますので、<strong>３月中旬頃までにご当選者への賞品の発送をお願い申し上げます。
<br /></tb></tr>
</tbody>
</table>

<br>
<div id="tabcorp"> 
<table width="550" border="0" cellpadding="0" cellspacing="0" class="tbl1">
<tbody> 
<tr><td valign="top" bgcolor="#FFFFCC" class=ft41><span style="color:#000000">
<strong>---写真データの注意事項---</strong><br/>
ファイル名には必ず<b>拡張子(○○○.jpg)をつけてください</b>。<br/></span>

<table width="440" bordercolor="white" border="0" align="center" cellpadding="5" cellspacing="0">
<tr>
<td bgcolor="#003399" class="ft5"><span class="ft4" style="color:#FFF">
    画像データサイズ<br/>
    <dl>
    <dt>解像度</dt><dd><b>300</b>(pixel/inch)</dd>
    <dt>サイズ</dt><dd><b>640x480</b>(pixel)</dd>
    <dt>ファイルサイズ</dt><dd>(約1MB)</dd>
    </dl>
</span></td></tr>
</tbody>
</table>

</td></tr>
</tbody>
</table>
</div>

<div id="tabcorp"> 
<table> 
<tbody> 
<tr> 
<td><span style="color:#ff0000">
*指定した画像は下の「確認する」ボタンよお進み頂き、次の確認画面にてご確認下さい。</span><br/>
<!--
*データを<strong>CMYKカラー</strong>で保存されますと、WEB上でのご確認ができない場合がございます。
<br/>データとして破損等なければCMYKでも問題ございませんが、
WEB上で画像確認なさりたい方は、<strong>RGBカラーで保存したもの</strong>をアップロードして下さい。
-->
<br/>*確認用画像は縦横比が崩れて表示されますが、画像には問題ありませんのでご了承下さい。
</td>
</tr>
</tbody>
</table>

<div id="tabcorp"> 
<table class="uniform"> 
<tbody> 

<tr>
<th style="width:6em"></th><th colspan="2">ご協賛商品<span style="color:#ff0000">*</span></th>
<th>商品の画像</th><br/>
</tr> 

{foreach from=$foreign2 name=foreign_name key=foreign_key item=foreign_item}
<tr>
<th rowspan="3"><b>{$foreign_key}</b></th>
<td>ご協賛商品名</td>
<td>
<span class="example"><label for="sponsors_products_a"></label></span>
{$foreign_item.itemname nocache}
<td rowspan="3" align="center">
{if $foreign_item.itemphoto}
<img src="./images/{$foreign_item.itemphoto}" width="180" height="135">
{else}
画像がアップされていません。
{/if}
<br/></td></tr>
<tr>
<td>標準価格</td>
<td>
&yen;{$foreign_item.itemprice nocache}
</td></tr>
<tr>
<td>個数</td>
<td>
{$foreign_item.quantity nocache}
</td></tr>
{/foreach}
</tbody>
</table>
</div>

{if TRUE}
{if (($rolename == 'exhibitor' || $rolename == 'promotion') && $smarty.now > "2020-01-01 00:00:00"|strtotime)}
<p style="font-weight: bold; color: #f00; margin-bottom: 2em; margin-top: 2em; padding: 0.5em; border: 1px solid #f00; background: #ffeded; font-size: 1.25em;">
アンケート協賛登録の受付けは締め切らせていただきました。
</p>
{else}
<a href="./change/{$foreign.appid}"><img src="/images/common/btn_change_02.gif" id="action" name="action" value="変更" /></a>
{/if}
{/if}

{/block}

{block name='headjs'}{$smarty.block.parent}
<link type="text/css" href="/css/jquery/jquery-ui-1.8.11.custom.css" rel="stylesheet" />
<script type="text/javascript" src="/js/jquery/jquery-ui-1.8.11.custom.min.js"></script>
{/block}

{block name='footjs'}{$smarty.block.parent}
<script type="text/javascript" src="/js/e03present_change.js"></script>
{/block}

{block name='pan'}
{$smarty.block.parent}&nbsp;&gt;&nbsp;<a href="{uri_folder_string()}/e03present/">アンケート協賛登録</a>&nbsp;&gt;&nbsp;詳細
{/block}
