{extends file='core/member.html'}
{block name='title'}出展申込者 &raquo; {$smarty.block.parent}{/block}

{block name='contents'}
<h2>施工業者一覧</h2>
<div>
<p>登録不要なB/Fスペース以外の一覧を表示しています。</p>
</div>
<div id="cnav" class="clearfix">
<div class="search">
<form id="search" method="post" action="search">
<input type="image" src="/images/common/btn_search_02.gif" id="action" name="action" value="検索">
<input type="hidden" id="limit" name="limit" value="{$limit}" />
<input type="text" id="q" name="q" value="{$q}" />
</form>
</div>
</div>

{foreach from=$lists name=rec item=i}
{if $smarty.foreach.rec.first}
<div>
<p><a href="#download">[ダウンロード]</a></p>
</div>

<table class="listform tablesorter"> 
<colgroup class="nowrap">
<colgroup class="nowrap">
<colgroup>
<colgroup>
<colgroup>
<colgroup>
<colgroup>
<colgroup class="nowrap">
<colgroup class="nowrap">
<thead>
<tr> 
<th class="nowrap">小間番号</th>
<th class="nowrap">出展者名/表示名</th>
<th class="nowrap"><span title="パラペット希望">パラ</span></th>
<th class="nowrap"><span title="社名板表記希望">社名</span></th>
<th class="nowrap"><span title="壁面カラー希望">壁面</span></th>
<th class="nowrap"><span title="パンチカーペット希望">パンチ</span></th>
<th class="nowrap">更新日時</th>
<th class="nowrap">操作</th>
</tr>
</thead>
<tbody>
{/if}
 <tr>
 <td class="right">{$i.exhboothno}</td>
 <td>{$i.corpname}<br/>{$i.brandname}</td>
{if isset($i.appid) && $i.appid != ''}
<td>{if $i.parapet == 1}○{else}×{/if}</td>
<td>{if $i.corplogo == 1}○{else}×{/if}</td>
<td>{if $i.wallpaper == 1}○{$i.wallcolor}{else}×{/if}</td>
<td>{if $i.punchcarpet ==1}○{$i.punchcolor}{else}×{/if}</td>
<td class="nowrap"><span class="nowrap">{$i.updated|truncate:16:"":true nocache}</span></td>
<td class="nowrap">
{if uri_folder_string() == '/op'}
<a href="change/{$i.appid}">[編集]</a>
<a href="delete/{$i.appid}">[削除]</a>
{else}
<a href="detail/{$i.appid}">[詳細]</a>
{/if}
</td>
{elseif $i.spaceabbr == 'B' || $i.spaceabbr == 'F'}
 <td colspan="6" style="background-color:#ccc">登録不要({$i.spaceabbr})</td>
{else}
 <td colspan="5">未登録</td>
 <td class="nowrap">{if uri_folder_string() == '/op'}<a href="create/{$i.exhid}/{$i.exhboothid}">[新規]</a>{/if}</td>
{/if}
 </tr>
{if $smarty.foreach.rec.last}
</tbody>
</table>

<div>
<p><a href="#top">[&uarr;画面上へ]</a></p>
</div>

<div id="download"> 
<h3>登録済施工業者リストのダウンロード</h3>
<p>
<a href="download/csv"><img src="/images/common/ico_csv.png" style="vertical-align:text-bottom" width="48" height="48" alt="CSV" title="CSV" />(CSVファイル)</a>
<a href="download/xlsx"><img src="/images/common/ico_xlsx.png" style="vertical-align:text-bottom" width="48" height="48" alt="Excel2007" title="Excel2007" />(Excelファイル)</a>
</p>
</div>
{/if}
{foreachelse}
<div class="warn" style="width:100%; padding:20px 0;">
見つかりません.
</div>
{/foreach}
{/block}

{block name='headjs'}{$smarty.block.parent}
<link type="text/css" href="/css/jquery/tablesorter/style.css" rel="stylesheet" />
<link type="text/css" href="/css/jquery/jquery-ui-1.8.11.custom.css" rel="stylesheet" />
{/block}
{block name='footjs'}{$smarty.block.parent}
<script type="text/javascript" src="/js/jquery/jquery-ui-1.8.11.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="/js/exx_list.js"></script>
{/block}

{block name='pan'}
{$smarty.block.parent}&nbsp;&gt;&nbsp;施工業者一覧
{/block}
