{extends file='core/member.html'}
{block name='title'}(05)パス類追加請求 &raquo; 各種申請 &raquo; {$smarty.block.parent}{/block}

{block name='contents'}
<h2>パス類追加請求</h2> 
<p>削除してよろしいですか？<br>
削除すると元に戻せなくなります。

<div id="tabcorp"> 
{include file="core/ex_passticket.html}
</div>

<a href="../history/{$foreign.exhid}/{$foreign.exhboothid nocache}">今までのお申込み履歴</a>

<table class="reportform"> 
<tbody>

<form method="post" action="../delete_in"> 
<input type="hidden" name="appid" value="{$foreign.appid nocache}">
<input type="hidden" name="exhid" value="{$foreign.exhid nocache}">
<input type="hidden" name="appno" value="{$foreign.appno nocache}">
<input type="hidden" name="seqno" value="{$foreign.seqno nocache}">
<input type="hidden" name="token" value="{$foreign.token nocache}">

<tr><th>*印の項目は必ずご記入下さい。</th></tr>
<tr>
<th colspan="3">☆追加枚数記入欄*<br/>（上記規定数にプラスする追加枚数をご記入下さい)</th></tr>
<tr><th rowspan="2">搬入出リボン(無料)<br/>※現地発行は、有料＠￥１００(税込)<br/>☆搬入出日のみ有効</th>
<td>これまでの追加枚数</td><td>{$quant.quantity_1|default:0 nocache}枚</td></tr><tr><td>今回追加枚数</td>
<td>{$foreign.addquantity_1|default:0 nocache}枚</td></tr>
<tr><th rowspan="2">搬入出車両証(無料)<br/>☆搬入出日のみ有効</th>
<td>これまでの追加枚数</td><td>{$quant.quantity_2|default:0 nocache}枚</td></tr><tr><td>今回追加枚数</td>
<td>{$foreign.addquantity_2|default:0 nocache}枚</td></tr>
<th rowspan="2">出展者パス(有料＠￥8,000(税込)<br/>☆搬入出日/会期中とも有効</th>
<td>これまでの追加枚数</td><td>{$quant.quantity_3|default:0 nocache}枚</td></tr><tr><td>今回追加枚数</td>
<td>{$foreign.addquantity_3|default:0 nocache}枚</td></tr>
<tr><th rowspan="2">特別招待券(有料＠￥3,000(税込)<br/>☆1/12(金))のみ有効</th>
<td>これまでの追加枚数</td><td>{$quant.quantity_4|default:0 nocache}枚</td></tr><tr><td>今回追加枚数</td>
<td>{$foreign.addquantity_4|default:0 nocache}枚</td></tr>
<tr><th rowspan="2">一般招待券(有料＠￥2,000(税込))<br/>☆1/13(土) 1/14(金)のみ有効</th>
<td>これまでの追加枚数</td><td>{$quant.quantity_5|default:0 nocache}枚</td></tr><tr><td>今回追加枚数</td>
<td>{$foreign.addquantity_5|default:0 nocache}枚</td></tr>
<tr><td colspan="3">>※ご請求は、開催後となります。また、ご請求先につきましては、お申込みの際”ご請求先”でご指定<br/>
いただいたところになります。<br/>
<br/>
※一度追加でお申込み頂いたものを、キャンセルまたは枚数を減らしたいなどのご変更をご希望の場合<br/>
には直接東京オートサロン事務局まで、お問い合わせください。</td><tr>

<tr><th>
<input name="addpass_submit_b" type="submit" class="bt1" value="削除" />
</form></th></tr>

</tbody> 
</table> 

{/block}

{block name='headjs'}{$smarty.block.parent}
<link type="text/css" href="/css/jquery/jquery-ui-1.8.11.custom.css" rel="stylesheet" />
<script type="text/javascript" src="/js/jquery/jquery-ui-1.8.11.custom.min.js"></script>
{/block}

{block name='footjs'}{$smarty.block.parent}
<script type="text/javascript" src="/js/sponsor_change.js"></script>
<script type="text/javascript" src="/js/e04construction_change.js"></script>
{/block}

{block name='pan'}
{$smarty.block.parent}&nbsp;&gt;&nbsp;<a href="{uri_folder_string()}/e05passticket/">パス類追加請求</a>&nbsp;&gt;&nbsp;編集
{/block}
