{extends file='core/member.html'}
{block name='title'}登録内容確認 &raquo; 幕張新都心食事券 &raquo; 各種申請 &raquo; {$smarty.block.parent}{/block}

{block name='contents'}
<h2>幕張新都心食事券登録</h2> 


{include file="core/ex_messe.html"}
{include file="core/exhform.html"}

<div id="tabcorp"> 
<table class="uniform">
<tr> 
<th colspan="2" class="main">幕張新都心飲食共通利用券</th>
</tr>
<tr>
<th class="w200">利用券の追加枚数</th>
<td>これまでの申込枚数：{$foreign.quantity|default:0 nocache}枚<br />
(250円券×3枚＋100円券×2枚＋50円券×１枚)
</td>
</tr>
</table>

<table class="uniform">
<tr> 
<th colspan="2" class="sub">ご請求先</th>
</tr>
<tr>
<th class="w200">ご請求先</th>
<td>〒{deco_zip($lists[$foreign.billid].countrycode,$lists[$foreign.billid].zip)}<br/>
{$lists[$foreign.billid].prefecture} {$lists[$foreign.billid].address1} {$lists[$foreign.billid].address2}<br/>
{$lists[$foreign.billid].corpname}<br/>
{$lists[$foreign.billid].position} {$lists[$foreign.billid].fullname}
</tr>
</table>
<a href="change/{$foreign.appid}"><img src="/images/common/btn_change.gif" id="action" name="action" value="追加登録"></a>
</div>
{/block}

{block name='headjs'}{$smarty.block.parent}
<link type="text/css" href="/css/jquery/jquery-ui-1.8.11.custom.css" rel="stylesheet" />
<script type="text/javascript" src="/js/jquery/jquery-ui-1.8.11.custom.min.js"></script>
{/block}

{block name='footjs'}{$smarty.block.parent}
<script type="text/javascript" src="/js/e07voucherticket_change.js"></script>
{/block}

{block name='pan'}
{$smarty.block.parent}&nbsp;&gt;&nbsp;<a href="{uri_folder_string()}/e07voucherticket/">幕張新都心食事券</a>&nbsp;&gt;&nbsp;登録内容確認
{/block}
