{extends file='core/member.html'}
{block name='title'}(08)アンカー工事登録 &raquo; 各種申請 &raquo; {$smarty.block.parent}{/block}

{block name='contents'}
<h2>アンカー工事登録</h2>

{if isset($message.__all)}
<div class="blockwarn">
<p>{$message.__all nocache}</p>
</div>
{/if}
<!-- 2016-11-28 クローズの処理追加　日時仮 -->
{if $smarty.now > "2020-11-30 00:00:00"|strtotime}
<p style="font-weight: bold; color: #f00; margin-bottom: 2em; margin-top: 2em; padding: 0.5em; border: 1px solid #f00; background: #ffeded; font-size: 1.25em;">
web登録は締め切らせていただきました。<br>
</p>
{/if}
<!--　// 2016-11-28 クローズの処理追加　日時仮 -->

{include file='core/ex_murayama08.html'}
{include file='core/exhform.html'}
{include file='core/ex_constructor.html'}

<form method="post" action="regist_in"> 
<input type="hidden" name="exhid" value="{$foreign.exhid}"/>
<input type="hidden" name="exhboothid" value="{$foreign.exhboothid}"/>

<table class="uniform"> 
<thead> 
<tr><th colspan="2">アンカー工事業者</th></tr>
</thead>
<tbody> 
<td colspan="2">■アンカー工事業者の連絡窓口を選択して下さい。<span style="color:#ff0000">*</span>
{if $message.outsourcing != '' nocache}<span class="linewarn">{$message.outsourcing nocache}</span>{/if}
<br/>
<input type="radio" id="outsourcing0" name="outsourcing" value="0" {if $foreign.outsourcing==0}checked="checked"{/if}>
上記登録の装飾業者に同じ<br/>
<input type="radio" id="outsourcing1" name="outsourcing" value="1" {if $foreign.outsourcing==1}checked="checked"{/if}>
アンカー工事業者を追加登録<br/>
<p>{if isset($message.outsourcing)}</p>
<p><span class="linewarn">{$message.outsourcing nocache}</span>{/if}</p>
</table>

<div id="tabcontact">
<table class="uniform"> 
<tr><th colspan="2" class="main">アンカー工事業者(登録済の施工業者と異なる場合)</th></tr> 

<th class="w200">アンカー工事業者名 <span class="red">*</span></th> 
<td> 
<input type="text" id="corpname" name="corpname" size="48" maxlength="60" value="{$foreign.corpname nocache}" placeholder="名称"> 
<span class="example">例)○○株式会社</span>
{if $message.corpname != '' nocache}<span class="linewarn">{$message.corpname nocache}</span>{/if}
</td>
</tr> 
 
<tr> 
<th>所在地 <span class="red">*</span></th> 
<td> 
<span class="example"><label for="sekou_zip">郵便番号</label> 例)1234567</span><br /> 
<input type="text" id="zip" name="zip" size="8" maxlength="8" value="{$foreign.zip nocache}" placeholder="郵便番号"> 
<div id="zip" class="clearfix"><span id="zipdir" class="zipsearch">郵便番号から住所を検索</span><span id="ziprev" class="revsearch">住所から郵便番号を検索</span></div>
{if $message.zip != '' nocache}<span class="linewarn">{$message.zip nocache}</span>{/if}
<span class="example"><label for="sekou_address_one">町名番地</label> 例)東京都新宿区新宿6-27-30</span><br /> 
{form_dropdown_ex('prefecture',$prefecture,$foreign.prefecture,'東京都','id="prefecture"')}
{if $message.prefecture != '' nocache}<span class="linewarn">{$message.prefecture nocache}</span>{/if}

<input type="text" id="address1" name="address1" size="31" maxlength="60" value="{$foreign.address1 nocache}" placeholder="町名番地"> 
{if $message.address1 != '' nocache}<span class="linewarn">{$message.address1 nocache}</span>{/if}
<br/> 
<span class="example"><label for="address2">ビルマンション名</label> 例)○○ビル3F</span><br /> 
<input type="text" id="address2" name="address2" size="48" maxlength="60" value="{$foreign.address2 nocache}" placeholder="ビル・マンション名"> 
{if $message.address2 != '' nocache}<span class="linewarn">{$message.address2 nocache}</span>{/if}
<br/> 
</td> 
</tr> 

<tr> 
<th class="w200">担当部署 <span class="red">*</span></th> 
<td> 
<input type="text" id="division" name="division" size="48" maxlength="60" value="{$foreign.division nocache}" placeholder="担当部署名"> 
{if $message.division != '' nocache}<span class="linewarn">{$message.division nocache}</span>{/if}
<br/></td></tr> 
<tr>
<th class="w200">担当者 <span class="red">*</span></th> 
<td> 
<input type="text" id="fullname" name="fullname" size="48" maxlength="60" value="{$foreign.fullname nocache}" placeholder="担当者名"> 
{if $message.fullname != '' nocache}<span class="linewarn">{$message.fullname nocache}</span>{/if}
<br/></td></tr> 
<tr>
<th class="w200">メールアドレス <span class="red">*</span></th> 
<td> 
<input type="text" id="email" name="email" size="48" maxlength="60" value="{$foreign.email nocache}" placeholder="メールアドレス"> 
{if $message.email != '' nocache}<span class="linewarn">{$message.email nocache}</span>{/if}
<br/></td></tr> 
<tr> 
<th>携帯番号 <span class="red">*</span></th> 
<td> 
<span class="example"><label for="sekou_mobile">携帯番号</label>(数字) 例)0312345678</span><br /> 
<input type="text" id="mobile" name="mobile" size="15" maxlength="15" value="{$foreign.mobile nocache}" placeholder="TEL"> 
{if $message.mobile != '' nocache}<span class="linewarn">{$message.mobile nocache}</span>{/if}
</td> 
</tr>
<tr> 
<th>TEL <span class="red">*</span></th> 
<td> 
<span class="example"><label for="sekou_phone">TEL</label>(数字) 例)0312345678</span><br /> 
<input type="text" id="phone" name="phone" size="15" maxlength="15" value="{$foreign.phone nocache}" placeholder="TEL"> 
{if $message.phone != '' nocache}<span class="linewarn">{$message.phone nocache}</span>{/if}
</td> 
</tr> 
 
<tr> 
<th>FAX <span class="red">*</span></th> 
<td> 
<span class="example"><label for="sekou_fax">FAX</label>(数字) 例)0312345678</span><br /> 
<input type="text" id="fax" name="fax" size="15" maxlength="15" value="{$foreign.fax nocache}" placeholder="FAX"> 
{if $message.fax != '' nocache}<span class="linewarn">{$message.fax nocache}</span>{/if}
</td> 
</tr> 
</tbody> 
</table> 
</div> 

<div id="tabanchorbolt">
<table class="uniform">
<colgroup class="w200">
<colgroup>
<tbody>
<tr>
<th colspan="2" class="sub">作業内容</th>
</tr>
<tr>
<th><span class="style5"><span class="style8"><span class="style9 style1 style1 style1 style1 style1"><span style="color:#ff0000">*</span>床面アンカーボルト打設</span></span></th>
<td><input type="text" id="anchorbolt" name="anchorbolt" size="10" maxlength="15" value="{$foreign.anchorbolt nocache}" placeholder="数字のみで入力">
本（@1,650円（税込）/本）<br/>（直径16mm以下/長さ80mm以下）<br/>{if isset($message.anchorbolt)}<span class="linewarn">{$message.anchorbolt nocache}</span>{/if}</td>
</tr>
</table>
</div>

<div id="tabbilling">
<table class="uniform">
<colgroup class="w200">
<colgroup>
<tbody>
<tr><th colspan="2" class="sub">請求先</th></tr>
<td>
<select name="billid">
{foreach from=$lists name=rec item=i}
<option value="{$i.billid}" {if $foreign.billid==$i.billid}selected{/if}>
{if $i.seqno == 0}(デフォルト){else}(追加請求先){/if}:
{$i.corpname} {$i.position} {$i.fullname}
</option>
{/foreach}
</select>
</td>
</tbody>
</table>
</div>

<div class="section">
<p>申請する上でのご注意</p>
<ul>
<li><span class="red">*</span>マークは入力必須項目ですので必ずご記入ください。</li>
<li>半角カタカナはご利用頂けません。</li>
<li>英数字は半角でご入力ください。</li>
</ul>
<p style="margin:.5em 0 0">アンカー工事でのご注意</p>
<ul>
<li>当届をご提出頂いても、会場建造物の構造上、作業できない箇所があります。</li>
<li>提出後に内容の変更があった場合、必ず事前に(株)ムラヤマまでご連絡ください。</li>
<li>コンクリート針・ドライピット鋲を打つことは禁止されています。</li>
<li>ピット端部から20ｃｍ以上離して打設して下さい。</li>
<li>違反作業を行った場合は、ペナルティーが科せられます。</li>
<li>アンカーボルトの打設位置を示した平面図を提出してください。</li>
</ul>
</div>
<!-- 2016-11-28 クローズの処理追加　日時仮 -->
{if $smarty.now < "2020-11-30 00:00:00"|strtotime}
<input type="image" src="/images/common/btn_change_confirm.gif" id="action" name="action" value="入力内容確認画面へ">
{else}
<p style="font-weight: bold; color: #f00; margin-bottom: 2em;">
お申し込みを締め切らせていただきました。
</p>
{/if}
<!--　// 2016-11-28 クローズの処理追加　日時仮 -->

</form>

{/block}

{block name='headjs'}{$smarty.block.parent}
<link type="text/css" href="/css/jquery/jquery-ui-1.8.11.custom.css" rel="stylesheet" />
<script type="text/javascript" src="/js/jquery/jquery-ui-1.8.11.custom.min.js"></script>
{/block}

{block name='footjs'}{$smarty.block.parent}
<script type="text/javascript" src="/js/e08anchor_change.js"></script>
{/block}

{block name='pan'}
{$smarty.block.parent}&nbsp;&gt;&nbsp;<a href="{uri_folder_string()}/e08anchor/">アンカー工事申請</a>&nbsp;&gt;&nbsp;登録
{/block}
