{extends file='core/member.html'}
{block name='title'}(09)天井・二階工事申請 &raquo; 各種申請 &raquo; {$smarty.block.parent}{/block}

{block name='contents'}
<h2>天井・二階建工事登録</h2> 
<p>入力した値はこれでよろしいですか？<br>
よろしければ「編集」ボタンを押してください。</p>
<form method="post" action="change_confirm_in"> 
<input type="hidden" name="appid" value="{$foreign.appid nocache}">
<input type="hidden" name="exhid" value="{$foreign.exhid nocache}">
<input type="hidden" name="appno" value="{$foreign.appno nocache}">
<input type="hidden" name="seqno" value="{$foreign.seqno nocache}">
<input type="hidden" name="token" value="{$foreign.token nocache}">

{include file='core/ex_murayama.html'}
{include file='core/exhform.html'}
{include file='core/ex_constructor.html'}

<table class="uniform">
<tr>
<thead>
<tr><th colspan="2">天井・二階建工事業者<br/>(登録済みの施工業者と異なる場合は天井・二階建工事業者ご入力下さい。)</th></tr>
</thead>
<tbody>
<td colspan="2">■天井・二階建工事業者の連絡窓口を選択して下さい。<span style="color:#ff0000">*</span><br/>
{if $foreign.outsourcing==1}
天井・二階建工事業者を追加登録<br />
{else}
上記登録の装飾業者に同じ<br/>
{/if}
</td></tr>
</tbody>
</table>

{if $foreign.outsourcing==1}
<div id="tabcontact1">
<table class="uniform">
<tr><th colspan="2" class="main">天井・二階建て工事業者名</th></tr>
<th class="w200">施工業者名</th>
<td>{$foreign.corpname nocache}</td>
</tr>
<tr>
<th>所在地</th>
<td>
〒{$foreign.zip nocache}
{$foreign.prefecture nocache}
{$foreign.address1 nocache}
{$foreign.address2 nocache}<br/>
</td>
</tr>
<tr>
<th class="w200">担当部署</th>
<td>
{$foreign.division nocache}
</td>
</tr>
<tr>
<th class="w200">担当者</th>
<td>
{$foreign.fullname nocache}
</td></tr>
<th class="w200">メールアドレス</th>
<td>
{$foreign.email nocache}
</td></tr>
<tr>
<th>携帯番号</th>
<td>
{$foreign.mobile nocache}
</td>
</tr>
<tr>
<th>TEL</th>
<td>
{$foreign.phone nocache}
</td>
</tr>
<tr>
<th>FAX</th>
<td>
{$foreign.fax nocache}
</td>
</tr>
</tbody>
</table>
</div>
{/if}

<div id="tabcorp"> 
<table class="uniform"> 
</tbody>
<tr> 
<th align="left">■天井工事</th>
</tr>
<tr>
<td>
{if $foreign.ceiling==1}
行う
{else}
行わない
{/if}
</td></tr>
<tr>
<td>
{if $foreign.ceiling==1}
(1)ブース平面および立体図*該当箇所を明示したもの<br>
(2)天井構造を説明するのに必要な詳細図面(使用防炎材などの文字説明含む)<br>
<br>
天井部分の面積
<span class="red">{$foreign.ceilingsize nocache}</span>
平方メートル/小間面積
<span class="red">{$foreign.ceilingarea nocache}</span>
平方メートル<br/>
<br/>
●天井工事を行う理由<br/>
<span class="red">{$foreign.ceilingreason nocache}</span>
{/if}
</td></tr>
<tr><th align="left">■二階工事</th></tr>
<tr>
<td>
{if $foreign.floor==1}
行う
{else}
行わない
{/if}
</td></tr>
<tr>
<td>
{if $foreign.floor==1}
▼「行う」をご選択の場合は以下必須入力になります。<br/>
●以下の書類を作成して提出して下さい
(1)ブース平面および立体図*該当箇所を明示したもの<br>
(2)天井構造を説明するのに必要な詳細図面(使用防炎材などの文字説明含む)<br>
<br>
●二階床面積(付帯する階段・スロープ等含む)<br/>
{$foreign.floorsize nocache}
平方メートル/小間面積
{$foreign.floorarea nocache}
平方メートル<br/>
<br/>
●二階の使用目的(ひとつのみ、チェックしてください)<br/>
{if $foreign.purpose2f==1}
来場者の利用がある<br/>
{elseif $foreign.purpose2f==2}
スタッフ等の特定の者が利用する<br/>
{else}
その他(具体的に使用目的をご記入下さい)<br/>
{$foreign.reason2f nocache}
{/if}
<br/>
●二階の床下(一階部分)の使用目的(ひとつのみ、チェックしてください)<br />
{if $foreign.purpose1f==1}
来場者の利用がある<br/>
{elseif $foreign.purpose1f==2}
スタッフ等の特定の者が利用する<br/>
{else}
その他(具体的に使用目的をご記入下さい)<br/>
{$foreign.reason1f nocache}
{/if}
{/if}
</td></tr>

<tr><th><input name="ceiling_nikai_submit" type="submit" class="bt1" value="編集"></th>
</form>
</tr>
</tbody> 
</table> 

{include file="core/ex_2ndfloor.html"}
{/block}

{block name='headjs'}{$smarty.block.parent}
<link type="text/css" href="/css/jquery/jquery-ui-1.8.11.custom.css" rel="stylesheet" />
<script type="text/javascript" src="/js/jquery/jquery-ui-1.8.11.custom.min.js"></script>
{/block}

{block name='footjs'}{$smarty.block.parent}
<script type="text/javascript" src="/js/sponsor_change.js"></script>
<script type="text/javascript" src="/js/e04construction_change.js"></script>
{/block}

{block name='pan'}
{$smarty.block.parent}&nbsp;&gt;&nbsp;<a href="{uri_folder_string()}/e09floor/">天井・二階工事申請</a>&nbsp;&gt;&nbsp;編集
{/block}
