{extends file='core/member.html'}
{block name='title'}(09)天井・二階工事申請削除 &raquo; 各種申請 &raquo; {$smarty.block.parent}{/block}

{block name='contents'}
<h2 class="page-title">天井・二階工事申請削除</h2>
<p class="lead">削除が完了いたしました。最初の画面に戻ってください。</p>

<!--
<div style="margin-top:1em">
<table class="uniform">
<tbody>
<tr>
<td colspan="2" bgcolor="#ffdab9">
</td>
</tr>
</tbody>
</table>
</div>
-->
{/block}

{block name='headjs'}{$smarty.block.parent}
<link type="text/css" href="/css/jquery/jquery-ui-1.8.11.custom.css" rel="stylesheet" />
<script type="text/javascript" src="/js/jquery/jquery-ui-1.8.11.custom.min.js"></script>
{/block}

{block name='footjs'}{$smarty.block.parent}
<script type="text/javascript" src="/js/e09floor_change.js"></script>
{/block}

{block name='pan'}
{$smarty.block.parent}&nbsp;&gt;&nbsp;<a href="{uri_folder_string()}/e09floor/">天井・二階工事申請削除</a>&nbsp;&gt;&nbsp;編集
{/block}
