{extends file='core/member.html'}
{block name='title'}(11)AV機材レンタル申込 &raquo; 各種申請 &raquo; {$smarty.block.parent}{/block}

{block name='contents'}
<h2>AV機材レンタル登録</h2> 

<p>AV機材レンタルの登録をおこないます。</p> 
{if isset($message.__all)}
<div class="blockwarn">{$message.__all nocache}</div>
{/if}<br/>

{include file='core/ex_nexel.html'}
{include file='core/exhform.html'}

<form method="post" action="regist_in">
<input type="hidden" name="exhid" value="{$foreign.exhid}"/>
<input type="hidden" name="exhboothid" value="{$foreign.exhboothid}"/>
{include file="core/e11form.html"}

<input type="image" src="/images/common/btn_change_confirm.gif" id="action" name="avrental_submit" value="入力内容確認画面へ">
</form>

{/block}

{block name='headjs'}{$smarty.block.parent}
<link type="text/css" href="/css/jquery/jquery-ui-1.8.11.custom.css" rel="stylesheet" />
<script type="text/javascript" src="/js/jquery/jquery-ui-1.8.11.custom.min.js"></script>
{/block}

{block name='footjs'}{$smarty.block.parent}
<script type="text/javascript" src="/js/e11avrental_change.js"></script>
{/block}

{block name='pan'}
{$smarty.block.parent}&nbsp;&gt;&nbsp;<a href="{uri_folder_string()}/e11avrental/">AV機材レンタル申込</a>&nbsp;&gt;&nbsp;編集
{/block}
