{extends file='core/member.html'}
{block name='title'}Bスペース用オプション備品 &raquo; {$smarty.block.parent}{/block}

{block name='contents'}
<h2>Bスペース用オプション備品</h2> 
<div style="background-color:#FFFFCC;font-size:10.5pt;margin:8px 0px;padding:2px;border:1px solid #FFFF99;">この申込は B、E、Fスペース専用になります。</div>


{foreach from=$lists name=rec item=i}
{if $smarty.foreach.rec.first}
<div>
<p><a href="#download">[ダウンロード]</a></p>
</div>

<table class="listform tablesorter">
<colgroup class="nowrap">
<thead>
<tr> 
<th rowspan="2" class="nowrap">小間番号</th>
<th rowspan="2">出展者名/表示名</th>
<th rowspan="2">
インフォメーション<br>カウンター
</th>
<th colspan="4">
スタンド椅子
</th>
<th colspan="2">
カタログスタンド
</th>
<th rowspan="2" class="nowrap">
更新日
</th>
<th rowspan="2" class="nowrap">
操作
</th>
</tr>
<tr>
<th>
A
</th>
<th>
B
</th>
<th>
C
</th>
<th>
D
</th>
<th>
A4
</th>
<th>
B4
</th>
</tr>
</thead>
<tbody>
{/if}
 <tr>
 <td class="right">{$i.exhboothno}</td>
 <td><div>{$i.corpname}</div>{$i.brandname}</td>
 <td>{$i.GR_615}</td>
 <td>{$i.BC_38_A}</td>
 <td>{$i.BC_38_B}</td>
 <td>{$i.BC_38_C}</td>
 <td>{$i.BC_38_D}</td>
 <td>{$i.A4}</td>
 <td>{$i.B4}</td>
 <td class="nowrap">{$i.updated|default:"[未登録]"}</td>
 <td class="nowrap">
{if $i.appid != ''}
{if uri_folder_string() == '/op'}
<a href="change/{$i.appid}">[変更]</a><a href="delete/{$i.appid}">[削除]</a>
{else}
<a href="detail/{$i.appid}">[詳細]</a>
{/if}
{else}
{if uri_folder_string() == '/op'}
<a href="create/{$i.exhid}/{$i.exhboothid}">[登録]</a>
{/if}
{/if}
 </td>
 </tr>
{if $smarty.foreach.rec.last}
</tbody>
</table>

<div id="download">
<h3>ダウンロード</h3>
<p>
<a href="download/csv"><img src="/images/common/ico_csv.png" style="vertical-align:text-bottom" width="48" height="48" alt="CSV" title="CSV" />(CSVファイル)</a>
<a href="download/xlsx"><img src="/images/common/ico_xlsx.png" style="vertical-align:text-bottom" width="48" height="48" alt="Excel2007" title="Excel2007" />(Excelファイル)</a>
</p>
</div>
{/if}
{foreachelse}
<div class="warn" style="width:100%; padding:20px 0;">
見つかりません.
</div>
{/foreach}
{/block}

{block name='headjs'}{$smarty.block.parent}
<link type="text/css" href="/css/jquery/tablesorter/style.css" rel="stylesheet" />
<link type="text/css" href="/css/jquery/jquery-ui-1.8.11.custom.css" rel="stylesheet" />
{/block}
{block name='footjs'}{$smarty.block.parent}
<script type="text/javascript" src="/js/jquery/jquery-ui-1.8.11.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="/js/e13equipment_list.js"></script>
{/block}

{block name='pan'}
{$smarty.block.parent}&nbsp;&gt;&nbsp;(14)小間清掃登録
{/block}
