{extends file='core/member.html'}
{block name='title'}Bスペース用オプション備品 &raquo; {$smarty.block.parent}{/block}

{block name='contents'}
<h2>Bスペース用オプション備品</h2> 
<div style="background-color:#FFFFCC;font-size:10.5pt;margin:8px 0px;padding:2px;border:1px solid #FFFF99;">この申込は B、E、Fスペース専用になります。</div>

<div>
	<p>B、E、Fスペース以外のスペースのため、お申込みはできません。 </p>
</div>
{/block}
{block name='headjs'}{$smarty.block.parent}
<link type="text/css" href="/css/jquery/tablesorter/style.css" rel="stylesheet" />
<link type="text/css" href="/css/jquery/jquery-ui-1.8.11.custom.css" rel="stylesheet" />
{/block}
{block name='footjs'}{$smarty.block.parent}
<script type="text/javascript" src="/js/jquery/jquery-ui-1.8.11.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="/js/e13equipment_list.js"></script>
{/block}

{block name='pan'}
{$smarty.block.parent}&nbsp;&gt;&nbsp;(14)小間清掃登録
{/block}
