{extends file='core/public.html'}
{block name='title'}出展申込み受付完了 &laquo; {$smarty.block.parent}{/block}

{block name='contents'}
<h2>出展申込み受付完了</h2>
<p>出展申込み受付が完了致しました。<br />
お申込み・ご登録ありがとうございました。<br />
入力控えは連絡先メールアドレスに自動返信されます。<br />
<br />
なお、正式な出展受理についてのご連絡は8月下旬を予定しており、出展受理書をもちまして正式受理となります。<br /><br />
→<a href="http://www.tokyoautosalon.jp/2020ex/procedure/" target="_blank">出展申込みの流れ</a></p>
<div class="inquiry"><span style="font-weight:bold;">ご質問、お問い合せは下記までお願いします。</span><br /><br />
東京オートサロン事務局<br />TEL:03-6897-4820<br />FAX:03-6897-4840</div>

<!-- 2019 最終申し込み完了後修正 -->
<!--<div class="btn-detail" style="margin:20px 0 0;">-->
<!--<a href="http://www.tokyoautosalon.jp"><img src="/images/common/btn_back03.gif" width="170" height="25" alt="トップページに戻る" /></a>-->
<!--</div>-->

{/block}

{block name='headjs'}{$smarty.block.parent}
<style>#contents th.sub { background:#4D80C1!important; color:#fff!important; }</style>
{/block}
