{extends file='core/member.html'}
{block name='title'}開催情報 &raquo; {$smarty.block.parent}{/block}

{block name='contents'}
<h2>開催情報</h2>

<div id="cnav" class="clearfix">
<a href="regist"><img src="/images/common/btn_regist.gif" width="100" height="25" alt="新規作成" /></a>
<div class="search">
<form id="search" method="post" action="search">
<input type="image" src="/images/common/btn_search_02.gif" id="action" name="action" value="検索">
<input type="text" id="q" name="q" value="{$q}" />
</form>
</div>
</div>
{foreach from=$lists name=rec item=i}
{if $smarty.foreach.rec.first}
<table class="listform tablesorter" >
<thead>
 <tr>
 <th class="nowrap">開催コード</th>
 <th class="nowrap">開催名称</th>
 <th class="nowrap">開催略称</th>
 <th class="nowrap">区分</th>
 <th class="nowrap">会場</th>
 <th class="nowrap">開催期間</th>
 <th class="nowrap">申込期間</th>
 </tr>
</thead>
<tbody>
{/if}
 <tr>
 <td><a href="change/{$i.eventid}">{$i.eventid}</a></td>
 <td><span title="{$i.eventname nocache}">{$i.eventname|truncate:24:"..." nocache}</span></td>
 <td>{$i.eventabbr nocache}</td>
 <td>{$i.eventtype nocache}</td>
 <td><span class="nowrap">{$i.eventsite nocache}</span></td>
 <td>{$i.event_sdate nocache}～<span class="nowrap">{$i.event_edate nocache}</span></td>
 <td>{$i.entry_sdate nocache}～<span class="nowrap">{$i.entry_edate nocache}</span></td>
 </tr>
{if $smarty.foreach.rec.last}
</tbody>
</table>
{/if}
{foreachelse}
<div class="notice">
<p>データが見つかりません.</p>
</div>
{/foreach}
{/block}
{block name='headjs'}{$smarty.block.parent}
<link type="text/css" href="/css/jquery/tablesorter/style.css" rel="stylesheet" />
{/block}
{block name='footjs'}{$smarty.block.parent}
<script type="text/javascript" src="/js/jquery/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="/js/list.js"></script>
{/block}

{block name='pan'}
{$smarty.block.parent}&nbsp;&gt;&nbsp;開催情報
{/block}
