{extends file='core/member.html'}
{block name='title'}ステータス変更の確認 &laquo; 出展者 &laquo; {$smarty.block.parent}{/block}

{block name='contents'}
<h2>ステータス変更の確認 - {$foreign.brandname nocache}</h2>
<p style="margin:0 0 20px;">以下にステータス変更してよろしいですか？<br>
よろしければ「ステータス変更」ボタンを押してください。</p>

<form method="post" action="status_confirm_in">
<p>変更前：
<span class="red">{$status[$foreign.statusno]}</span>({$foreign.statusno})
→
変更後：
<span class="red">{$status[$foreign.nextstate]}</span>({$foreign.nextstate})
</p>

<div id="tabcorp">
<table class="uniform">

<tr><th colspan="2" class="sub">出展会社名</th></tr>

<tr>
<th class="w200">出展者コード</th>
<td>{$foreign.exhid nocache}</td>
</tr>

<tr>
<th class="w200">会社名</th>
<td><div class="ruby">{$foreign.corpkana nocache}</div>{$foreign.corpname nocache}</td>
</tr>

<tr>
<th class="w200">所在地</th>
<td>
〒{$foreign.zip nocache}<br/>
{$foreign.prefecture nocache}
{$foreign.address1 nocache}
{$foreign.address2 nocache}
</td>
</tr>

<tr>
<th class="w200">代表者名</th>
<td>
{$foreign.position nocache}
<div class="ruby">{$foreign.fullkana nocache}</div>{$foreign.fullname nocache}
</td>
</tr>

<tr>
<th class="w200">TEL</th>
<td>{$foreign.phone nocache}</td>
</tr>

<tr>
<th class="w200">FAX</th>
<td>{$foreign.fax nocache}</td>
</tr>

<tr>
<th class="w200">Webサイト</th>
<td>{if isset($foreign.url)}http://{$foreign.url nocache}{/if}</td>
</tr>

</table>
</div>

<div id="tabshow">
<table class="uniform" summary="表示名">
<tr><th colspan="2" class="sub">表示名</th></tr>

<tr>
<th class="w200">表示名</th>
<td>
<div class="ruby">{$foreign.brandkana nocache}</div>{$foreign.brandname nocache}
</td>
</tr>

</table>
</div>

<div id="tabmanage">
<table class="uniform" summary="出展責任者">
<tr><th colspan="2" class="sub">出展責任者</th></tr>

<tr>
<th class="w200">会社名</th>
<td><div class="ruby">{$foreign.m_corpkana nocache}</div>{$foreign.m_corpname nocache}</td>
</tr>

<tr>
<th class="w200">所在地</th>
<td>
〒{$foreign.m_zip nocache}<br/>
{$foreign.m_prefecture nocache}
{$foreign.m_address1 nocache}
{$foreign.m_address2 nocache}
</td>
</tr>

<tr>
<th class="w200">担当者名</th>
<td>
{$foreign.m_division nocache} {$foreign.m_position nocache}<br/>
<div class="ruby">{$foreign.m_fullkana nocache}</div>{$foreign.m_fullname nocache}
</td>
</tr>

<tr>
<th class="w200">TEL</th>
<td>{$foreign.m_phone nocache}</td>
</tr>

<tr>
<th class="w200">FAX</th>
<td>{$foreign.m_fax nocache}</td>
</tr>

<tr>
<th class="w200">携帯</th>
<td>{$foreign.m_mobile nocache}</td>
</tr>

<tr>
<th class="w200">メールアドレス</th>
<td>{$foreign.m_email nocache}</td>
</tr>
</table>
</div>

<div id="tabbill">
<table class="uniform" summary="請求先">

<tr><th colspan="2" class="sub">請求先</th></tr>
<tr>
<th class="w200">会社名</th>
<td><div class="ruby">{$foreign.b_corpkana nocache}</div>{$foreign.b_corpname nocache}</td>
</tr>

<tr>
<th class="w200">所在地</th>
<td>
〒{$foreign.b_zip nocache}<br/>
{$foreign.b_prefecture nocache}
{$foreign.b_address1 nocache}
{$foreign.b_address2 nocache}
</td>
</tr>

<tr>
<th class="w200">担当者名</th>
<td>
{$foreign.b_division nocache} {$foreign.b_position nocache}<br/>
<div class="ruby">{$foreign.b_fullkana nocache}</div>{$foreign.b_fullname nocache}
</td>
</tr>

<tr>
<th class="w200">TEL</th>
<td>{$foreign.b_phone nocache}</td>
</tr>

<tr>
<th class="w200">FAX</th>
<td>{$foreign.b_fax nocache}</td>
</tr>

</table>
</div>

<div id="tabcontact">
<table class="uniform" summary="連絡先">

<tr><th colspan="2" class="sub">連絡先</th></tr>

<tr>
<th class="w200">会社名</th>
<td><div class="ruby">{$foreign.c_corpkana nocache}</div>{$foreign.c_corpname nocache}</td>
</tr>

<tr>
<th class="w200">所在地</th>
<td>
〒{$foreign.c_zip nocache}<br/>
{$foreign.c_prefecture nocache}
{$foreign.c_address1 nocache}
{$foreign.c_address2 nocache}
</td>
</tr>

<tr>
<th class="w200">担当者名</th>
<td>
{$foreign.c_division nocache} {$foreign.c_position nocache}<br/>
<div class="ruby">{$foreign.c_fullkana nocache}</div>{$foreign.c_fullname nocache}
</td>
</tr>

<tr>
<th class="w200">TEL</th>
<td>{$foreign.c_phone nocache}</td>
</tr>

<tr>
<th class="w200">FAX</th>
<td>{$foreign.c_fax nocache}</td>
</tr>

<tr>
<th class="w200">携帯</th>
<td class="w200">{$foreign.c_mobile nocache}</td>
</tr>

<tr>
<th class="w200">メールアドレス</th>
<td>{$foreign.c_email nocache}</td>
</tr>
</table>
</div>

<div id="tabdist">
<table class="uniform" summary="送付先">

<tr><th colspan="2" class="sub">配布物送付先</th></tr>

<tr>
<th class="w200">会社名</th>
<td><div class="ruby">{$foreign.d_corpkana nocache}</div>{$foreign.d_corpname nocache}</td>
</tr>

<tr>
<th class="w200">所在地</th>
<td>
〒{$foreign.d_zip nocache}<br/>
{$foreign.d_prefecture nocache}
{$foreign.d_address1 nocache}
{$foreign.d_address2 nocache}
</td>
</tr>

<tr>
<th class="w200">担当者名</th>
<td>
{$foreign.d_division nocache} {$foreign.d_position nocache}<br/>
<div class="ruby">{$foreign.d_fullkana nocache}</div>{$foreign.d_fullname nocache}
</td>
</tr>

<tr>
<th class="w200">TEL</th>
<td>{$foreign.d_phone nocache}</td>
</tr>

<tr>
<th class="w200">FAX</th>
<td>{$foreign.d_fax nocache}</td>
</tr>

</table>
</div>

<div id="tabdetail">
<table class="uniform" summary="出展内容">
<tr><th colspan="2" class="sub">出展内容</th></tr>
<tr>
<th class="w200">カテゴリー</th>
<td>
{foreach from=$category name=rec key=k item=i}
{assign var="key" value="q_category_{$k}"}
{if isset($foreign.$key) && $foreign.$key != ''}■{$i}&nbsp;{/if}
{/foreach}
</td>
</tr>

<tr>
<th class="w200">展示車両</th>
<td>
{foreach from=$section name=rec key=k item=i}
{assign var="key" value="q_section_{$k}"}
{if isset($foreign.$key) && $foreign.$key != ''}■{$i}&nbsp;{/if}
{/foreach}
</td>
</tr>

<tr>
<th class="w200">展示予定台数</th>
<td>{$foreign.q_entrycars nocache}台</td>
</tr>

<tr>
<th class="w200">物販内容</th>
<td>{$foreign.q_salesitem nocache}</td>
</tr>

<tr><th colspan="2" class="sub">出展申込記入欄</th></tr>
<tr>
{if $foreign.q_boothcount1 >= 1}
<tr>
<th>希望小間形状</th>
<td>{$booth[$foreign.q_booth1]}</td>
</tr>
{/if}
{if $foreign.q_boothcount2 >= 1}
<tr>
<th>希望小間形状(追加)</th>
<td>{$booth[$foreign.q_booth2]}</td>
</tr>
{/if}
{if $foreign.q_boothcount3 >= 1}
<tr>
<th>希望小間形状(追加)</th><td>{$booth[$foreign.q_booth3]}</td>
</tr>
{/if}

<tr><th colspan="2" class="sub">プロモーションコード</th></tr>
<tr>
<th class="w200">コード</th>
<td>{$foreign.promotion nocache}</td>
</tr>
</table>

<table class="uniform" summary="事務局メモ">
<tr><th colspan="2" class="sub">事務局メモ</th></tr>
<tr>
<th class="w200">メモ</th>
<td>{$foreign.comment nocache}</td>
</tr>
<tr>
<th class="w200">申込日時</th>
<td>{$foreign.accepted nocache}</td>
</tr>
</table>
</div>

<a href="detail/{$foreign.exhid}"><img src="/images/common/btn_cancel.gif" width="100" height="25" alt="キャンセル" style="float:right;" /></a>
{if ($foreign.nextstate == 400)}
<input type="image" src="/images/common/btn_receipt_mail.gif" id="remail" name="remail" value="変更して通知">
{elseif ($foreign.nextstate == 401 && $foreign.promotion == '')}
<input type="image" src="/images/common/btn_receipt_issuance.gif" id="action" name="action" value="受理書発行">
{else}
<input type="image" src="/images/common/btn_change.gif" id="action" name="action" value="変更">
{/if}
</form>

{/block}

{block name='pan'}
{$smarty.block.parent}&nbsp;&gt;&nbsp;出展者&nbsp;&gt;&nbsp;ステータス変更の確認
{/block}

{block name='headjs'}{$smarty.block.parent}
<style>#contents th.sub { background:#4D80C1!important; color:#fff!important; }</style>
{/block}
{block name='footjs'}{$smarty.block.parent}
<script type="text/javascript" src="/js/exhibitor_change.js"></script>
{/block}
