{extends file='core/member.html'}
{block name='title'}削除 &raquo; 開催地 &raquo; {$smarty.block.parent}{/block}

{block name='contents'}
<h2>削除 &raquo; 開催地</h2>
<p class="faxmark">以下のデータを削除してよろしいですか？
<br />注意！削除すると元に戻せなくなります。</p>
<div id="delete-nav">
<form method="post" action="../delete_in">
<table class="uniform">

<tr>
<th>コード</th>
<td>{$foreign.locationcode nocache}</td>
</tr>
<tr>
<th>並び順</th>
<td>{$foreign.seqno nocache}</td>
</tr>
<tr>
<th>開催地</th>
<td>{$foreign.locationname nocache}</td>
</tr>
<tr>
<th>開催地略記</th>
<td>{$foreign.locationabbr nocache}</td>
</tr>

</table>
<input type="hidden" name="locationcode" value="{$foreign.locationcode nocache}">
<input type="image" src="/images/common/btn_delete.gif" id="action" name="action" value="削除">
</form>
</div>
{/block}

{block name='pan'}
{$smarty.block.parent}&nbsp;&gt;&nbsp;<a href="{uri_folder_string()}/location/">開催地</a>&nbsp;&gt;&nbsp;削除
{/block}