{extends file='core/secure.html'}
{block name='canvas'}
<h1><img src="/images/common/logo.gif" width="264" height="37" alt="TASA 東京オートサロン事務局 Control Panel var 1.0" /></h1>
<h2 style="margin:0 0 20px; font-size:14px; font-weight:bold;">東京オートサロン2020<br>
諸手続き開始日時について</h2>
<p style="margin:0 0 20px; text-align:center;">Web諸手続き開始は<br>
	<span style="font-size: 1.25em; font-weight: bold;">【 2018年11月5日（月）10：00 】</span><br>
を予定しております。<br><br>
しばらくお待ちくださいませ。<br>
<br>
<span style="font-size: 1.25em; font-weight: bold;">東京オートサロン事務局</span></p>
<div class="col3"><a href="logout"><img src="/images/common/btn_logout.gif" width="220" height="35" alt="ログインページへ戻る" /></a></div>
{/block}
