{extends file='core/member.html'}
{block name='title'}みんカラ登録 &raquo; {$smarty.block.parent}{/block}

{block name='contents'}
<h2>みんカラ登録</h2> 

{foreach from=$lists name=rec item=i}
{if $smarty.foreach.rec.first}
<div id="tabcorp"> 
<table class="listform tablesorter"> 
<colgroup class="nowrap">
<colgroup>
<colgroup>
<colgroup class="nowrap">
<colgroup class="nowrap">
<thead>
<tr> 
<th>小間番号</th> 
<th>出展者名/表示名</th> 
<th class="nowrap">住所/氏名</th>
<th class="nowrap">登録日</th>
<th class="nowrap">操作</th> 
</tr>
</thead>
<tbody>
{/if}
<tr>
<td>{$i.exhboothno}</td>
<td>{$i.corpname}<br/>{$i.brandname}</td>
{if $i.appid != ''}
<td><div>〒{deco_zip($i.c_countrycode,$i.c_zip)} {$i.c_address1} {$i.c_address2}</div>
{$i.c_fullname} {deco_phone($i.c_countrycode,$i.c_phone)}</td>
<td>{$i.updated}</td>
{else}
<td colspan="2">(未登録)</td>
{/if}
<td class="nowrap">
{if $i.appid != ''}
{else}<a href="create/{$i.exhid}/{$i.exhboothid}">[登録]</a>
{/if}
</td>
</tr>
{if $smarty.foreach.rec.last}
</tbody>
</table>
</div>
{/if}
{foreachelse}
<div class="warn" style="width:100%; padding:20px 0;">
見つかりません.
</div>
{/foreach}
{/block}

{block name='headjs'}{$smarty.block.parent}
<link type="text/css" href="/css/jquery/tablesorter/style.css" rel="stylesheet" />
<link type="text/css" href="/css/jquery/jquery-ui-1.8.11.custom.css" rel="stylesheet" />
{/block}
{block name='footjs'}{$smarty.block.parent}
<script type="text/javascript" src="/js/jquery/jquery-ui-1.8.11.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="/js/e14cleaning_list.js"></script>
{/block}

{block name='pan'}
{$smarty.block.parent}&nbsp;&gt;&nbsp;みんカラ登録
{/block}

