{extends file='core/member.html'}
{block name='title'}請求額決定 &laquo; 請求登録 &laquo; {$smarty.block.parent}{/block}

{block name='contents'}
<h2>請求登録 &raquo; 請求額決定</h2>
<div class="article">
<p>請求登録を完了しました。</p>
</div>

<div id="tabbill">
<table class="uniform" summary="請求先">
<tr><th colspan="2" class="sub">請求先</th></tr>
<tr>
<th class="w200">会社名</th>
<td><div class="ruby">{$billing.corpkana nocache}</div>{$billing.corpname nocache}</td>
</tr>

<tr>
<th class="w200">所在地</th>
<td>
〒{$billing.zip nocache}<br/>
{$billing.prefecture nocache}
{$billing.address1 nocache}
{$billing.address2 nocache}
</td>
</tr>

<tr>
<th class="w200">担当者名</th>
<td>
{$billing.division nocache} {$billing.position nocache}<br/>
<div class="ruby">{$billing.fullkana nocache}</div>{$billing.fullname nocache}
</td>
</tr>

<tr>
<th class="w200">TEL</th>
<td>{$billing.phone nocache}</td>
</tr>

<tr>
<th class="w200">FAX</th>
<td>{$billing.fax nocache}</td>
</tr>
</table>
</div>

{foreach from=$lists name=rec item=i}
{if $smarty.foreach.rec.first}
<div>
<table class="listform tablesorter">
<colgroup>
<colgroup>
<colgroup>
<colgroup class="nowrap">
<colgroup class="nowrap" style="width:4.5em;">
<colgroup class="nowrap" style="width:7em;">
<colgroup class="nowrap" style="width:7em;">
<colgroup class="nowrap" style="width:7em;">
<colgroup>
<thead>
<tr>
<th>会社名/表示名</th>
<th>請求項目/種別/形状</th>
<th>数量</th>
<th>単価</th>
<th>請求金額</th>
<th>項目割引</th>
</tr>
</thead>
<tbody>
{/if}
{assign var="ckey" value="itemname{$i.no}"}
{assign var="ikey" value="itemdetail{$i.no}"}
{assign var="ukey" value="unitprice{$i.no}"}
{assign var="qkey" value="quantity{$i.no}"}
{assign var="dkey" value="discount{$i.no}"}
<tr>
<td>{$foreign[$ckey]}</td>
<td>{$foreign[$ikey]}</td>
<td class="right">{floatval($foreign[$qkey])}</td>
<td class="right">&yen;{(intval($foreign[$ukey]))|number_format}</td>
<td class="right">&yen;{(floatval($foreign[$qkey])*intval($foreign[$ukey]))|number_format}</td>
<td class="right">{if $foreign[$dkey] != ''}<span class="grey">&yen;{$foreign[$dkey]|number_format}{/if}</span></td>
</tr>
{if $smarty.foreach.rec.last}
</tbody>
<tfoot>
<tr>
<td colspan="4" class="right">合計</td>
<td class="right">&yen;{$foreign.subtotal|number_format}</td>
<td colspan="1" class="right">&nbsp;</td>
</tr>
<tr>
<td colspan="4" class="right">合計値引額</td>
<td class="right">&yen;{$foreign.discount|number_format}</td>
<td colspan="1" class="right">&nbsp;</td>
</tr>
<tr>
<td colspan="4" class="right">請求予定額</td>
<td class="right">&yen;{$foreign.amount|number_format}</td>
<td colspan="1" class="right">&nbsp;</td>
</tr>
</tfoot>
</table>
</div>
{/if}
{/foreach}

<div class="btn-detail" style="margin:20px 0 0;">
<a href="../invoice/detail/{$foreign.invoiceid}"><img src="/images/common/btn_invoice_issuance.gif" width="150" height="25" alt="請求書印刷" /></a>
<a href="../"><img src="/images/common/btn_back.gif" width="100" height="25" alt="一覧に戻る" style="float:right;" /></a>
</div>
{/block}

{block name='headjs'}{$smarty.block.parent}
<link type="text/css" href="/css/jquery/tablesorter/style.css" rel="stylesheet" />
<style>#contents th.sub { background:#4D80C1; color:#fff; }</style>
<link type="text/css" href="/css/jquery/jquery-ui-1.8.11.custom.css" rel="stylesheet" />
<script type="text/javascript" src="/js/jquery/jquery-ui-1.8.11.custom.min.js"></script>
{/block}

{block name='footjs'}{$smarty.block.parent}
<script type="text/javascript" src="/js/itemfee_regist.js"></script>
{/block}

{block name='pan'}
{$smarty.block.parent} &gt; 請求登録 &gt; 請求額決定
{/block}
