{extends file='core/member.html'}
{block name='title'}確認 &raquo; パスワード変更 &raquo; {$smarty.block.parent}{/block}

{block name='contents'}
<h2>パスワード変更の確認</h2>
<p>パスワードを変更してよろしいですか？<br>
よろしければ「変更」ボタンを押してください。</p>
<div id="change-nav">
<form method="post" action="change_confirm_in">
<div id="tabs">
<table class="uniform">
<thead>
<tr>
<th colspan="2" class="main">新しいパスワード</th>
</tr>
</thead>
</tbody>
<tr>
<th class="w200">新パスワード</th>
<td>{$foreign.newpassword nocache}</td>
</tr>
</tbody>
</table>
</div>
<input type="image" src="/images/common/btn_change.gif" id="action" name="action" value="変更">
</form>
</div>
{/block}

{block name='pan'}
{$smarty.block.parent}&nbsp;&gt;&nbsp;<a href="{uri_folder_string()}/password/">パスワード</a>&nbsp;&gt;&nbsp;確認
{/block}
