{extends file='core/member.html'}
{block name='title'}パスワード変更 &raquo; {$smarty.block.parent}{/block}

{block name='contents'}
<h2>パスワード変更</h2>
<div id="change-nav">
<form method="post" action="change_in">
{if $message.__all != ''}<div class="blockwarn">{$message.__all nocache}</div>{/if}
<div id="tabs">
<table class="uniform">
<tr>
<th colspan="2" class="w200">パスワード</th>
</tr>
<tr>
<th class="w200">新しいパスワード</th>
<td><input type="text" name="newpassword" value="{$foreign.newpassword}" placeholder="新パスワードを入力">{if isset($message.newpassword)}&nbsp;<span class="linewarn">{$message.newpassword nocache}</span>{/if}
<br />例)xsa$mi2s</td>
</tr>
<tr>
<th class="w200">確認のため再入力</th>
<td><input type="text" name="newpassconf" value="{$foreign.newpassconf}" placeholder="確認のために再入力">{if isset($message.newpassconf)}&nbsp;<span class="linewarn">{$message.newpassconf nocache}</span>{/if}
<br />例)xsa$mi2s</td>
</tr>
<!--
<tr><th>パスワード</th><td>
<label>新しいパスワード</label> <span class="example">例)xsa$mi2s</span><br/>
<input type="text" name="newpassword" value="{$foreign.newpassword}" placeholder="新パスワードを入力">
{if isset($message.newpassword)}<span class="linewarn">{$message.newpassword nocache}</span>{/if}<br />
<label>確認のため再入力</label> <span class="example">例)xsa$mi2s</span><br/>
<input type="text" name="newpassconf" value="{$foreign.newpassconf}" placeholder="確認のために再入力">
{if isset($message.newpassconf)}<span class="linewarn">{$message.newpassconf nocache}</span>{/if}
</td></tr>
-->
</table>
<div class="info" style="margin:0 0 20px">
<ul>
<li class="lineinfo">パスワードは厳重にお客様にて管理してください。</li>
<li class="lineinfo">パスワードは4文字以上32文字以内で、半角英数字・一部記号(=+/.,-_)が使用可能です。</li>
<li class="lineinfo">安易な文字列、少ない文字長のパスワードはお控えください。</li>
<li class="lineinfo">セキュリティの観点からパスワードを定期的に変更することをお勧めします。</li>
</ul>
</div>

<div class="btn" style="margin:20px 0 0;">
<a href="../"><img src="/images/common/btn_back.gif" width="100" height="25" alt="一覧に戻る" style="float:right;" /></a>
<input type="image" src="/images/common/btn_change.gif" id="action" name="action" value="変更">
</div>
</form>
</div>
</div>
{/block}
{block name='pan'}
{$smarty.block.parent}&nbsp;&gt;&nbsp;パスワード変更
{/block}