{extends file='core/member.html'}
{block name='title'}登録 &raquo; 入金 &raquo; {$smarty.block.parent}{/block}

{block name='contents'}
<h2>入金 &raquo; 登録</h2>
<p>入金金額の登録をおこないます。入金後、該当する請求書の消込登録を行ってください。</p>
{if $message.__all != '' nocache}<div class="blockwarn">{$message.__all nocache}</div>{/if}
<div id="regist-nav">
<form method="post" action="regist_in">
<table class="uniform">

<tr>
<th>入金No</th>
<td>(新規)</td>
</tr>

<tr>
<th>入金日</th>
<td>
<input type="text" id="paymentdate" name="paymentdate" class="datepicker" value="{$foreign.paymentdate nocache}" placeholder="YYYY-MM-DD形式" />
{if $message.paymentdate != '' nocache}<span class="linewarn">{$message.paymentdate nocache}</span>{/if}
<span class="example">例) 2011-11-14</span>
</td>
</tr>

<th>入金元<br/>(請求先)</th>
<td>
<input type="text" name="corpname" value="{$foreign.corpname nocache}" placeholder="入金元を入力" />
{if $message.corpname != '' nocache}<span class="linewarn">{$message.corpname nocache}</span>{/if}
<span class="example">例) 東京オートサロン2011</span>
</td>
</tr>

<tr>
<th>入金金額</th>
<td>
<input type="text" name="deposit" value="{$foreign.deposit nocache}" placeholder="入金金額を入力" />
{if $message.deposit != '' nocache}<span class="linewarn">{$message.deposit nocache}</span>{/if}
<span class="example">例) 14700000</span>
</td>
</tr>

<tr>
<th>入金方法</th>
<td>
{form_dropdown('paymentcode', $paymenttype, $foreign.paymentcode, 'id="paymentcode"')}
{if $message.paymentcode != '' nocache}<span class="linewarn">{$message.paymentcode nocache}</span>{/if}
</td>
</tr>

<tr>
<th>入金先</th>
<td>
{form_dropdown('payeeid', $payee, $foreign.payeeid, 'id="payeeid"')}
{if $message.payeeid != '' nocache}<span class="linewarn">{$message.payeeid nocache}</span>{/if}
</td>
</tr>

</table>
<input type="image" src="/images/common/btn_change_confirm.gif" id="action" name="action" value="入力内容確認>へ">
</form>
</div>
{/block}

{block name='headjs'}{$smarty.block.parent}
<link type="text/css" href="/css/jquery/jquery-ui-1.8.14.custom.css" rel="stylesheet" />
<script type="text/javascript" src="/js/jquery/jquery-ui-1.8.14.custom.min.js"></script>
{/block}

{block name='footjs'}{$smarty.block.parent}
<script type="text/javascript" src="/js/jquery/ui/i18n/jquery.ui.datepicker-ja.js"></script>
<script type="text/javascript" src="/js/payment_change.js"></script>
{/block}

{block name='pan'}
{$smarty.block.parent}&nbsp;&gt;&nbsp;<a href="{uri_folder_string()}/payment/">入金</a>&nbsp;&gt;&nbsp;登録
{/block}
