{extends file='core/member.html'}
{block name='title'}変更 &raquo; 都道府県 &raquo; {$smarty.block.parent}{/block}

{block name='contents'}
<h2>変更</h2>
{if $message.__all != '' nocache}<div class="blockwarn">{$message.__all nocache}</div>{/if}
<div id="change-nav">
<form method="post" action="../change_in">
<table class="uniform">

<tr>
<th>コード</th>
<td>
{$foreign.prefcode nocache}
<input type="hidden" name="prefcode" value="{$foreign.prefcode nocache}" placeholder="数値２桁で入力" />
</td>
</tr>

<tr>
<th>都道府県名</th>
<td>
<input type="text" name="prefname" value="{$foreign.prefname nocache}" placeholder="都道府県名を入力" />
{if $message.prefname != '' nocache}<span class="linewarn">{$message.prefname nocache}</span>{/if}
<span class="example">例) 東京都</span>
</td>
</tr>

</table>
<div class="del-btn"><a href="../delete/{$foreign.prefcode nocache}"><img src="/images/common/btn_delete.gif" width="150" height="25" alt="削除" /></a></div>
<input type="image" src="/images/common/btn_change.gif" id="action" name="action" value="変更">
</form>
</div>
{/block}

{block name='footjs'}{$smarty.block.parent}
<script type="text/javascript" src="/js/prefecture_change.js"></script>
{/block}

{block name='pan'}
{$smarty.block.parent}&nbsp;&gt;&nbsp;<a href="{uri_folder_string()}/prefecture/">都道府県</a>&nbsp;&gt;&nbsp;変更
{/block}
