{extends file='core/secure.html'}

{block name='canvas'}
<h1><img src="/images/common/logo.gif" width="264" height="37" alt="TASA 東京オートサロン事務局 Control Panel var 1.0" /></h1>

<h2 style="margin:0 0 20px; font-size:14px; font-weight:bold;">この機能は公開されていません。</h2>
<p style="margin:0 0 20px; text-align:center;">
あなたの権限では、
<br />この機能を使用できません。
<br />もし、操作が可能な方で
<br />このメッセージが表示される場合は、
<br />サポートセンターまでご連絡ください。</p>
<p>各種諸手続きは11月15日(金)より開始になります。もうしばらくお待ちください。</p>

<div class="col3"><a href="javascript:history.back();"><img src="/images/common/btn_back02.gif" width="220" height="35" alt="戻る" /></a></div>
{/block}
