{extends file='core/member.html'}
{block name='title'}削除 &raquo; 部門エントリ &raquo; {$smarty.block.parent}{/block}

{block name='contents'}
<h2>削除 &raquo; 部門エントリ</h2>
<p class="faxmark">以下のデータを削除してよろしいですか？
<br />注意！削除すると元に戻せなくなります。</p>
<div id="delete-nav">
<form method="post" action="../delete_in">
<table class="uniform">

<tr>
<th>エントリコード</th>
<td>{$foreign.sectioncode nocache}</td>
</tr>
<tr>
<th>並び順</th>
<td>{$foreign.seqno nocache}</td>
</tr>
<tr>
<th>エントリ名</th>
<td>{$foreign.sectionname nocache}</td>
</tr>
<tr>
<th>エントリ略記</th>
<td>{$foreign.sectionabbr nocache}</td>
</tr>

</table>
<input type="hidden" name="sectioncode" value="{$foreign.sectioncode nocache}">
<input type="image" src="/images/common/btn_delete.gif" id="action" name="action" value="削除">
</form>
</div>
{/block}
{block name='pan'}
{$smarty.block.parent}&nbsp;&gt;&nbsp;<a href="{uri_folder_string()}/section/">部門エントリ</a>&nbsp;&gt;&nbsp;削除
{/block}