{extends file='core/member.html'}
{block name='title'}変更 &raquo; 部門エントリ &raquo; {$smarty.block.parent}{/block}

{block name='contents'}
<h2>変更 &raquo; 部門エントリ</h2>
{if $message.__all != '' nocache}<div class="blockwarn">{$message.__all nocache}</div>{/if}
<div id="change-nav">
<form method="post" action="../change_in">
<table class="uniform">

<tr>
<th>エントリコード</th>
<td>{$foreign.sectioncode nocache}
<input type="hidden" name="sectioncode" value="{$foreign.sectioncode nocache}">
</td>
</tr>
<tr>
 <th>並び順</th>
 <td>
 <input type="text" name="seqno" value="{$foreign.seqno nocache}" placeholder="数値を入力" />
{if $message.seqno != "" nocache}<span class="linewarn">{$message.seqno nocache}</span>{/if}
 <span class="example">例)10</span>
 </td>
</tr>
<tr>
 <th>エントリ名</th>
 <td>
 <input type="text" name="sectionname" value="{$foreign.sectionname nocache}" placeholder="エントリ名を入力" />
{if $message.sectionname != "" nocache}<span class="linewarn">{$message.sectionname nocache}</span>{/if}
 <span class="example">例)チューニング部門</span>
 </td>
</tr>
<tr>
 <th>エントリ略記</th>
 <td>
 <input type="text" name="sectionabbr" value="{$foreign.sectionabbr nocache}" placeholder="エントリ略記を入力" />
{if $message.sectionabbr != "" nocache}<span class="linewarn">{$message.sectionabbr nocache}</span>{/if}
 <span class="example">例)チューニング</span>
 </td>
</tr>
<tr>
 <th>非表示</th>
 <td>
 <input type="hidden" name="allow" value="1" />
 <input type="checkbox" name="allow" value="0" style="width:auto;height:auto;"{if $foreign.allow == 0} checked="checked"{/if} />選択肢として表示しない
 <span class="example">非表示にする場合はチェック</span>
 </td>
</tr>

</table>
<div class="del-btn"><a href="../delete/{$foreign.sectioncode nocache}"><img src="/images/common/btn_delete.gif" width="150" height="25" alt="削除" /></a></div>
<input type="image" src="/images/common/btn_change.gif" id="action" name="action" value="変更">
</form>
</div>
{/block}

{block name='footjs'}{$smarty.block.parent}
<script type="text/javascript" src="/js/section_change.js"></script>
{/block}

{block name='pan'}
{$smarty.block.parent}&nbsp;&gt;&nbsp;<a href="{uri_folder_string()}/section/">部門エントリ</a>&nbsp;&gt;&nbsp;変更
{/block}