{extends file='core/member.html'}
{block name='title'}申込内容 &raquo; 協賛者 &raquo; {$smarty.block.parent}{/block}

{block name='contents'}
<h2>申込内容詳細</h2>

<div style="line-height:25px; height:40px;">
<form method="post" action="../status_in">
<div style="color:#000;float:right;">
<input type="image" src="/images/common/btn_next_state.gif" id="action" name="action" value="ステータス変更">
<input type="hidden" id="spoid" name="spoid" value="{$foreign.spoid}">
<input type="hidden" id="token" name="token" value="{$foreign.token}">
</div>
{if $foreign.statusno == 100}
<span class="state">[仮入力]</span>&nbsp;→
<select name="nextstate">
<optgroup label="未確認">
<option value="200">未確認(受付待ち)</option>
</optgroup>
<optgroup label="キャンセル">
<option value="403">協賛拒否</option>
<option value="900">協賛取消(協賛者都合)</option>
</optgroup>
</select>
{elseif $foreign.statusno == 200}
<span class="state">[未確認(受付待ち)]</span>&nbsp;→
<select name="nextstate">
<optgroup label="確認済">
<option value="300">確認済(受理待ち)</option>
</optgroup>
<optgroup label="要確認">
<option value="202">未確認(内容不備)</option>
</optgroup>
<optgroup label="キャンセル">
<option value="403">協賛拒否</option>
<option value="900">協賛取消(協賛者都合)</option>
</optgroup>
</select>
→[送付待ち]→[正式協賛者]
{elseif $foreign.statusno == 300}
[未確認]→
<span class="state">[確認済(受理待ち)]</span>&nbsp;→
<select name="nextstate">
<option value="400">受理(協賛：印刷待ち)</option>
</optgroup>
<optgroup label="キャンセル">
<option value="403">出展拒否</option>
<option value="900">出展取消(出展者都合)</option>
</optgroup>
</select>
i{elseif $foreign.statusno == 400}
[未確認]→[確認済]→
<span class="state">[受理(協賛：印刷待ち)]</span>&nbsp;→
<select name="nextstate">
<optgroup label="印刷">
<option value="401">受理(協賛)</option>
</optgroup>
<optgroup label="キャンセル">
<option value="403">出展拒否</option>
<option value="900">出展取消(出展者都合)</option>
</optgroup>
</select>
{elseif $foreign.statusno == 401}
[未確認]→[確認済]→
<span class="state">[受理(協賛)]</span>&nbsp;→
<select name="nextstate">
<optgroup label="キャンセル">
<option value="403">出展拒否</option>
<option value="900">出展取消(出展者都合)</option>
</optgroup>
{/if}
</form>
</div>

<div id="tabs">
<ul>
<li><a href="#tabcorp">協賛会社名</a></li>
<li><a href="#tabcontact">連絡先</a></li>
<li><a href="#tabbill">請求先</a></li>
<li><a href="#tabdetail">申込内容</a></li>
</ul>

<div id="tabcorp">
<table class="uniform">
<thead>
<tr><th colspan="2" class="main">協賛会社名</th></tr>
</thead>
<tbody>

<tr>
<th colspan="2" class="sub">協賛会社名</th>
</tr>

<tr>
<th class="w200">会社名</th>
<td><div class="ruby">{$foreign.corpkana nocache}</div>{$foreign.corpname nocache}</td>
</tr>

<tr>
<th class="w200">郵便番号</th>
<td>{$foreign.zip nocache}</td>
</tr>

<tr>
<th class="w200">住所</th>
<td>{$foreign.prefecture nocache}{$foreign.address1 nocache}<br/>{$foreign.address2 nocache}</td>

<tr>
<th colspan="2" class="sub">代表者名</th>
</tr>

<tr>
<th class="w200">役職</th>
<td>{$foreign.position nocache}</td>
</tr>

<tr>
<th class="w200">氏名</th>
<td><div class="ruby">{$foreign.fullkana nocache}</div>{$foreign.fullname nocache}</td>
</tr>

<tr>
<th colspan="2" class="sub">連絡先</th>
</tr>

<tr>
<th class="w200">TEL</th>
<td>{$foreign.phone nocache}</td>
</tr>

<tr>
<th class="w200">FAX</th>
<td>{$foreign.fax nocache}</td>
</tr>

</tbody>
</table>
</div>

<div id="tabcontact">
<table class="uniform" summary="連絡窓口">
<thead>
<tr><th colspan="2" class="main">協賛に関する全てのご連絡窓口</th></tr>
</thead>
<tbody>
<tr>
<th colspan="2" class="sub">会社名</th>
</tr>

<tr>
<th class="w200">会社名</th>
<td><div class="ruby">{$foreign.c_corpkana nocache}</div>{$foreign.c_corpname nocache}</td>
</tr>

<tr>
<th colspan="2" class="sub">所在地</th>
</tr>

<tr>
<th class="w200">郵便番号</th>
<td>{$foreign.c_zip nocache}</td>
</tr>

<tr>
<th class="w200">住所</th>
<td>{$foreign.c_prefecture nocache}{$foreign.c_address1 nocache}<br/>{$foreign.c_address2 nocache}</td>
</tr>

<tr>
<th colspan="2" class="sub">担当者名</th>
</tr>

<tr>
<th class="w200">所属／役職</th>
<td>{$foreign.c_division nocache} {$foreign.c_position nocache}</td>
</tr>

<tr>
<th class="w200">氏名</th>
<td><div class="ruby">{$foreign.c_fullkana nocache}</div>{$foreign.c_fullname nocache}</td>
</tr>

<tr>
<th colspan="2" class="sub">連絡先</th>
</tr>

<tr>
<th class="w200">TEL</th>
<td>{$foreign.c_phone nocache}</td>
</tr>

<tr>
<th class="w200">FAX</th>
<td>{$foreign.c_fax nocache}</td>
</tr>

<tr>
<th class="w200">携帯 </th>
<td>{$foreign.c_mobile nocache}</td>
</tr>

<tr>
<th class="w200">メールアドレス(携帯メールは不可)</th>
<td>{$foreign.c_email nocache}</td>
</tr>
</tbody>
</table>
</div>

<div id="tabbill">
<table class="uniform" summary="請求先">
<thead>
<tr><th colspan="2" class="main">請求先</th></tr>
</thead>
<tbody>
<tr>
<th colspan="2" class="sub">会社名</th>
</tr>

<tr>
<th class="w200">会社名</th>
<td><div class="ruby">{$foreign.b_corpkana nocache}</div>{$foreign.b_corpname nocache}</td>
</tr>

<tr>
<th colspan="2" class="sub">所在地</th>


<tr>
<th class="w200">郵便番号</th>
<td>{$foreign.b_zip nocache}</td>
</tr>

<tr>
<th class="w200">住所</th>
<td>{$foreign.b_prefecture nocache}{$foreign.b_address1 nocache}<br/>{$foreign.b_address2 nocache}</td>
</tr>

<tr>
<th colspan="2" class="sub">担当者名</th>
</tr>

<tr>
<th class="w200">所属／役職</th>
<td>{$foreign.b_division nocache} {$foreign.b_position nocache}</td>
</tr>
<tr>
<th class="w200">氏名</th>
<td><div class="ruby">{$foreign.b_fullkana nocache}</div>{$foreign.b_fullname nocache}</td>
</tr>

<tr>
<th colspan="2" class="sub">連絡先</th>
</tr>

<tr>
<th class="w200">TEL</th>
<td>{$foreign.b_phone nocache}</td>
</tr>

<tr>
<th class="w200">FAX</th>
<td>{$foreign.b_fax nocache}</td>
</tr>
</tbody>
</table>
</div>

<div id="tabdetail">
<table class="uniform" summary="申込内容">
<thead>
<tr><th colspan="2" class="main">申込内容</th></tr>
</thead>
<tbody>
<tr>
<th colspan="2" class="sub">プロモーションコード(英大文字＋数字)</th>
</tr>
<tr>
<th class="w200">コード</th>
<td>{$foreign.promotion nocache}</td>
</tr>
<tr><th colspan="2" class="sub">事務局メモ</span></th></tr>
<tr>
<th class="w200">メモ</th>
<td>{$foreign.comment nocache}</td>
</tr>
</tbody>
</table>

</div>
</div>

<div class="btn-detail" style="margin:20px 0 0;">
<a href="../"><img src="/images/common/btn_back.gif" width="100" height="25" alt="一覧に戻る" style="float:right;" /></a>
<a href="../change/{$foreign.spoid}"><img src="/images/common/btn_change.gif" width="150" height="25" alt="変更" /></a>
<a href="../cancel/{$foreign.spoid}"><img src="/images/common/btn_delete.gif" width="150" height="25" alt="削除" /></a>
</div>
{/block}

{block name='headjs'}{$smarty.block.parent}
<link type="text/css" href="/css/jquery/jquery-ui-1.8.11.custom.css" rel="stylesheet" />
<script type="text/javascript" src="/js/jquery/jquery-ui-1.8.11.custom.min.js"></script>
{/block}

{block name='footjs'}{$smarty.block.parent}
<script type="text/javascript" src="/js/sponsor_change.js"></script>
{/block}

{block name='pan'}
{$smarty.block.parent}&nbsp;&gt;&nbsp;協賛者&nbsp;&gt;&nbsp;申込内容詳細
{/block}
