{extends file='core/member.html'}
{block name='title'}協賛申込者 &raquo; {$smarty.block.parent}{/block}

{block name='contents'}
<h2>協賛申込者</h2>
<!--
<form id="search" method="post" action="search">
<a href="regist">[新規登録]</a>
<input type="text" id="q" name="q" value="{$q}" />
<input type="submit" id="action" name="action" value="検索" />
{if ($count > 0)}{$count}件中、{$page}ページ目 <span class="pagenation">{$pagenation}</span>{/if}
</form>
-->
<div id="cnav" class="clearfix">
<a href="regist"><img src="/images/common/btn_regist.gif" width="100" height="25" alt="新規作成" /></a>
<div class="search">
<form id="search" method="post" action="search">
<input type="image" src="/images/common/btn_search_02.gif" id="action" name="action" value="検索">
<input type="text" id="q" name="q" value="{$q}" />
</form>
</div>
</div>
<!--{if ($count > 0)}<div style="text-align:center;">{$count}件中、{$page}ページ目 <span class="pagenation">{$pagenation}</span></div>{/if}-->
<br />
<p>{if ($count > 0)}{$count}件中、{($page-1)*20+1}〜{if ($count > $page*20)}{$page*20}{else}{$count}{/if}件を表示&nbsp;&nbsp;&nbsp;<span class="pagenation">{$pagenation}</span>{/if}</p>

{foreach from=$lists name=rec item=i}
{if $smarty.foreach.rec.first}
<table class="listform tablesorter">
<thead>
 <tr>
 <th>広告者コード</th>
 <th>申込</th>
 <th>状態</th>
 <th>出展会社名</th>
 <th>代表者名</th>
 </tr>
</thead>
<tbody>
{/if}
 <tr>
 <td><a href="cancel/{$i.spoid}"><span class="cancel"></span></a><a href="detail/{$i.spoid}">{$i.spoid}</a></td>
 <td>{if $i.route == 'W'}Web{else}Fax{/if}</td>
 <td><span class="nowrap">{$status[$i.statusno] nocache}</span></td>
 <td><div class="ruby nowrap">{$i.corpkana nocache}</div>{$i.corpname nocache}</td>
 <td><div class="ruby nowrap">{$i.fullkana nocache}</div>{$i.fullname nocache}</td>
 </tr>
{if $smarty.foreach.rec.last}
</tbody>
</table>
{/if}
{foreachelse}
<div class="notice" style="width:100%; padding:20px 0;">
<p>データが見つかりません。</p>
</div>
{/foreach}
{/block}

{block name='headjs'}{$smarty.block.parent}
<link type="text/css" href="/css/jquery/tablesorter/style.css" rel="stylesheet" />
{/block}
{block name='footjs'}{$smarty.block.parent}
<script type="text/javascript" src="/js/jquery/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="/js/list.js"></script>
{/block}

{block name='pan'}
{$smarty.block.parent}&nbsp;&gt;&nbsp;協賛申込者
{/block}
