<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link type="text/css" href="/css/reset.css" rel="stylesheet" />
<link type="text/css" href="/css/style2018.css" rel="stylesheet" />
<link type="text/css" href="/css/agreement2018.css" rel="stylesheet" />
<!--[if lt IE 9]>
<script type="text/javascript" src="http://ie7-js.googlecode.com/svn/trunk/lib/IE9.js"></script>
<![endif]-->
<!--<link rel="stylesheet" type="text/css" href="css/ie6.css" media="all">-->
<!--[if IE 6]>
<script type="text/javascript" src="/js/DD_belatedPNG_0.0.8a.js"></script>
<script>
    DD_belatedPNG.fix('a,img,div');
</script>
<![endif]-->
<title>TOKYO AUTO SALON 2017 How to Apply</title>
</head>
<body>

<div id="wrapper">

<div id="header">
<h1 style="float:left;"><img src="/images/common/logo.gif" width="264" height="37" /></h1>
<div id="headerNav" style="margin:0 15px 20px;">
<!--<a href="#">開催概要</a> |-->
<a href="http://www.tokyoautosalon.jp/en">TOP PAGE</a><!--<br><a href="/en/">For foreign exhibitor</a>-->
</div>
</div>

<div id="rapper">

<div id="main" class="clearfix">
<div id="canvas" >


<div id="contents"  style="margin: 0px 15px 20px 15px;">
<div class="inner">

<h2>How to Apply</h2>

<div id="column1">

<!--
<h2 style="background-color:#C33">既に出展手続きが完了している出展者様</h2>
<div class="col" style="margin-left:0;">
<p style="margin:0;text-align:center;">
<a href="https://cus.tokyoautosalon.jp/ex/login/"><img src="images/agreement/btn_required.gif" alt="既に出展手続きが>完了している出展者様はコチラより、各種申請を行ってください。" width="690" height="38"></a><br>
出展に際しての各種情報を申請して頂きます。</p>
</div>
-->
<!--
<h3 style="background-color:#C33;margin:0 0 15px; text-align:center;"><a href="/en/" style="color:#FFF; text-decoration:underline">English page(For foreign exhibitors)</a></h3>
-->

<div class="col">
<h3>How to Apply</h3>
<h4>１）All applications must be made online through TOKYO AUTO SALON official website.</h4>
<p class="attention">Regardless of Space types, we no longer accept any application made by sending application form (hardcopy).</p>
<h5>NOTES ON APPLICATION</h5>
<ul>
<li>※Please read the regulations and guidelines shown on the website before you apply.</li>
<li>※If you wish to be registered as a single business entity but to participate in the show under two or more brandings, you are required to apply for each and every one of them.</li>
<li>※Upon completion of your application, an automatic reply will be sent to you shortly to notify that your application has been received. Please keep the e-mail.</li>
<li>※Your e-mail address to be registered must be anything other than webmail (free mail) or mobile career dependent mail.</li>
</ul>

<table>
<tr>
	<td colspan="2"><strong>Please fill in each item as described below.</strong>
</td>
	</tr>
<tr>
<th>Name of the Applicant</th>
<td>This must be the official corporate name (juridical person duly registered).</td>
</tr>
<tr>
<th>Name of the Exhibitor</th>
<td>This must be the name to be officially registered as a TAS Exhibitor. It will be shown on official printed materials of TAS, the floor plan, information boards on the premises and the official website.</td>
</tr>
<tr>
<th>Person Responsible for Participation</th>
<td>This must be the name of the person responsible for your participation. A staff member belonging to the applicant company only. &ldquo;Acceptance Letter&rdquo; will be addressed to this person.</td>
</tr>
<tr>
<th>Billing Address</th>
<td>This must be where the participation fee, an additional purchase of Exhibitor pass/complimentary ticket, or whatever cost money will be billed to.</td>
</tr>
<tr>
<th>Point of Contact with TASA</th>
<td>This must be a liaison officer with TASA hence an exlusive point of contact for all enquiries made by TASA.</td>
</tr><tr>
<th>Delivery Address</th>
<td>This is where all the show-related materials, such as Exhibitor&rsquo;s Guidelines, passes, complimentary tickets and posters, are sent to.</td>
</tr>
</table>

<dl>
<dt>[Recommended Browsers]</dt>
<dd>Microsoft Internet Explorer 9.0 or later;</dd>
<dd>Mozilla Firefox 10 or later;</dd>
<dd>Google Chrome latest version; or</dd>
<dd>Safari 5.0 or later<br>
※ Older browsers, incompatible browsers or any browser that does not support JavaScript, cookie, SSL and style sheet may not work properly</dd>
</dl>
</div>

<div class="col">
<h3>Your application is officially accepted upon issuance of an &ldquo;Acceptance Letter&rdquo;.</h3>
<ul>
<li> Application will NOT be confirmed on a first-come-first-served basis.</li>
<li>All applications made within a fixed application period will be fairly considered by TASA. Your application is officially confirmed and legally binding for you upon issuance of an Acceptance Letter.</li>
</ul>
<p>Registration Timeline<br>
	<a href="http://www.tokyoautosalon.jp/2018ex/en/procedure/" target="_blank">Click here</a></p>
</div>

<div class="col">
<h3>Registration Timeline</h3>
<p><span class="red big">Registration is open between Monday 23  July at 10:00 and Tuesday 31 July 2019 at 17:00.</span>
<br>We DO NOT accept any application made after the deadline.</p>
</div>
<!--
<div class="col">
<h3>お申込み送付先</h3>
<p>東京オートサロン事務局（株式会社サンズ内）宛
<br>
〒160-8463　東京都新宿区新宿6-27-30　新宿イーストサイドスクエア7F　株式会社サンズ内</p>
</div>
-->
<div class="col">
<h3>Payment</h3>
<div class="clearfix">
	<p>Please pay your participation fee by bank transfer to any of the following account no later than <span class="red">Friday 24 November 2017</span>.</p>
<p class="red">※ALL BANK CHARGES MUST BE PAID BY YOU.</p>
	<p>Beneficiary name: TOKYO AUTO SALON ASSOCIATION</p>
<table>
<tr>
	<td align="left">Name of the Bank (Bank Code) </td>
	<td align="left">Branch</td>
	<td align="left">SWIFT Code</td>
	<td align="left">Account Type</td>
	<td align="left">Account No.</td>
</tr>
<tr>
<th align="left">Resona Bank, Ltd. (0010)</th>
<td align="left">Shintoshin Branch</td>
<td align="left">DIWAJPJT</td>
<td align="left">deposit account</td>
<td align="left">675-3035135</td>
</tr>
<tr>
<th align="left">Sumitomo Mitsui Banking Corporation (0009)</th>
<td align="left">Shinjuku Branch</td>
<td align="left">SMBCJPJT</td>
<td align="left">deposit account</td>
<td align="left">221-2345611</td>
</tr>
<tr>
<th align="left">Mizuho Bank, Ltd. (0001)</th>
<td align="left">Takatanobaba Branch</td>
<td align="left">MHCBJPJT</td>
<td align="left">deposit account</td>
<td align="left">064-1677741</td>
</tr>
<tr>
<th align="left">Hokuriku Bank (0144)</th>
<td align="left">Shinjuku Branch</td>
<td align="left">RIKBJPJT</td>
<td align="left">deposit account</td>
<td align="left">607-4152310</td>
</tr>
</table>
</div>
</div>

<div class="col">
<h3>Cancellation Fee</h3>
<p style="margin:0 0 10px 2em;">For whatever reason, any cancellation made after the predetermined dates below are subject to a cancelletion fee.</p>
<ul class="notfi">
<li class="red">[After 1 September 2018] 50 percent of the participation fee</li>
<li class="red">[After 1 October 2018] 100 percent of the participation fee</li>
</ul>
</div>

<div class="col">
<h3>IMPORTANT NOTICE</h3>
<ul class="notfi">
<li>
●In any of the cases in each of the items below, TASA may revoke the acceptance of your application; or refuse your participation even after the receipt of your payment:
<ul class="blue" style="margin:10px 0 10px 1em;">
<li>1. If you fail to pay the participation fee by the due date;</li>
<li>2. If TASA deems your line of business or your showpiece goes against the show’s policy; and/or</li>
<li>3. If your participation is deemed inappropriate by TASA for whatever reason.</li>
</ul>
</li>
<li>●Any cancellation made after the predetermined date or late payment may result in your application for TAS being denied in the next show onwards.</li>
</ul>
</div>
</div>

<div id="column2">
<h2>Application Form for Exhibition</h2>
<div class="col2">
<p>We hereby apply for exhibition at TOKYO AUTO SALON 2018, in accordance with the following application form.<br>
  In entering the exhibition, we promise to adhere to the rules set out in the Information for Exhibitors and exhibitors&rsquo; guidelines, and all instructions from TASA. In the event that we violate such rules or instructions, we will comply with any orders to cancel or suspend our exhibition.</p>
</div>
<p class="info">Only those who can agree to the provisions of the above, please apply exhibitors.</p>
<div id="btn" class="clearfix">
<a href="/en/entry/regist/" id="agree"><img src="/images/agreement/btn_yes_en.gif"  width="100" height="25" alt="agree"></a>
<a href="http://www.tokyoautosalon.jp/" target="_top"><img src="/images/agreement/btn_no_en.gif" width="100" height="25" alt="disagree"></a>
</div>
</div>
</div>

</div>
</div>
</div>

</div>

<div id="footer">
<p>COPYRIGHT &copy; 1983-2017 Tokyo autosalon association(TASA)</p>
</div>

</div><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(
  ['a._setAccount', 'UA-24139751-1'],
  ['a._setDomainName', '.tokyoautosalon.jp'],
  ['a._setAllowHash', false],
  ['a._trackPageview'],
  ['b._setAccount', 'UA-179236-27'],
  ['b._setDomainName', '.tokyoautosalon.jp'],
  ['b._setAllowHash', false],
  ['b._trackPageview']
  ['b._setAccount', 'UA-24139751-2'],
  ['b._setDomainName', '.tokyoautosalon.jp'],
  ['b._setAllowHash', false],
  ['b._trackPageview']
  );

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
