<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link type="text/css" href="/css/reset.css" rel="stylesheet" />
<link type="text/css" href="/css/style.css" rel="stylesheet" />
<link type="text/css" href="/css/agreement.css" rel="stylesheet" />
<!--[if lt IE 9]>
<script type="text/javascript" src="http://ie7-js.googlecode.com/svn/trunk/lib/IE9.js"></script>
<![endif]-->
<!--<link rel="stylesheet" type="text/css" href="css/ie6.css" media="all">-->
<!--[if IE 6]>
<script type="text/javascript" src="/js/DD_belatedPNG_0.0.8a.js"></script>
<script>
    DD_belatedPNG.fix('a,img,div');
</script>
<![endif]-->
<title>TOKYO AUTO SALON 2017</title>
</head>
<body>

<div id="wrapper">

<div id="header">
<h1 style="float:left;"><img src="/images/common/logo.gif" width="264" height="37" /></h1>
<div id="headerNav" style="margin:0 15px 20px;">
<!--<a href="#">開催概要</a> |-->
<a href="http://www.tokyoautosalon.jp/2019/en/">TOP PAGE</a>
</div>
</div>

<div id="rapper">

<div id="main" class="clearfix">
<div id="canvas" >


<div id="contents"  style="margin: 0px 15px 20px 15px;">
<div class="inner">

<h2>How to Apply as an Exhibitor</h2>
<div class="col">
<dl>
<dt>Information for Potential Exhibitors from Overseas</dt>
<dd>Please understand that all information, applications and inquiries related to exhibition at TOKYO AUTO SALON 2017 will be handled in Japanese.<br>
The exhibitors’ guidelines, which contains the exhibition notebook and regulations sent out after acceptance as an exhibitor, will only be produced in Japanese.
We will not provide translations into English or handle inquiries in any language other than Japanese.<br>
Please make sure you understand the exhibitors’ guidelines in Japanese and comply with the regulations.<br>
TOKYO AUTO SALON ASSOCIATION will not provide interpreting services or introduce interpreter agencies.<br>
Exhibitors are asked to arrange staff capable of understanding Japanese and/or interpreters.<br>
We request that applications are made only by applicants who can understand and comply with the above.</dd>
</dl>
</div>

<div class="col">
<h3>Application Methods</h3>
<dl>
<dt>１）Applying online</dt>
<dd>Please apply via the official TOKYO AUTO SALON website.
<br>
* S spaces cannot be applied for via the website. Always apply for these spaces using the application form.</dd>
</dl>
<dl>
<dt>2）Applying using the application form</dt>
<dd>Fill in the necessary fields on the application form, sign, and send to the following application address <u>by courier</u>.<br>
  * Always keep a copy of your application.</dd>
</dl>
<dl>
<dt>3）Applications will be accepted on a first-come first-served basis.</dt>
<dd>
<ul>
<li>・Booth locations for spaces A-F will be decided by TASA in order of application.</li>
<li>・Exhibit locations for space S will be decided through a lottery.</li>
</ul>
</dd>
</dl>
<dl class="last">
<dt>4）Acceptance becomes officials once exhibition acceptance forms are sent.</dt>
<!--<dd>「出展申込みの流れ」を図にてご説明しております。<br>
<a href="/howto/flow.html" target="_blank">こちらをご覧ください。</a></dd>-->
</dl>

</div>

<div class="col">
<h3>Application Period</h3>
<p><span class="red big"><u>Exhibition applications are accepted from August 6 (Wed), 2014.</u></span>
<br><span class="red">Applications will be closed as soon as the full allocation of spaces has been applied for.</span>
</p>
</div>

<div class="col">
<h3>Application address</h3>
<p>TOKYO AUTO SALON ASSOCIATION<br>
c/o San's Inc.<br>
Shinjuku East-side Square 7F<br>
6-27-30 Shinjuku<br>
Shinjuku-ku, Tokyo 160-8463, JAPAN
</p></div>

<div class="col">
<h3>Payment of Exhibition Fees</h3>
<div class="clearfix">
<div class="left">
<p>Exhibition fees must be transferred to TOKYO AUTO SALON ASSOCIATION no later than November 28 (Fri), 2014.</p>
<p class="red">* Applicants must pay all bank transfer fees.</p>
</div>
<div class="right">
<table>
<tr>
<th align="left">Resona Bank</th>
<td align="left">Shintoshin Branch</td>
<td align="left">（Ordinary deposit account）3035135</td>
</tr>
<tr>
<th align="left">Sumitomo Mitsui Bank</th>
<td align="left">Shinjuku Branch</td>
<td align="left">（Ordinary deposit account）2345611</td>
</tr>
<tr>
<th align="left">Mizuho Bank</th>
<td align="left">Takadanobaba Branch</td>
<td align="left">（Ordinary deposit account）1677741</td>
</tr>
<tr>
<th align="left">Hokuriku Bank</th>
<td align="left">Shinjuku Branch</td>
<td align="left">（Ordinary deposit account）4152310</td>
</tr>
</table>
</div>
</div>
</div>

<div class="col">
<h3>Cancellation Fees</h3>
<p style="margin:0 0 10px 2em;">Regardless of the reason, cancellations made after the following deadline shall incur the prescribed cancellation fee.</p>
<ul class="notfi">
<li class="red">●Cancellation after delivery of the acceptance form: 50% of total exhibition fees.</li>
<li class="red">●Cancellation on or after October 31 (Fri): 100% of total exhibition fees.</li>
</ul>
</div>

<div class="col">
<h3>Special Notes</h3>
<ul class="notfi">
<li>
●TASA reserves right to cancel accepted applications and to refuse participation even after acceptance of exhibition fees for any of the following reasons.
  <ul class="blue" style="margin:10px 0 10px 1em;">
<li>1. If payment is not made in full by the designated deadline;</li>
<li>2. If TASA deems any exhibits or exhibitors to be in conflict with the show's objectives;</li>
<li>3. If for any other reason TASA deems an exhibit to be inappropriate.</li>
</ul>
</li>
<li>●Also, please note that action such as booth cancellation after the designated deadline and late payments may cause an exhibitor to be turned down at future exhibitions.</li>
</ul>
</div>

{if ((isset($soldout) && $soldout != '') || (isset($waiting) && $waiting != ''))}
<div class="col">
<h3>各スペース受付状況</h3>
<ul class="notfi bold">
{if (isset($soldout) && $soldout != '')}
    <li class="red big">{$soldout}は募集数に達した為、受付を終了いたしました。</li>
{/if}
{if (isset($waiting) && $waiting != '')}
	<li class="red big">{$waiting}は募集数に達した為、キャンセル待ちにて受付とさせて頂いております。</li>
{/if}
</ul>
</div>
{/if}



<div id="column2">
<h2>Application Form for Exhibition</h2>
<div class="col2">
<p>We hereby apply for exhibition at TOKYO AUTO SALON 2017, in accordance with the following application form.<br>
  In entering the exhibition, we promise to adhere to the rules set out in the Information for Exhibitors and exhibitors&rsquo; guidelines, and all instructions from TASA. In the event that we violate such rules or instructions, we will comply with any orders to cancel or suspend our exhibition.</p>
</div>
<p class="info">Only those who can agree to the provisions of the above, please apply exhibitors.</p>
<div id="btn" class="clearfix">
<a href="/en/entry/regist/" id="agree"><img src="/images/agreement/btn_yes_en.gif"  width="100" height="25" alt="agree"></a>
<a href="http://www.tokyoautosalon.jp/" target="_top"><img src="/images/agreement/btn_no_en.gif" width="100" height="25" alt="disagree"></a>
</div>
</div>
</div>
</div>

</div>
</div>
</div>

</div>

<div id="footer">
<p>COPYRIGHT &copy; 1983-2016copy; 1983-2017 Tokyo autosalon association(TASA)</p>
</div>

</div><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(
  ['a._setAccount', 'UA-24139751-1'],
  ['a._setDomainName', '.tokyoautosalon.jp'],
  ['a._setAllowHash', false],
  ['a._trackPageview'],
  ['b._setAccount', 'UA-179236-27'],
  ['b._setDomainName', '.tokyoautosalon.jp'],
  ['b._setAllowHash', false],
  ['b._trackPageview']
  ['b._setAccount', 'UA-24139751-2'],
  ['b._setDomainName', '.tokyoautosalon.jp'],
  ['b._setAllowHash', false],
  ['b._trackPageview']
  );

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
