<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link type="text/css" href="/css/reset.css" rel="stylesheet" />
<link type="text/css" href="/css/style.css" rel="stylesheet" />
<link type="text/css" href="/css/accept.css" rel="stylesheet" />
<!--[if lt IE 9]>
<script type="text/javascript" src="http://ie7-js.googlecode.com/svn/trunk/lib/IE9.js"></script>
<![endif]-->
<!--<link rel="stylesheet" type="text/css" href="css/ie6.css" media="all">-->
<!--[if IE 6]>
<script type="text/javascript" src="/js/DD_belatedPNG_0.0.8a.js"></script>
<script>
    DD_belatedPNG.fix('a,img,div');
</script>
<![endif]-->
<title>TOKYO AUTO SALON 2020 BOOTH BOOKING</title>
</head>
<body>

<div id="wrapper">

<div id="header">
<h1 style="float:left;"><img src="/images/common/logo.gif" width="264" height="37" /></h1>
<div id="headerNav" style="margin:0 15px 20px;">
<!--<a href="#">開催概要</a> |-->
<a href="http://www.tokyoautosalon.jp/2020ex/en/">TOP Page</a>
</div>
</div>

<div id="rapper">

<div id="main" class="clearfix">
<div id="canvas" >


<div id="contents"  style="margin: 0px 15px 20px 15px;">
<div class="inner">
<div id="column1">
<h2>TOKYO AUTO SALON 2020 BOOTH BOOKING</h2>
<p>Thank you for your interest in exhibiting at TOKYO AUTO SALON 2020.<br>
    Registration for a booth booking will be available on Mon 23 July 2018 at 10:00 (JST).<br>
<br> 
	<span style="font-weight:bold; color:#f00; font-size:1.2em">&lt;HOW TO APPLY&gt;</span><br>
    <span>All applications must be made online through TOKYO AUTO SALON official website.</span><br><br>
	<span style="font-weight:bold; color:#f00; font-size:1.2em">&lt;APPLICATION DEADLINE&gt;</span><br>
<span>Registration is open between Mon 23 July at 10:00 and Tue 31 July 2018 at 17:00 (JST).
<br>
    *We DO NOT accept any application made after the deadline.</span></p>
<p>Tokyo Auto Salon Association</p>

</div>



</div>

</div>
</div>
</div>

</div>

<div id="footer">
<p>COPYRIGHT &copy; 1983-2018 Tokyo autosalon association(TASA)</p>
</div>

</div><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(
  ['a._setAccount', 'UA-24139751-1'],
  ['a._setDomainName', '.tokyoautosalon.jp'],
  ['a._setAllowHash', false],
  ['a._trackPageview'],
  ['b._setAccount', 'UA-179236-27'],
  ['b._setDomainName', '.tokyoautosalon.jp'],
  ['b._setAllowHash', false],
  ['b._trackPageview']
  ['b._setAccount', 'UA-24139751-2'],
  ['b._setDomainName', '.tokyoautosalon.jp'],
  ['b._setAllowHash', false],
  ['b._trackPageview']
  );

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
