{extends file='core/member.html'}
{block name='title'}請求 &raquo; {$smarty.block.parent}{/block}

{block name='contents'}
<h2>請求</h2> 
<div class="article">
<p>以下は、請求として発生しているものを表示しています。</p>
</div>

<div id="cnav" class="clearfix">
<div class="search">
<form id="search" method="post" action="search">
<input type="image" src="/images/common/btn_search_02.gif" id="action" name="action" value="検索">
<input type="text" id="q" name="q" value="{$q}" />
媒体ブーズ:<select name="p" id="promotion">
<option value="">(選択なし)</option>
<option value="OPTION"{if $p=="OPTION"} selected="selected"{/if}>OPTION</option>
<option value="OPT2"{if $p=="OPT2"} selected="selected"{/if}>OPTION2</option>
<option value="DORI"{if $p=="DORI"} selected="selected"{/if}>ドリフト天国</option>
<option value="GWORKS"{if $p=="GWORKS"} selected="selected"{/if}>G-ワークス</option>
<option value="GENROQ"{if $p=="GENROQ"} selected="selected"{/if}>GENROQ</option>
<option value="SPE"{if $p=="SPE"} selected="selected"{/if}>Special Cars</option>
<option value="STYLE"{if $p=="STYLE"} selected="selected"{/if}>STYLE WAGON</option>
<option value="REV"{if $p=="REV"} selected="selected"{/if}>REV SPEED</option>
<option value="JLUG"{if $p=="JLUG"} selected="selected"{/if}>J-LUG</option>
<option value="GOOUT"{if $p=="GOOUT"} selected="selected"{/if}>GO OUT</option>
<option value="clicccar"{if $p=="clicccar"} selected="selected"{/if}>クリッカー</option>
</select>
</select>
スペース:<select name="s" id="spaceid">
<option value="">全て</option>
<option value="1"{if $s=="1"} selected="selected"{/if}>Aスペース</option>
<option value="2"{if $s=="2"} selected="selected"{/if}>Bスペース</option>
<option value="3"{if $s=="3"} selected="selected"{/if}>Cスペース</option>
<option value="4"{if $s=="4"} selected="selected"{/if}>Dスペース</option>
<option value="5"{if $s=="5"} selected="selected"{/if}>Eスペース</option>
<option value="6"{if $s=="6"} selected="selected"{/if}>Fスペース</option>
<option value="7"{if $s=="7"} selected="selected"{/if}>S(300㎡)</option>
<option value="8"{if $s=="8"} selected="selected"{/if}>S(400㎡)</option>
<option value="9"{if $s=="9"} selected="selected"{/if}>S(450㎡)</option>
<option value="10"{if $s=="10"} selected="selected"{/if}>S(500㎡)</option>
<option value="11"{if $s=="11"} selected="selected"{/if}>S(600㎡)</option>
<option value="12"{if $s=="12"} selected="selected"{/if}>S(800㎡)</option>
<option value="13"{if $s=="13"} selected="selected"{/if}>S(900㎡)</option>
<option value="14"{if $s=="14"} selected="selected"{/if}>S(1000㎡)</option>
<option value="15"{if $s=="15"} selected="selected"{/if}>NAPAC-C</option>
<option value="19"{if $s=="19"} selected="selected"{/if}>NAPAC-D</option>
<option value="16"{if $s=="16"} selected="selected"{/if}>NAPAC-E</option>
<option value="17"{if $s=="17"} selected="selected"{/if}>JASMA-E</option>
</select>
</form>
</div>
</div>

<br />

<div id="tabbooth"> 
{foreach from=$lists name=rec item=i}
{if $smarty.foreach.rec.first}
<table class="listform tablesorter">
<thead> 
<tr>
<th class="nowrap">請求書番号</th>
<th class="nowrap">請求先</th> 
<th class="nowrap">分類</th> 
<th class="nowrap">請求日</th> 
<th class="nowrap">請求金額</th>
<th class="nowrap">入金日</th> 
<th class="nowrap">消込金額</th>
<th class="nowrap">残金</th>
<th class="nowrap">入金済</th>
</tr>
</thead> 
<tbody> 
{/if}
<tr>
 <td><a href="detail/{$i.invoiceno}">{$i.invoiceno}</a></td>
 <td><div class="ruby">{$i.corpkana}</div>{$i.corpname}</td>
 <td class="nowrap">{if $i.itemtype == 0}出展料{else}その他{/if}</td>
 <td class="nowrap">{$i.issuedate}</th> 
 <td class="right">&yen;{($i.subtotal-($i.discount+$i.discounttotal))|number_format}</td>
 <td class="nowrap">{$i.paymentdate|truncate:10:""}</th> 
 <td class="right">&yen;{$i.sumpaymentamount|number_format}</td>
 <td class="right">&yen;{($i.subtotal-($i.discount+$i.discounttotal)-$i.sumpaymentamount)|number_format}</td>
 <td class="center">{if $i.paid}済{/if}</td>
 </tr>
{if $smarty.foreach.rec.last}
</tbody>
</table>

<div>
<h3>ダウンロード</h3>
<p>
<a href="download/csv"><img src="/images/common/ico_csv.png" style="vertical-align:text-bottom" width="48" height="48" alt="CSV" title="CSV" />(CSVファイル)</a>
<a href="download/xlsx"><img src="/images/common/ico_xlsx.png" style="vertical-align:text-bottom" width="48" height="48" alt="Excel2007" title="Excel2007" />(Excelファイル)</a>
</p>
</div>
{/if}
{foreachelse}
<div class="warn" style="width:100%; padding:20px 0;">
見つかりません.
</div>
{/foreach}
{/block}

{block name='headjs'}{$smarty.block.parent}
<link type="text/css" href="/css/jquery/tablesorter/style.css" rel="stylesheet" />
{/block}
{block name='footjs'}{$smarty.block.parent}
<script type="text/javascript" src="/js/jquery/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="/js/invoice_list.js"></script>
{/block}

{block name='pan'}
{$smarty.block.parent} &gt; 請求
{/block}
