@charset "utf-8";
#wrapper {
	width:100%;
	background:url(/images/common/main_bg_01.gif) repeat-x #edf0f5;
	min-width:0px;
	text-align:center;
}
#rapper {
	width:800px;
	margin:0 auto;
	text-align:left;
}
#contents a {
	font-weight:bold ;
}
#contents a:hover {
	text-decoration:underline;
}
#contents p {
	font-size:12px;
}
.col {
	margin:0 20px 20px;
}
.col h3 {
	height:30px;
	line-height:33px;
	font-size:14px;
	margin:0 0 10px;
	padding:0 10px;
	background:#014BA8;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color:#fff;
}
#column1 {
	margin:0;
}
#column1 dl {
}
#column1 dl dt {
	font-weight:bold;
	font-size: 1.25em;
	color: #C00;
	margin:1em 1em 1em;
}
#column1 dl dd,
#column1 p {
	margin:0 2em 1.5em;
	font-size: 0.85em;
}
#column1 ul.notfi {
	margin:0 0 0 2em;
}
#column1 ul.notfi li {
	margin:0 0 0 1em;
	text-indent:-1em;
}

#column1 .col .left {
	float:left;
	width:360px;
	margin:0 20px 0 0;
}
#column1 .col .right {
	float:left;
	width:300px;
}
#column2 {
	text-align:center;
	padding: 10px;
	background-color: #A2B5FF;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#column2 h3 {
	font-size: 1.2em;
	font-weight:bold;
}
#column2 h3 a {
	color:#444;
}
#column2 h3 a:hover {
	color:#000;
	text-decoration:underline;
}
#column2 .col2 {
	width:400px;
	margin:0 auto 10px;
	text-align:left;
	font-size:14px;
	font-weight:bold;
	padding:10px;
	border-radius: 5px;		/* CSS3草案 */
	-webkit-border-radius: 5px;	/* Safari,Google Chrome用 */
	-moz-border-radius: 5px;	/* Firefox用 */
	border:1px solid #FF9900;
	background:#fff;
}
#column2 p.info{
	text-align:left;
	margin:0 auto;
	padding:0 10px;
	height:20px;
	line-height:20px;
	width:400px;
	background:#FF9900;
	color:#fff;
}
#column2 #btn {
	width:300px;
	margin:10px auto 0;
}
#column2 #btn #agree {
	width:100px;
	float:left;
}
#column2 #btn a {
	width:100px;
	float:right;
	display:block;
}
.red {
	color:#c00;
}
.green {
	color:#063;
}
.blue {
	color:#06F;
}
.big {
	font-size:1.5em;
}
.middle {
	font-size:1.25em;
}
.last {
	margin:0;
}

/* ADDITIONAL MIKO */
#contents tr:nth-child(odd){
    background:#f8f8f8;
}
#contents table {
    width:100%;
}
#contents table.uniform {
    margin:0 0 20px;
}
#contents th {
    background-color:#eaeaea;
    height:33px;
    line-height:33px;
    border-bottom:1px solid #d6d6d6;
    margin:0;
    color:#000;
    font-weight:bold;
    line-height:1.3em;
    padding:0 5px;
}
#column1 .col .note {
	color: #FFF;
	background-color: #036;
	padding: 10px;
	font-size: 1.3em;
	margin: 0 0 15px;
}
